<template>
  <button
      role="presentation"
      :class="['child-container', { dark: $colorScheme === 'dark' }]"
  >
    <span
        @click.stop="$emit('updateLayout', 'list')"
        @keydown.enter="$emit('updateLayout', 'list')"
        onclick="this.blur()"
        @mouseenter="isListTooltipVisible = true"
        @mouseleave="isListTooltipVisible = false"
        role="button"
        :tabindex="layout === 'list' ? -1..toString() : 0..toString()"
        aria-label="List layout"
        :aria-pressed="(layout === 'list').toString()"
        class="list"
    >
      <BaseToolTipSmall
          v-if="isListTooltipVisible"
          :is-tooltip-visible="isListTooltipVisible"
          tip="List"
          class="tip"
      />
      <ListIcon/>
    </span>
    <div
        @mouseenter="showActiveTooltip"
        @mouseleave="hideActiveTooltip"
        @click.stop="$emit('updateLayout', layout === 'list' ? 'grid' : 'list')"
        @keydown.enter="$emit('updateLayout', layout === 'list' ? 'grid' : 'list')"
        onclick="this.blur()"
        tabindex="0"
        :class="['switcher', { second: layout === 'grid' }]"
    >
      <div class="option">
        <ListIcon v-if="layout === 'list'"/>
        <GridIcon v-if="layout === 'grid'"/>
      </div>
    </div>
    <span
        @click.stop="$emit('updateLayout', 'grid')"
        @keydown.enter="$emit('updateLayout', 'grid')"
        onclick="this.blur()"
        @mouseenter="isGridTooltipVisible = true"
        @mouseleave="isGridTooltipVisible = false"
        role="button"
        :tabindex="layout === 'grid' ? -1..toString() : 0..toString()"
        aria-label="Grid layout"
        :aria-pressed="(layout === 'grid').toString()"
        class="grid"
    >
      <BaseToolTipSmall
          v-if="isGridTooltipVisible"
          :is-tooltip-visible="isGridTooltipVisible"
          tip="Grid"
          class="tip"
      />
      <GridIcon/>
    </span>
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ListIcon from '@/assets/icons/common/layout/list.svg?inline';
import GridIcon from '@/assets/icons/common/layout/grid.svg?inline';
import { Presentation } from '@/types';

@Component({ components: { ListIcon, GridIcon } })
export default class ContentLayoutSelector extends Vue {
  @Prop({ type: String, required: true, default: 'list' })
  readonly layout!: Presentation['layout'];

  isListTooltipVisible = false;

  isGridTooltipVisible = false;

  showActiveTooltip() {
    if (this.layout === 'list') this.isListTooltipVisible = true;
    else if (this.layout === 'grid') this.isGridTooltipVisible = true;
  }

  hideActiveTooltip() {
    if (this.layout === 'list') this.isListTooltipVisible = false;
    else if (this.layout === 'grid') this.isGridTooltipVisible = false;
  }
}
</script>

<style scoped lang="scss">
  .child-container {
    width: fit-content;
    background: $common-ui-white;
    border: 1px solid rgba($common-ui-blue, 0.2);
    height: 38px;
    border-radius: 20px;
    padding: 2px;
    cursor: default;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.24s;

    &:focus {
      outline: none;
    }
  }

  .switcher {
    @include focus-highlight;
    width: 50px;
    height: 32px;
    border-radius: 20px;
    border: 2px solid $common-ui-blue;
    background: $common-ui-white;
    box-shadow: $common-ui-dark-shadow;
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-ui-dark;
    cursor: pointer;
    animation: right-to-left 0.24s ease-in-out;
  }

  .second {
    left: unset;
    right: 2px;
    animation: left-to-right 0.24s ease-in-out;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .grid, .list {
    @include focus-highlight;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: 20px;
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
    position: relative;
    transition: all 0.24s;

    &:hover {
      background: rgba($common-ui-blue, 0.08);
      color: $common-ui-blue;
    }

    .tip {
      position: absolute;
      top: calc(-100% - 10px);
      left: -4px;
    }
  }

  .list {
    margin-right: 8px;
  }

  @keyframes left-to-right {
    from {
      left: unset;
      right: 48px;
    }
    to {
      right: 2px;
    }
  }

  @keyframes right-to-left {
    from {
      right: unset;
      left: 48px;
    }
    to {
      left: 2px;
    }
  }

  .dark {
    background: $dark-ui-background;

    .switcher {
      background: $dark-ui-dark;
      border: 2px solid rgba($common-ui-blue, 0.4);
      color: $common-ui-white;
    }
  }
</style>
