<template>
  <div :class="['sorter-container', { dark: $colorScheme === 'dark' }]">
    <button
        @click="isMenuShown = !isMenuShown"
        @mouseenter="isTooltipVisible = true"
        @mouseleave="isTooltipVisible = false"
        onclick="this.blur()"
        aria-haspopup="true"
        aria-label="Customize Sort and Filtering"
        :aria-pressed="isMenuShown.toString()"
        aria-describedby="tooltip"
        v-click-outside
        class="button"
    >

      <BaseToolTipSmall
          v-if="isTooltipVisible"
          :is-tooltip-visible="isTooltipVisible"
          tip="Sort and Filter"
          class="tip"
      />

      <svg :class="{ descending: ordering === 'desc' }"
           xmlns="http://www.w3.org/2000/svg" width="8.366" height="12.149"
           viewBox="0 0 8.366 12.149">
        <g id="Group_15447" data-name="Group 15447"
           transform="translate(-555.305 -124.251)">
          <path id="Path_9996" data-name="Path 9996"
                d="M-7192.479,620.922l3.475-3.27,3.477,3.27"
                transform="translate(7748.491 -492.901)" fill="none"
                stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round"
                stroke-width="1"/>
          <path id="Path_9997" data-name="Path 9997"
                d="M-7191.512,615.892V626.9"
                transform="translate(7751 -491)" fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-width="1"/>
        </g>
      </svg>
      <span class="sort-by">{{ sortBy ? sortBy.display : '' | capitalize }}</span>
      <svg
          class="dropdown"
          :class="{ 'rotate-dropdown': isMenuShown }"
          xmlns="http://www.w3.org/2000/svg"
          width="9.709"
          height="5.395"
          viewBox="0 0 9.709 5.395"
      >
        <path
            id="Path_2500"
            data-name="Path 2500"
            d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,
          0-.463.463L10.8,38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,
          .232-.1l4.307-4.307A.321.321,0,0,0,15.582,33.5Z"
            transform="translate(-6.168 -33.168)"
            fill="currentColor"
            stroke="currentColor"
            stroke-width="0.4"
        />
      </svg>
    </button>

    <transition name="slide-fast-down" appear>
      <div
          v-if="isMenuShown"
          @click.stop=""
          class="order-sort-wrapper"
      >
        <div class="pointer"></div>
        <span class="section-title">Order</span>
        <ul
            tabindex="-1"
            role="listbox"
            aria-label="Set ordering"
            class="menu-options"
        >
          <li
              @click="updateOrdering('asc')"
              @keydown.enter="updateOrdering('asc')"
              tabindex="0" role="option"
              :class="['list-item',{ selected: ordering === 'asc' }]">
            Ascending
          </li>
          <li
               @click="updateOrdering('desc')"
               @keydown.enter="updateOrdering('desc')"
               tabindex="0" role="option"
               :class="['list-item', { selected: ordering === 'desc' }]"
          >
            Descending
          </li>
        </ul>

        <div class="demarcate"></div>

        <span class="section-title">Sort by</span>
        <ul
           tabindex="-1"
           role="listbox"
           aria-label="Set ordering"
           class="menu-options"
        >
          <li
              v-for="option in sortOptions"
              :key="option.key"
              @click="updateSortBy(option)"
              @keydown.enter="updateSortBy(option)"
              tabindex="0" role="option"
              :class="['list-item', { selected: sortBy.key === option.key }]"
          >
            {{ option ? option.display : '' | capitalize }}
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Presentation } from '@/types';

@Component
export default class SortAndFilter extends Vue {
  @Prop({ type: Array, required: true })
  readonly sortOptions!: Presentation['sortBy'][];

  @Prop({ type: Object })
  readonly sortBy!: Presentation['sortBy'];

  @Prop({ type: String })
  readonly ordering!: Presentation['ordering'];

  isMenuShown = false;

  isTooltipVisible = false;

  updateOrdering(ordering: Presentation['ordering']) {
    this.$emit('updateSortAndOrderBy', { ordering, sortBy: this.sortBy });
    this.isMenuShown = false;
  }

  updateSortBy(sortBy: Presentation['sortBy']) {
    this.$emit('updateSortAndOrderBy', { ordering: this.ordering, sortBy });
    this.isMenuShown = false;
  }
}
</script>

<style scoped lang="scss">
  .sorter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    position: relative;
    z-index: 2;
  }

  .button {
    @include focus-highlight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 14px;
    border-radius: 20px;
    border: 2px solid $common-ui-blue;
    background: $common-ui-white;
    box-shadow: 0 1px 5px rgba($light-ui-dark, 0.04);
    color: $light-ui-dark;
    position: relative;
    cursor: pointer;
    transition: all 0.24s;

    span {
      margin: 0 12px 0 8px;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      white-space: nowrap;
    }

    .descending {
      transform: scaleY(-1);
    }

    .dropdown {
      width: 10px;
      height: 6px;
    }

    .rotate-dropdown {
      transform: scaleY(-1);
    }
  }

  .order-sort-wrapper {
    position: absolute;
    top: calc(100% + 12px);
    border-radius: 10px;
    background-color: $common-ui-white;
    box-shadow: $common-ui-blue-spread-shadow;
    min-width: 180px;
    padding: 8px 0;

    &::before {
      $size: 16px;
      content: '';
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: calc(50% - 8px);
      top: -8px;
    }
  }

  .menu-options {
    list-style: none;
    padding-left: 0;
    margin: 0;

    .list-item {
      @include focus-highlight;
      padding: 8px 28px;
      font-size: $font-medium-size;
      border-left: 2px solid transparent;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background: rgba($common-ui-blue, 0.1);
        border-color: $common-ui-blue;
      }

      &:focus {
        margin: 0 2px;
        border-radius: 2px;
      }
    }

    .selected {
      @include medium-small-font;
      position: relative;

      &::before {
        content: url("../../../../assets/icons/common/selected_check.svg");
        position: absolute;
        left: 10px;
      }
    }
  }

  .demarcate {
    margin: 0 0 12px;
    border-bottom: $standard-border;
    height: 0;
  }

  .section-title {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 8px 0 2px 28px;
    font-size: .7rem;
    cursor: default;
    display: block;
  }

  .tip {
    position: absolute;
    top: calc(-100% - 12px);
  }

  .slide-fast-down-enter-active,
  .slide-fast-down-leave-active {
    transition: all 0.08s;
  }

  .slide-fast-down-enter,
  .slide-fast-down-leave-to {
    opacity: 0.7;
    transform: translateY(3px) scale(0.9);
  }

  .dark {
    color: $common-ui-white;

    .button {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border: 2px solid rgba($common-ui-blue, 0.4);
    }

    .order-sort-wrapper {
      background: $dark-ui-dark;
      box-shadow: $common-ui-dark-shadow;

      &::before {
        background: $dark-ui-dark;
      }
    }

    .demarcate {
      border-color: rgba($dark-ui-light, 0.1);
    }
  }
</style>
