<template>
  <svg width="66" height="66" viewBox="0 0 64 66" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_d)">
      <path
        d="M49.7143 2.97876H14.2198C8.02933 2.97876 3.01099 8.00841 3.01099 14.2128V49.7873C3.01099 55.9917 8.02933 61.0213 14.2198 61.0213H49.7143C55.9047 61.0213 60.9231 55.9917 60.9231 49.7873V14.2128C60.9231 8.00841 55.9047 2.97876 49.7143 2.97876Z"
        fill="#21455E"
      />
    </g>
    <path
      d="M28.0571 30.5256V24.4283H33.4121C33.9221 24.4283 34.4078 24.477 34.8692 24.5743C35.3549 24.6474 35.7799 24.7934 36.1442 25.0125C36.5085 25.2315 36.7999 25.5358 37.0185 25.9252C37.2371 26.3147 37.3463 26.8137 37.3463 27.4222C37.3463 28.5175 37.0185 29.3086 36.3628 29.7954C35.7071 30.2822 34.8692 30.5256 33.8492 30.5256H28.0571ZM22.3378 19.974V46.0426H34.9421C36.1078 46.0426 37.2371 45.8966 38.3299 45.6045C39.4471 45.3124 40.4306 44.8621 41.2806 44.2536C42.1549 43.6451 42.8471 42.8662 43.3571 41.9169C43.8671 40.9433 44.1221 39.7993 44.1221 38.4849C44.1221 36.8541 43.7213 35.4667 42.9199 34.3227C42.1428 33.1543 40.9528 32.3389 39.3499 31.8765C40.5156 31.3166 41.3899 30.5986 41.9728 29.7223C42.5799 28.8461 42.8835 27.7508 42.8835 26.4364C42.8835 25.2194 42.6771 24.1971 42.2642 23.3695C41.8756 22.5419 41.3171 21.8847 40.5885 21.3979C39.8599 20.8868 38.9856 20.5217 37.9656 20.3026C36.9456 20.0835 35.8163 19.974 34.5778 19.974H22.3378ZM28.0571 41.5883V34.4322H34.2863C35.5249 34.4322 36.5206 34.7243 37.2735 35.3085C38.0263 35.8683 38.4028 36.8176 38.4028 38.1563C38.4028 38.8378 38.2813 39.3977 38.0385 39.8358C37.8199 40.2739 37.5163 40.6269 37.1278 40.8946C36.7392 41.138 36.2899 41.3206 35.7799 41.4423C35.2699 41.5396 34.7356 41.5883 34.1771 41.5883H28.0571Z"
      fill="white"
    />
    <defs>
      <filter
        id="filter0_d"
        x="0.0109863"
        y="0.97876"
        width="63.9121"
        height="64.0425"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="1" />
        <feGaussianBlur stdDeviation="1.5" />
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.039 0" />
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
      </filter>
    </defs>
  </svg>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

/* eslint max-len: 0 */

@Component
export default class BigCommandLogo extends Vue {}
</script>

<style scoped>
  svg {
    width: 100%;
    height: auto;
  }
</style>
