<template>
  <transition name="slide-horizontal" appear>
    <div
        role="alert"
        aria-describedby="browser-support"
        :class="['widget-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <div class="warn-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
             viewBox="0 0 16 16">
          <g data-name="Group 15123" transform="translate(0 0.329)">
            <rect id="Rectangle_1408" data-name="Rectangle 1408" width="16"
                  height="16" rx="8" transform="translate(0 -0.329)"
                  fill="#f27520"/>
            <path id="Path_9888" data-name="Path 9888"
                  d="M354.874,28.568v3.45a.6.6,0,0,1-1.2,0v-3.45a.6.6,0,1,1,1.2,
                  0Zm0,5.831v.752a.6.6,0,0,1-1.2,0V34.4a.6.6,0,0,1,1.2,0Z"
                  transform="translate(-346.547 -24.047)" fill="#fff"
                  fill-rule="evenodd"/>
          </g>
        </svg>
      </div>
      <div class="message">
        <span>Switch to a Modern Browser</span>
          <span class="browser-support">
          {{ appName | capitalize }} app is built using modern web technologies some of which
          are not supported by your current browser. Please switch to a modern
          browser. <a href="#">Learn More</a>
        </span>
        <div class="browsers-wrapper">
          <img src="@/assets/logos/browsers/internet_explorer.svg"
               alt="Internet Explorer icon"/>

          <div class="arrow-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="13.082"
                 height="11.191"
                 viewBox="0 0 13.082 11.191">
              <g transform="translate(-671 -1023)">
                <g id="arrow-1" transform="translate(671 1023)">
                  <g transform="translate(0 0)">
                    <path
                        d="M123.658,5.288,118.482.127a.434.434,0,1,
                        0-.613.614L122.738,5.6,117.87,10.45a.434.434,0,
                        0,0,.613.614L123.658,5.9a.434.434,0,0,0,0-.614Z"
                        transform="translate(-117.742 0)" fill="#637c8e"/>
                  </g>
                </g>
                <g id="arrow-2" transform="translate(678.038 1023)">
                  <g transform="translate(0 0)">
                    <path
                        d="M123.658,5.288,118.482.127a.434.434,0,1,
                        0-.613.614L122.738,5.6,117.87,10.45a.434.434,
                        0,0,0,.613.614L123.658,5.9a.434.434,0,0,0,0-.614Z"
                        transform="translate(-117.742 0)" fill="#637c8e"/>
                  </g>
                </g>
              </g>
            </svg>
          </div>

          <a href="https://www.google.com/chrome" target="_blank"><img
              src="@/assets/logos/browsers/chrome.svg"
              alt="Google Chrome icon"/></a>
          <a href="https://www.apple.com/safari" target="_blank"><img
              src="@/assets/logos/browsers/safari.svg"
              alt="Apple Safari icon"/></a>
          <a href="https://www.mozilla.org/en-US/firefox/new" target="_blank">
            <img src="@/assets/logos/browsers/firefox.svg"
                 alt="Mozilla Firefox icon"/>
          </a>
          <a href="https://www.microsoft.com/en-us/edge" target="_blank"><img
              src="@/assets/logos/browsers/edge.svg"
              alt="Microsoft Edge icon"/></a>
          <a href="https://www.opera.com" target="_blank"><img
              src="@/assets/logos/browsers/opera.svg"
              alt="Opera icon"/></a>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { BigCommandApp } from '@/types';

  @Component
export default class IEWarning extends Vue {
    @Prop({ type: String, required: true })
    readonly appName!: BigCommandApp['name'];
}
</script>

<style scoped lang="scss">
  .widget-container {
    position: fixed;
    left: 50px;
    bottom: 20px;
    width: 440px;
    box-shadow: $common-ui-dark-shadow;
    padding: 20px 28px 20px 20px;
    background: $common-ui-white;
    border-radius: 8px;
    z-index: 4;
    display: flex;
    align-items: flex-start;
  }

  .message {
    font-size: $font-small-size;
    margin-left: 18px;

    span {
      @include link-styled();
      display: inline-block;

      &:first-of-type {
        @include medium-small-font;
        margin-top: -4px;
      }

      &:last-of-type {
        margin-top: 6px;
        color: rgba($light-ui-dark, 0.7);
      }
    }
  }

  .warn-icon-wrapper {
    width: fit-content;
    height: fit-content;

    svg {
      $size: 18px;
      width: $size;
      height: $size;
    }
  }

  .browsers-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;

    a {
      margin: 0 5px;
      display: inline-block;
      transform-origin: 50% 100%;
      transition: transform 0.24s;

      &:hover {
        transform: scale(1.15);
      }
    }

    img {
      width: 40px;
      height: 40px;
      display: block;
      margin-top: auto;
    }
  }

  .arrow-wrapper {
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      animation: arrow-move 1.5s both ease-in-out infinite;
    }

    @keyframes arrow-move {
      from {
        transform: translateX(0);
        opacity: 1;
      }
      to {
        opacity: 0;
        transform: translateX(6px);
      }
    }
  }

  .slide-horizontal-enter-active {
    transition: all 0.8s;
  }

  .slide-horizontal-leave-active {
    transition: all 1.4s;
  }

  .slide-horizontal-enter,
  .slide-horizontal-leave-to {
    opacity: 0;
    transform: translateX(-6px);
  }

  .dark {
    background: $dark-ui-dark;

    .message span:first-of-type {
      color: $common-ui-white;
    }

    .message span:last-of-type {
      color: $dark-ui-light;
    }
  }
</style>
