<template>
  <div @click="action" :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <div class="content-wrapper">
      <div class="image-wrapper">
        <img v-if="customIconURL" :src="customIconURL" :alt="title"/>
        <svg v-else-if="image === 'image'" xmlns="http://www.w3.org/2000/svg" width="67.702" height="51.899"
             viewBox="0 0 67.702 51.899">
          <g id="image_placeholder" transform="translate(-47.001 -250.915)">
            <g id="Group_11936" data-name="Group 11936" transform="translate(0 109.117)">
              <g id="Group_11935" data-name="Group 11935" transform="translate(0 -109.117)">
                <path id="Path_9340" data-name="Path 9340"
                      d="M71.362,259.414v-5.777a2.725,2.725,0,0,1,2.724-2.723H87.539a2.724,2.724,0,
                      0,1,2.723,2.723v5.777h16.506a7.938,7.938,0,0,1,7.934,7.934V294.88a7.938,
                      7.938,0,0,1-7.934,7.934H54.935A7.938,7.938,0,0,1,47,294.88V267.348a7.938,
                      7.938,0,0,1,7.934-7.934h1.743V256.09a.7.7,0,0,1,.7-.7H64.5a.7.7,0,0,1,
                      .7.7v3.324Zm35.407,1.4H54.935a6.537,6.537,0,0,0-6.534,6.534V294.88a6.537,
                      6.537,0,0,0,6.534,6.534h51.833a6.537,6.537,0,0,0,6.534-6.534V267.348A6.537,
                      6.537,0,0,0,106.769,260.814Zm-12.2,20.935a13.835,13.835,0,1,0-27.67,
                      0v.23a13.835,13.835,0,0,0,27.67,0Zm-1.4,0v.23a12.435,12.435,0,1,1-24.87,
                      0v-.23a12.435,12.435,0,1,1,24.87,0ZM81,272.231a9.56,9.56,0,0,0-9.555,
                      9.555v.156h1.4v-.156A8.159,8.159,0,0,1,81,273.631a.7.7,0,1,0,
                      0-1.4Zm28-2.823a3.851,3.851,0,0,0-7.7,0v.056a3.851,3.851,0,0,0,
                      7.7,0Zm-1.4,0v.056a2.451,2.451,0,0,1-4.9,0v-.056a2.451,2.451,0,0,1,
                      4.9,0Zm-43.8-9.994V256.79H58.079v2.624Zm25.061,0v-5.777a1.324,1.324,
                      0,0,0-1.323-1.323H74.086a1.324,1.324,0,0,0-1.324,1.323v5.777Z"
                      fill="#00acdc" fill-rule="evenodd"/>
              </g>
            </g>
          </g>
        </svg>
        <svg
          v-else-if="image === 'physicalProduct'"
          xmlns="http://www.w3.org/2000/svg"
          width="62.901"
          height="67.65"
          viewBox="0 0 62.901 67.65"
        >
          <g id="Group_11880" data-name="Group 11880" transform="translate(-140.804 -99.05)">
            <g id="Group_11879" data-name="Group 11879" transform="translate(0 -109.117)">
              <path
                id="Path_9305"
                data-name="Path 9305"
                d="M171.581,216.558a.674.674,0,0,1-.027-.191.7.7,0,0,1,.7-.7,3.05,3.05,0,
                1,0-3.05-3.05.7.7,0,1,1-1.4,0,4.45,4.45,0,1,1,5.176,4.391v2.641l6.218,
                2.293,11.949,2.49a.705.705,0,0,1,.245.1l12,8a.7.7,0,0,1,.148.132.686.686,
                0,0,1,.147.3l0,.014a.688.688,0,0,1-.1.514l-8,12.5a.7.7,0,0,
                1-1.055.146l-3.335-2.964v31.941a.7.7,0,0,1-.7.7H154a.7.7,0,0,
                1-.7-.7V243.176l-3.335,2.964a.7.7,0,0,1-1.055-.146l-8-12.5a.688.688,0,0,
                1-.1-.514l0-.014a.686.686,0,0,1,.147-.3.7.7,0,0,1,.148-.132l12-8a.7.7,0,0,
                1,.245-.1l11.949-2.49,6.271-2.313Zm-17.8,9.217-11.315,7.543,7.188,11.231,
                3.887-3.455a.7.7,0,0,1,1.165.523v32.8h35.1v-32.8a.7.7,0,0,1,1.165-.523l3.887,
                3.455,7.188-11.231-11.315-7.543-10.8-2.251a7.731,7.731,0,0,1-15.348,
                0Zm24.769-2.581-6.293-2.321-6.293,2.321a6.322,6.322,0,0,0,12.586,0Z"
                fill="#1cacdc"
                fill-rule="evenodd"
              />
            </g>
          </g>
        </svg>
        <svg
          v-else-if="image === 'digitalProduct'"
          xmlns="http://www.w3.org/2000/svg"
          width="61.777"
          height="48.899"
          viewBox="0 0 61.777 48.899"
        >
          <g id="digital_product" transform="translate(-319.309 -223.915)">
            <g id="Group_11884" data-name="Group 11884" transform="translate(0 109.117)">
              <g id="Group_11883" data-name="Group 11883" transform="translate(0 -109.117)">
                <path
                  id="Path_9307"
                  data-name="Path 9307"
                  d="M329.8,241.221a20.452,20.452,0,0,1,40.66,3.144q0,.406-.016.808a11.075,11.075,
                  0,0,1-.434,22.142h-8.419a14.943,14.943,0,0,1-23.163,0h-5.419l-.045,0h0l-.2,
                  0a13.457,13.457,0,0,1-13.45-13.45,13.311,13.311,0,0,1,10.581-13.181Zm20.21,
                  3.094a13.55,13.55,0,1,1-13.55,13.55A13.556,13.556,0,0,1,350.01,244.315Zm19.016,
                  1.377a.811.811,0,0,1,0-.121q.037-.6.038-1.206a19.052,19.052,0,0,
                  0-37.851-3.092.752.752,0,0,1-.824.747l-.016,0a11.913,11.913,0,0,0-9.66,
                  11.848,12.056,12.056,0,0,0,12.05,12.05l.237,0a.578.578,0,0,1,.072,0h4.344a14.95,
                  14.95,0,1,1,25.195,0h7.4a9.675,9.675,0,1,0,0-19.35c-.1,0-.192,0-.287,0a.7.7,0,0,
                  1-.72-.679A.719.719,0,0,1,369.025,245.692Zm-27.794,17.623H358.01a.7.7,0,1,0,
                  0-1.4H341.231a.7.7,0,1,0,0,1.4Zm15.394-10.753a1.16,1.16,0,0,
                  0-1.159-1.159H343.774a1.16,1.16,0,0,0-1.159,1.159v7.106a1.159,1.159,0,0,0,1.159,
                  1.158h11.692a1.16,1.16,0,0,0,1.159-1.158Zm-12.81.041v7.023h11.61V252.6Z"
                  fill="#00acdc"
                  fill-rule="evenodd"
                />
              </g>
            </g>
          </g>
        </svg>
        <svg
          v-else-if="image === 'package'"
          xmlns="http://www.w3.org/2000/svg"
          width="56.401"
          height="61.9"
          viewBox="0 0 56.401 61.9"
        >
          <g id="bigpackgae" transform="translate(-232.806 -213.167)">
            <g id="Group_11882" data-name="Group 11882" transform="translate(0 109.117)">
              <g id="Group_11881" data-name="Group 11881" transform="translate(0 -109.117)">
                <path
                  id="Path_9306"
                  data-name="Path 9306"
                  d="M247.938,219.734l12.75-6.491a.7.7,0,0,1,.636,0l27.5,14a.7.7,0,0,1,
                  .382.624v33.5a.7.7,0,0,1-.4.633l-27.5,13a.7.7,0,0,1-.6,0l-27.5-13a.7.7,
                  0,0,1-.4-.633V227.876a.7.7,0,0,1,.059-.29l.009-.02.009-.019a.7.7,0,0,1,
                  .231-.26.8.8,0,0,1,.074-.044Zm39.869,9.256-11.12,5.459v9.918a.7.7,0,0,
                  1-1.4,0v-9.23l-13.58,6.666-.036,31.476,26.137-12.355Zm-53.6,31.934,26.065,
                  12.321.036-31.442-26.1-12.813Zm.865-33.069,25.936,12.732,
                  13.634-6.693L248.27,221.136Zm14.766-7.516,26.4,12.772,10.705-5.256-25.936-13.2Z"
                  fill="#1cacdc"
                  fill-rule="evenodd"
                />
              </g>
            </g>
          </g>
        </svg>
      </div>
      <div class="text-wrapper">
        <span>{{ title }}</span>
        <BaseButton
          :text="linkText"
          :action="action"
          :plain-text="true"
          class="add-image"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component
export default class ImagePlaceholder extends Vue {
    @Prop({ type: String, default: 'Product Images' })
    readonly title!: string;

    @Prop({ type: String, default: '+ Add Images' })
    readonly linkText!: string;

    @Prop({ type: String, default: 'image' })
    readonly displayImage!: 'image' | 'physicalProduct' | 'digitalProduct' | 'product' | 'package';

    @Prop({ type: String })
    readonly customIcon!: string;

    @Prop({ type: Function, required: true })
    readonly action!: () => void;

    get image() {
      if (this.displayImage !== 'product') return this.displayImage;
      return Math.random() > 0.5 ? 'physicalProduct' : 'digitalProduct';
    }

    get customIconURL() {
      /* eslint global-require: 0 */
      /* eslint import/no-dynamic-require: 0 */
      if (this.customIcon) return require(`@/assets/icons/${this.customIcon}`);
      return null;
    }
}
</script>

<style scoped lang="scss">
  .child-container {
    background: rgba($common-ui-blue, 0.05);
    border-radius: $container-standard-border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 20px;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      background: rgba($common-ui-blue, 0.07);
    }
  }

  .content-wrapper {
    display: flex;
    align-items: center;
  }

  .image-wrapper {
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 46px;

    svg, img {
      width: 100%;
      height: auto;
    }
  }

  .text-wrapper {
    span {
      display: block;
    }

    .add-image {
      margin-top: 4px;
      display: inline-block;

      &:hover {
        color: $common-ui-dark-blue;
      }
    }
  }

  @media (min-width: 600px) {
    .child-container {
      padding: 60px;
    }
  }

  .dark {
  }
</style>
