<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <BigSearchIcon/>
    <span class="no-result">
      No result found for "{{ searchPayload }}".
    </span>
    <span class="search-solution">
      Please try with a different search term.
    </span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BigSearchIcon from '@/assets/icons/common/big_search.svg?inline';

@Component({ components: { BigSearchIcon } })
export default class NoSearchResultFound extends Vue {
  @Prop({ type: String, required: true })
  readonly searchPayload!: string;
}
</script>

<style scoped lang="scss">
  .child-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -8px;
    margin-bottom: 6px;
    font-size: $font-medium-size;
    padding: 0 48px 8px;

    .no-result {
      @include medium-small-font;
      margin: 8px 0 4px;
      display: block;
    }

    .search-solution {
      color: rgba($light-ui-dark, .7);
    }
  }

  .dark {
    .search-solution {
      color: $light-ui-light-gray;
    }
  }
</style>
