<template>
  <nav
    role="navigation"
    aria-label="Secondary navigation"
    :class="['sidebar-container', { 'dark': $colorScheme === 'dark' }]"
  >
    <ul class="nav-wrapper">
      <li v-for="nav in navMenus" :key="nav.name" class="nav-item">
        <router-link :to="{ name: nav.route }" class="nav-link">
          <div class="nav-icon">
            <component :is="nav.iconComponent"></component>
          </div>
          <div class="nav-title">
            <span >{{ nav.name }}</span>
          </div>

        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import HomeIcon from '@/assets/logos/bigcommand/test.svg?inline';

export default {
  name: 'Sidebar',
  components: {},
  data() {
    return {
      navMenus: [
        {
          name: 'Home',
          iconComponent: HomeIcon,
          route: 'PurchasesDashboard',
        },
        {
          name: 'Purchases',
          iconComponent: HomeIcon,
          route: 'EventsDashboard',
        },
        {
          name: 'Campaign',
          iconComponent: HomeIcon,
          route: 'SubscriptionsDashboard',
        },
        {
          name: 'Video',
          iconComponent: HomeIcon,
          route: 'FastSignDashboard',
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
  .sidebar-container {
    @include light-ui-scrollbar-dark;
    display: none;
    background: $light-ui-very-dark;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;

    .nav-wrapper {
      list-style: none;
      padding-left: 0;
    }
  }

  .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: max-content;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.24s;
    opacity: .5;
    .nav-icon {
      $size: 40;
      width: $size;
      height: $size;
      margin: 8px;
      display: block;
      align-items: center;
      justify-content: center;

      path {
        transition: all 0.24s;
      }
    }

    .vertical-line {
      height: 40px;
      margin: 6px 0;
      border-left: 1px solid #eef9fc;
      transition: all 0.24s;
    }

    &:hover {
      opacity: .5;
      .nav-icon path {
        fill: $common-ui-blue;
      }

      .vertical-line {
        border-left: 1px solid rgba($common-ui-blue, 0.2);
      }
    }
  }

  .nav-title {
    font-size:11px;
    color: $light-ui-background;
    font-weight: 400;
    background:$light-ui-dark;
    padding:2px 7px;
    border-radius:16px;
  }

  .active-link {
    opacity: 1;
    .nav-icon path {
      fill: $common-ui-blue;
    }

    .vertical-line {
      border-left: 1px solid rgba($common-ui-blue, 0.2);
    }
  }

  @media (min-width: 900px) {
    .sidebar-container {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    .sidebar-container {
      padding: 90px 10px;
    }
  }

  .dark {
    @include dark-ui-scrollbar;
    background: $dark-ui-dark;
    .nav-title {
      border: 1px solid rgba($dark-ui-light, .06);
      background: $dark-ui-dark;
      .vertical-line {
        border-left: 1px solid rgba($dark-ui-light, .06);
      }
      .nav-icon path {
        fill: $common-ui-white;
      }
      .nav-title {
        color: $common-ui-white;
      }
      &:hover {
        border: 1px solid $common-ui-blue;
        background: rgba($common-ui-blue, 0.1);
        .nav-title {
          color: $common-ui-white;
        }
        .nav-icon path {
          fill: $common-ui-blue;
        }
        .vertical-line {
          border-left: 1px solid rgba($common-ui-blue, 0.2);
        }
      }
    }

    .active-link {
      .nav-title {
        color: $common-ui-white;
      }
      .nav-icon path {
        fill: $common-ui-blue;
      }
    }
  }
</style>
