<template>
  <nav
    role="navigation"
    aria-label="Secondary navigation"
    :class="['sidebar-container', { 'dark': $colorScheme === 'dark' }]"
  >
    <ul class="nav-wrapper">
      <li v-for="nav in navMenus" :key="nav.name" class="nav-item">
        <router-link :to="{ name: nav.route }" class="nav-link">
          <div class="nav-icon">
            <component :is="nav.iconComponent"></component>
          </div>
          <div class="vertical-line"></div>
          <span class="nav-title">{{ nav.name }}</span>
        </router-link>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import OrdersIcon from '@/assets/icons/common/package.svg?inline';
import SubscriptionsIcon from '@/assets/icons/sidebar/subscriptions.svg?inline';
import EventsIcon from '@/assets/icons/sidebar/events.svg?inline';
import FastSignIcon from '@/assets/icons/sidebar/fastsign.svg?inline';

export default {
  name: 'Sidebar',
  components: {
    OrdersIcon,
    SubscriptionsIcon,
    EventsIcon,
    FastSignIcon,
  },
  data() {
    return {
      navMenus: [
        {
          name: 'Orders',
          iconComponent: OrdersIcon,
          route: 'OrdersDashboard',
        },
        {
          name: 'Email Subscriptions',
          iconComponent: SubscriptionsIcon,
          route: 'SubscriptionsDashboard',
        },
        {
          name: 'Schedules & Events',
          iconComponent: EventsIcon,
          route: 'EventsDashboard',
        },
        {
          name: 'FastSign',
          iconComponent: FastSignIcon,
          route: 'FastSignDashboard',
        },
      ],
    };
  },
};
</script>

<style scoped lang="scss">
  .sidebar-container {
    @include light-ui-scrollbar-dark;
    display: none;
    min-width: 320px;
    background: $common-ui-white;
    padding: 90px 24px 26px;
    margin: 0;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;

    .nav-wrapper {
      list-style: none;
      padding-left: 0;
    }
  }

  .nav-link {
    display: flex;
    align-items: center;
    max-height: max-content;
    min-width: 260px;
    border: 1px solid #eef9fc;
    background: $common-ui-white;
    border-radius: 6px;
    margin: 14px auto;
    text-decoration: none;
    transition: all 0.24s;

    .nav-icon {
      $size: 26px;
      width: $size;
      height: $size;
      margin: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      path {
        transition: all 0.24s;
      }
    }

    .vertical-line {
      height: 40px;
      margin: 6px 0;
      border-left: 1px solid #eef9fc;
      transition: all 0.24s;
    }

    &:hover {
      border: 1px solid $common-ui-blue;
      background: rgba($common-ui-blue, 0.1);

      .nav-icon path {
        fill: $common-ui-blue;
      }

      .vertical-line {
        border-left: 1px solid rgba($common-ui-blue, 0.2);
      }
    }
  }

  .nav-title {
    @include medium-small-font;
    margin-left: 20px;
    padding-right: 54px;
    color: $light-ui-dark;
  }

  .active-link {
    border: 1px solid $common-ui-blue;
    background: rgba($common-ui-blue, 0.1);

    .nav-icon path {
      fill: $common-ui-blue;
    }

    .vertical-line {
      border-left: 1px solid rgba($common-ui-blue, 0.2);
    }
  }

  @media (min-width: 900px) {
    .sidebar-container {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    .sidebar-container {
      padding: 90px 50px 26px;
      min-width: 360px;
    }
  }

  .dark {
    @include dark-ui-scrollbar;
    background: $dark-ui-dark;

    .nav-link {
      border: 1px solid rgba($dark-ui-light, .06);
      background: $dark-ui-dark;

      .vertical-line {
        border-left: 1px solid rgba($dark-ui-light, .06);
      }

      .nav-icon path {
        fill: $common-ui-white;
      }

      .nav-title {
        color: $common-ui-white;
      }

      &:hover {
        border: 1px solid $common-ui-blue;
        background: rgba($common-ui-blue, 0.1);

        .nav-title {
          color: $common-ui-white;
        }

        .nav-icon path {
          fill: $common-ui-blue;
        }

        .vertical-line {
          border-left: 1px solid rgba($common-ui-blue, 0.2);
        }
      }
    }

    .active-link {
      border: 1px solid $common-ui-blue;
      background: rgba($common-ui-blue, 0.1);

      .nav-title {
        color: $common-ui-white;
      }

      .nav-icon path {
        fill: $common-ui-blue;
      }

      .vertical-line {
        border-left: 1px solid rgba($common-ui-blue, 0.2);
      }
    }
  }
</style>
