<template>
  <transition name="slide-up" appear>
    <div :class="['navigator-container', { 'dark': $colorScheme === 'dark' }]">
      <BaseButton
        text="Back"
        :action="() => { $emit('back') }"
        :background="false"
        :border="false"
      />

      <section class="step-wrapper">
        <div v-for="step in steps" :key="step" class="step-item">
        <span
          @click="$emit('stepClicked', step)"
          :class="[
            'step',
            { active: activeStep === step },
            { complete: step === steps[steps.length - 1] },
            ]">{{ step | capitalize }}</span>
          <div class="arrow">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="5.395"
              height="9.709"
              viewBox="0 0 5.395 9.709"
            >
              <g
                id="Group_15578"
                data-name="Group 15578"
                transform="translate(-709.657 -117.844)"
              >
                <path
                  id="Path_2500"
                  data-name="Path 2500"
                  d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,
            0-.463.463L10.8,38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,.232-.1l4.307-4.307A.321.321,
            0,0,0,15.582,33.5Z"
                  transform="translate(676.489 133.72) rotate(-90)"
                  fill="#21455e"
                  stroke="#21455e"
                  stroke-width="0.4"
                />
              </g>
            </svg>
          </div>
        </div>
      </section>
      <BaseButton
        :text="activeStep !== steps[steps.length - 1] ? 'Continue' : 'Done'"
        :action="() => { $emit('continue') }"
      />
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component
export default class StepNavigator extends Vue {
    @Prop({ type: String, required: true })
    readonly activeStep!: string;

    @Prop({ type: Array, required: true })
    readonly steps!: string[];
}
</script>

<style scoped lang="scss">
  .navigator-container {
    background: $common-ui-white;
    box-shadow: 0 2px 8px 6px rgba($common-ui-blue, 0.06);
    padding: 20px 6px 20px 2px;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    z-index: 10;
  }

  .step-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-medium-size;
    color: rgba($light-ui-dark, .6);

    .step {
      cursor: pointer;
      transition: all .4s;
      padding: 0;
      border-radius: 16px;

      &:hover {
        background: rgba($light-ui-dark, .08);
      }
    }

    .complete {
      cursor: default;

      &:hover {
        background: $common-ui-white;
      }
    }

    .active {
      @include medium-small-font;
      color: $light-ui-dark;
    }

    .arrow {
      margin: 0 8px;
    }
  }

  .step-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child svg {
      display: none;
    }
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 0.4s;
  }

  .slide-up-enter,
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(6px);
  }

  @media (min-width: 600px) {
    .navigator-container {
      border-radius: 12px 12px 0 0;
      padding: 20px 24px 16px;
      width: unset;
    }

    .step-wrapper .step {
      padding: 4px 14px;
    }
  }

  @media (min-width: 900px) {
    .navigator-container {
      width: min-content;
    }
  }

  @media (min-width: 1100px) {
    .navigator-container {
      width: 720px;
    }
  }

  @media (min-width: 1200px) {
    .navigator-container {
      width: unset;
    }
  }

  .dark {
    background: $dark-ui-background;

    .step-wrapper {
      color: rgba($common-ui-white, .6);

      .step {
        &:hover {
          background: rgba($common-ui-white, .08);
        }
      }

      .complete {

        &:hover {
          background: $dark-ui-background;
        }
      }

      .active {
        color: $common-ui-white;
      }
    }
  }
</style>
