<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <button
      @click.stop="$emit('update', firstTab)"
      @keydown.enter="$emit('update', firstTab)"
      onclick="this.blur()"
      role="button"
      :tabindex="activeTab === firstTab ? -1..toString() : 0..toString()"
      :aria-label="firstTab"
      :aria-pressed="(activeTab === firstTab).toString()"
      class="option left"
    >
      <FirstIconComponent class="icon"/>
      <span>{{ firstTab }}</span>
    </button>
    <div
      @click.stop="$emit('update', activeTab === firstTab ? secondTab : firstTab)"
      @keydown.enter="$emit('update', activeTab === firstTab ? secondTab : firstTab)"
      onclick="this.blur()"
      tabindex="0"
      :class="['switcher', { second: activeTab === secondTab }]"
    >
      <div class="option switch">
        <FirstIconComponent v-if="activeTab === firstTab"  class="icon"/>
        <SecondIconComponent v-else  class="icon"/>
        <span>{{ activeTab }}</span>
      </div>
    </div>
    <button
      @click.stop="$emit('update', secondTab)"
      @keydown.enter="$emit('update', secondTab)"
      onclick="this.blur()"
      role="button"
      :tabindex="activeTab === secondTab ? -1..toString() : 0..toString()"
      :aria-label="secondTab"
      :aria-pressed="(activeTab === secondTab).toString()"
      class="option right"
    >
      <SecondIconComponent  class="icon"/>
      <span>{{ secondTab }}</span>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class TabSwitcherToggle extends Vue {
  created() {
    const FirstIconComponent = () => import(`@/assets/icons/${this.firstTabIconPath}?inline`);
    const SecondIconComponent = () => import(`@/assets/icons/${this.secondTabIconPath}?inline`);
    Vue.component('FirstIconComponent', FirstIconComponent);
    Vue.component('SecondIconComponent', SecondIconComponent);
  }

  @Prop({ type: String, default: 'left' })
  readonly activeTab!: string;

  @Prop({ type: String, default: 'left' })
  readonly firstTab!: string;

  @Prop({ type: String, default: 'right' })
  readonly secondTab!: string;

  @Prop({ type: String, default: 'boom/funnels/stats_arrow.svg' })
  readonly firstTabIconPath!: string;

  @Prop({ type: String, default: 'boom/funnels/live_circles.svg' })
  readonly secondTabIconPath!: string;
}
</script>

<style scoped lang="scss">
  .child-container {
    width: fit-content;
    background: rgba($common-ui-blue, 0.0);;
    border: 1px solid rgba($common-ui-blue, 0.2);
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .switcher {
    @include focus-highlight;
    min-width: 96px;
    height: 34px;
    border-radius: 20px;
    border: 2px solid $common-ui-blue;
    background: $common-ui-white;
    box-shadow: $common-ui-dark-shadow;
    z-index: 1;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: right-to-left 0.24s ease-in-out;
  }

  .second {
    left: unset;
    right: 2px;
    animation: left-to-right 0.24s ease-in-out;
  }

  .option {
    @include focus-highlight;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-radius: 20px;
    border: none;
    background: none;
    color: unset;
    cursor: pointer;
    position: relative;
    transition: all 0.24s;

    span {
      display: inline-block;
      font-size: .8rem;
      margin-left: 8px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .icon {
      max-width: 18px;
      height: auto;

      image { // For Google ads logo
        width: 100%;
        height: auto;
        object-fit: scale-down;
      }
    }

    &:hover:not(.switch) {
      background: rgba($common-ui-blue, 0.08);
      color: $common-ui-blue;
    }
  }

  .left {
    margin-right: 8px;
  }

  @keyframes left-to-right {
    from {
      left: unset;
      right: 80px;
    }
    to {
      right: 2px;
    }
  }

  @keyframes right-to-left {
    from {
      right: unset;
      left: 80px;
    }
    to {
      left: 2px;
    }
  }

  .dark {
    background: $dark-ui-background;

    .switcher {
      background: $dark-ui-dark;
      border: 1px solid rgba($common-ui-blue, 0.4);
    }
  }
</style>
