<template>
  <div class="main-preloader-wrapper">
    <main
      v-if="!isLoading"
      :class="['main-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <div class="content-wrapper">
        <header class="heading-toolbar-wrapper">
          <div class="heading">
            <h1 class="heading-count">Orders
              <em>{{ totalOrders | simpleNumberFormat }}</em>
            </h1>
            <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ui
            </span>
          </div>

          <div class="toolbar">
            <SortAndFilter
              v-bind="presentation"
              :sort-options="sortOptions"
              @updateSortAndOrderBy="sortAndOrderBy"
            />
            <ContentLayoutSelector
              :layout="presentation.layout"
              @updateLayout="setLayout"
            />
          </div>
        </header>
        <div
          :key="presentationRefreshKey"
          :class="['grid-container', { dark: $colorScheme === 'dark' }]"
          v-if="presentation.layout === 'grid' && orders.length > 0"
        >
          <TheOrderGrid
            v-for="(currentOrder, i) in ordersPresentation"
            :item.sync="currentOrder"
            :key="i"
          />
        </div>

        <div
          :key="presentationRefreshKey"
          v-if="presentation.layout === 'list' && orders.length > 0"
          :class="['list-container', { dark: $colorScheme === 'dark' }]"
        >
          <TheOrderElement
            v-for="(currentOrder, i) in ordersPresentation"
            :item.sync="currentOrder"
            :key="i"
          />
        </div>

        <BaseStarterGuide
          v-if="!isLoading && orders.length === 0"
          guide-title="View and Manage your Purchases"
          guide-description="You don’t have any orders yet.
          Check back after you have purchased
          an item"
          guide-image-name="common/purchases.svg"
          guide-image-alt="No purchases"
          @playGuide="$playVideoGuide('orders')"
        />
      </div>

    </main>
    <BasePreloaderCircular v-else class="preloader"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace, State } from 'vuex-class';
import { BasicOrder } from '@/types/orders';
import { Presentation } from '@/types';
import { OrdersState } from '@/types/store';
import SortAndFilter from '@/components/common/composition/sortAndLayout/SortAndFilter.vue';
import ContentLayoutSelector from '@/components/common/composition/sortAndLayout/ContentLayoutSelector.vue';
import TheOrderElement from '@/components/orders/children/dashboard/list/TheOrderElement.vue';
import TheOrderGrid from '@/components/orders/children/dashboard/grid/TheOrderGrid.vue';

const ordersStore = namespace('orders');
@Component({
  components: {
    TheOrderGrid,
    TheOrderElement,
    ContentLayoutSelector,
    SortAndFilter,
  },
})
export default class OrdersDashboard extends Vue {
  async created() {
    await this.fetchOrdersState();
    this.isLoading = false;
  }

  @State((state) => state.orders.orders)
  readonly orders!: BasicOrder[];

  @State((state) => state.orders.presentation)
  readonly presentation!: Presentation;

  @State((state) => state.orders.totalOrders)
  readonly totalOrders!: OrdersState['totalOrders'];

  isLoading = true;

  readonly sortOptions: Presentation['sortBy'][] = [
    { key: 'name', display: 'Name' },
    { key: 'orderDate', display: 'order date' },
    { key: 'price', display: 'price' },
  ];

  get ordersPresentation(): BasicOrder[] {
    const orders = [...this.orders];
    orders.sort((a, b) => {
      switch (this.presentation.sortBy?.key) {
        case 'name':
          return `${a.details.title}.${a.details.title}`.toLowerCase()
          > `${b.details.title} ${b.details.title}`.toLowerCase() ? 1 : -1;
        case 'orderDate':
          return new Date(a.details.orderDate) > new Date(b.details.orderDate) ? -1 : 1;
        case 'price':
          return `${a.details.price}.${a.details.price}`.toLowerCase()
          > `${b.details.price} ${b.details.price}`.toLowerCase() ? 1 : -1;
        default:
          return (a[this.presentation.sortBy.key as keyof BasicOrder] as string).toLowerCase()
          > (b[this.presentation.sortBy.key as keyof BasicOrder] as string).toLowerCase() ? 1 : -1;
      }
    });
    return this.presentation.ordering === 'asc' ? orders : orders.reverse();
  }

  get presentationRefreshKey() {
    return `${this.presentation.ordering}${this.presentation.sortBy?.key}`;
  }

  async setLayout(layout: Presentation['layout']) {
    await this.updatePresentation({ ...this.presentation, layout });
  }

  async sortAndOrderBy(orderSort: Pick<Presentation, 'ordering' | 'sortBy'>) {
    await this.updatePresentation({ ...this.presentation, ...orderSort });
  }

  @ordersStore.Action('fetchOrdersState')
  fetchOrdersState!: () => Promise<void>;

  @ordersStore.Action('updatePresentation')
  updatePresentation!: (presentation: Presentation) => Promise<void>;
}
</script>

<style scoped lang="scss">
.main-preloader-wrapper, .main-container {
  @include main-container;
  min-height: 82vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 82vh;

  .content-wrapper {
    flex: 1 1 auto;
  }
}
.list-container{
  margin-top:2rem;
}
.grid-container{
  margin-top:2rem;
  display:grid;
  align-items: baseline;
  justify-items: center;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.heading-toolbar-wrapper {
  @include heading-toolbar-wrapper();
}

.heading-count {
  display: flex;

  em {
    font-style: normal;
    font-family: $font-regular-weight;
    margin-left: 16px;
  }
}

.create-tooltip-wrapper {
  position: relative;

  .tooltip {
    position: absolute;
    left: -30px;
    bottom: -82px;
    margin-right: -30px;
  }
}

.preloader {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

@media (min-width: 600px) {
  .heading-toolbar-wrapper {
    flex-direction: row;
    align-items: flex-end;

    .toolbar {
      transform-origin: 100% 0;
      margin-left: auto;
      margin-right: unset;
      padding-top: unset;
    }
  }
}

@media (min-width: 900px) {
  .main-preloader-wrapper, .main-container {
    max-width: 900px;
  }

  .preloader {
    left: calc(50% - 25px + 376px / 2);
  }
}

.dark {
  .heading-toolbar-wrapper {
    background: $dark-ui-background;
  }
}
</style>
