<template>
  <div :class="['header-container', { 'dark': $colorScheme === 'dark' }]">
    <div class="left">
      <TheHeaderAppNavigator v-bind="app" class="app-nav"/>
      <div class="portal-nav-links">
        <TheAppNavigationLink :linkArray="links"/>
      </div>
    </div>
    <div class="user-profile">
      <TheHeaderProfilePanel/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { BigCommandApp, InternalNavRoute } from '@/types';
import TheHeaderAppNavigator from '../children/TheHeaderAppNavigator.vue';
import TheAppNavigationLink from '../children/TheAppNavigationLink.vue';
import TheHeaderProfilePanel from '../children/TheHeaderProfilePanel.vue';

  @Component({
    components: {
      TheHeaderAppNavigator,
      TheAppNavigationLink,
      TheHeaderProfilePanel,
    },
  })
export default class DesktopHeader extends Vue {
    @Prop({ type: Array, required: true })
    readonly links!: InternalNavRoute[];

    @Prop({ type: Object, required: true })
    readonly app!: BigCommandApp;
}
</script>
<style scoped lang="scss">
  .header-container {
    width: 100%;
    height: 64px;
    background: $common-ui-white;
    padding: 0 48px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.04));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      align-items: center;
    }
  }

  .portal-nav-links {
    margin-left: 210px;
    display: none;
  }

  header {
    padding: 12px 10px;
  }

  @media (min-width: 1000px) {
    .portal-nav-links {
      display: block;
    }

    header {
      padding: 0;
    }
  }

  .dark {
    .header-container {
      background: $dark-ui-dark;
    }
  }
</style>
