<template>
  <div :class="['grid-container', { dark: $colorScheme === 'dark' }]">
      <TheOrderGrid />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheOrderGrid from '@/components/orders/children/dashboard/grid/TheOrderGrid.vue';
import { BasicOrder } from '@/types/orders';
import { State } from 'vuex-class';

@Component({
  components: { TheOrderGrid },
})
export default class OrdersGrid extends Vue {
  @State((state) => state.orders.orders)
  readonly orders!: BasicOrder[];
}
</script>

<style scoped lang="scss">
  .grid-container{
    margin-top:2rem;
    display:grid;
    align-items: center;
    justify-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
</style>
