<template>
  <div
    :class="['purchases__card', { 'dark': $colorScheme === 'dark' }]" :id='itemData.details.id'>
    <header class='purchases__card--header'>
      <div class='purchases__card--status'>
        <div class='purchases__card--status_icon'>
          <img
            :src="statusChecker(itemData.status.type).iconSrc"
            :alt='statusChecker(itemData.status.type).alt'
          >
        </div>
        <h3
          class='purchases__card--status_title'
          v-bind:style="'color:' +  statusChecker(itemData.status.type).color"
        >
          {{itemData.status.name}}
        </h3>
      </div>
      <div class='purchases__card--dropdown'>
        <BaseDropdownMenu
          class="three-dot-dropdown"
          mobile-position="left"
          :menu-options='menuOption'
        />
      </div>
    </header>
    <div class="line"></div>
    <div class='purchases__card--body'>
      <div class="purchases__card--image">
        <img :src="getImgUrl(itemData.details.imgSrc)" alt="">
        <div v-if='badge' class='badge'>+1</div>
      </div>
      <div class='purchases__card--description'>
        <p class="item_title">{{ itemData.details.title}}</p>
        <p class="item_purchased--info">Purchased: {{itemData.details.purchased}}</p>
        <p class="item_order--id">Order Reference: #{{itemData.details.id}}</p>
        <p class="item_soldby">
          Sold By: <a href="#">{{ itemData.details.storeName }}</a>
        </p>
        <p class="item_price">${{itemData.details.price}}</p>
      </div>
    </div>
    <div class="line"></div>
    <div class='purchases__card--action_buttons'>
      <BaseButton class='no-background'  text='Get Support'/>
      <BaseButton
        v-if="itemData.status.type == 'incomplete'"
        class='incomplete'
        text='Complete Purchase'/>
      <BaseButton  v-else class='no-background' text='Order Details'/>
    </div>
    <div class='purchase__card--order_details' v-if='itemData.details.paymentStatus '>
      <div class="block_2">
        <p>{{itemData.details.paymentStatus }}</p>
        <p>${{itemData.details.price }}</p>
      </div>
      <div class="block_2">
        <p><a
          type="primary"
          href="#"
        >
          View Refund Details</a> </p>
        <p class="date"> {{itemData.details.orderDate}}</p>
      </div>

    </div>
  </div>
</template>

<script lang="ts" >
import { Vue, Component, PropSync } from 'vue-property-decorator';
import BaseDropdownMenu from '@/components/common/ui/base/BaseDropdownMenu.vue';
import { MenuOption } from '@/types';

@Component({
  components: { BaseDropdownMenu },
})
export default class TheOrderGrid extends Vue {
  @PropSync('item', { type: Object }) itemData!: object

  badge = true;

  public getImgUrl(src: string): string {
    const images = require.context('@/assets/images/purchases', false, /\.png$/);
    return images(`./${src}`);
  }

  readonly menuOption: MenuOption<any>[] = [
    { name: 'Print Invoice', action: this.initializePrint },
    { name: 'Download Invoice', action: this.initializeDownload },
    { name: 'Go to Transaction', action: this.initializeTransaction },
    { name: 'Review Product', action: this.initializeReview },
    { name: 'Archive Order', action: this.initializeArchive },
  ];

  public statusChecker(status: string) {
    const path: any = require.context('@/assets/icons/common/purchases', false, /\.svg$/);
    switch (status) {
      case 'delivered': {
        return { iconSrc: path('./ok_icon.svg'), alt: 'Delivered Icon', color: '#0AD688' };
      }
      case 'shipped': {
        return { iconSrc: path('./shipped_icon.svg'), alt: 'Shipped Icon', color: '#21455E' };
      }
      case 'awaiting': {
        return { iconSrc: path('./awaiting_icon.svg'), alt: 'Awaiting Icon', color: '#21455E' };
      }
      case 'arriving': {
        return { iconSrc: path('./arriving_icon.svg'), alt: 'Arriving Icon', color: '#21455E' };
      }
      case 'incomplete': {
        return { iconSrc: path('./error_icon.svg'), alt: 'Incomplete Icon', color: '#F3923C' };
      }
      case 'awaiting_pickup': {
        return { iconSrc: path('./error_icon.svg'), alt: 'Incomplete Icon', color: '#F3923C' };
      }
      default: {
        return status;
      }
    }
  }
}
</script>

<style  lang='scss'>
$padding-size: 10px 20px;
.incomplete{
  .execute{
    background:$common-ui-yellow;
    border-color:$common-ui-yellow;
  }
}
.purchases__card {
  background: #fff;
  max-width: 560px;
  width: 100%;
  border-radius: 15px;
  .purchases__card--header {
    justify-content: space-between;
    padding: $padding-size;
    @include block-2;
  }
  .purchases__card--status {
    font-size: 20px;
    font-weight: 600;
    @include block-2;
    .purchases__card--status_title {
      font-size: 20px;
      font-weight: 700;
      margin:0;
    }
    .purchases__card--status_icon {
      margin-right: 1rem;
    }
  }
  .purchases__card--dropdown {
    cursor: pointer;
    //.button{
    //  border:1px solid  $common-ui-dark-blue;
    //}
  }
  .purchases__card--body {
    padding:$padding-size;
    @include block-2;
    p{
      padding:0;
      margin:0;
    }
    .purchases__card--image {
      position: relative;
      .badge {
        width: 23px;
        position: absolute;
        border-radius: 15px;
        background: #525252;
        color: #fff;
        font-size: 11px;
        text-align: center;
        top: 0;
        right: -1rem;
      }
    }
  }
  .purchases__card--description {
    margin-left: 30px;
    text-align: left;
    color: $light-ui-dark;
    .item_title {
      color: $light-ui-dark;
      font-size: 1rem;
      font-weight: 500;
    }
    .item_purchased--info {
      font-size: 13px;
      font-weight: 400;
    }
    .item_order--id {
      font-size: 13px;
      font-weight: 400;
    }
    .item_soldby {
      a {
        color: $common-ui-dark-blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .item_price {
      font-size: 1rem;
      font-weight: 600;
      color: $common-ui-red;
    }
  }
  .purchases__card--action_buttons {
    padding: $padding-size;
    display: flex;
    justify-content: space-around;
    button{
      padding: 6px 16px;
      font-size:14px;
    }
    div {
      display: inline-block;
    }
  }
  .purchase__card--order_details {
    background: #FEF7F7;
    border: 1px solid $common-ui-red;
    color: $common-ui-red;
    padding: $padding-size;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    p {
      padding: 0;
      margin: 0;
    }
    a {
      color: $common-ui-dark-blue;
      text-decoration: none;
    }
    .block_2 {
      @include block-2;
      justify-content: space-between;
    }
    .date {
      font-size: 13px;
    }
  }
}
.dark{
  .purchases__card{
    background: $dark-ui-dark;
  }
  .purchase__card--order_details{
    background: $dark-ui-dark;
  }

}

</style>
