<template>
  <div :class="['list-container', { dark: $colorScheme === 'dark' }]">
    <TheOrderElement
      v-for="(currentOrder, i) in orders"
      :item.sync="currentOrder"
      :key="i"
    />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import TheOrderElement from '@/components/orders/children/dashboard/list/TheOrderElement.vue';
import { State } from 'vuex-class';
import { BasicOrder } from '@/types/orders';

@Component({
  components: { TheOrderElement },
})
export default class OrdersTable extends Vue {
  @State((state) => state.orders.orders)
  readonly orders!: BasicOrder[];
}
</script>

<style scoped lang="scss">
.list-container{
  margin-top:2rem;
}

.integration-section {
  margin-bottom: 30px;

  .section-title {
    margin: 0 0 10px 0;
    text-align: center;
    animation: fade-in 0.4s ease-in-out forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.app-categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  justify-items: center;
  justify-content: center;
  grid-gap: 30px;
  border-radius: $container-standard-border-radius;
}

@media (min-width: 600px) {
  .app-categories {
    justify-items: start;
    justify-content: start;
  }

  .integration-section .section-title {
    text-align: initial;
  }
}

.int-table {
  margin-bottom: 32px;

  &:last-of-type {
    margin-bottom: 0;
  }
}
</style>
