<template>
  <div :class="['table-container', { dark: $colorScheme === 'dark' }]">
    <div class="header-content">
      <div class='purchases__card--status'>
        <div class='purchases__card--status_icon'>
          <img
            :src="statusChecker(itemData.status.type).iconSrc"
            :alt='statusChecker(itemData.status.type).alt'
          >
        </div>
        <h2
          v-bind:style="'color:' + statusChecker(itemData.status.type).color"
          class="section-title">{{ itemData.status.name }}</h2>
      </div>
    </div>
    <table >
      <tr class="table-head first-last">
        <th>Name</th>
        <th>Info</th>
        <th>Description</th>
        <th>&nbsp;Options</th>
      </tr>
      <tr
        class="subuser-roles first-last"
      >
        <td class="name">
          <div class="purchases__card--image">
            <img :src="getImgUrl(itemData.details.imgSrc)" alt="">
            <div v-if='badge' class='badge'>+1</div>
          </div>
          <p class="item_title">{{ itemData.details.title}}</p>
        </td>
        <td class="integration">
          <span
            class="external-id">{{ `${itemData.details.orderInfo}: ${itemData.details.id}` }}</span>
          <span
            class="">{{ itemData.details.orderDate }}</span>
        </td>
        <td class="last-activity">
          <div class='purchases__card--description'>
            <p class="item_title">{{ itemData.details.title}}</p>
            <p class="item_purchased--info">Purchased: {{itemData.details.purchased}}</p>
            <p class="item_order--id">Order Reference: #{{itemData.details.id}}</p>
            <p class="item_soldby">
              Sold By: <a href="#">{{ itemData.details.storeName }}</a>
            </p>
            <p class="item_price">${{itemData.details.price}}</p>
          </div>
        </td>
        <td class="action">
          <BaseDropdownMenu
            class="dropdown"
            mobile-position="left"
          />
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, PropSync, Vue } from 'vue-property-decorator';

@Component
export default class TheOrderElement extends Vue {
  @PropSync('item', { type: Object }) itemData!: object

  badge = true;

  public getImgUrl(src: string): string {
    const images = require.context('@/assets/images/purchases', false, /\.png$/);
    return images(`./${src}`);
  }

  public statusChecker(status: string) {
    const path = require.context('@/assets/icons/common/purchases', false, /\.svg$/);
    switch (status) {
      case 'delivered': {
        return { iconSrc: path('./ok_icon.svg'), color: '#0AD688' };
      }
      case 'shipped': {
        return { iconSrc: path('./shipped_icon.svg'), color: '#21455E' };
      }
      case 'awaiting': {
        return { iconSrc: path('./awaiting_icon.svg'), color: '#21455E' };
      }
      case 'arriving': {
        return { iconSrc: path('./arriving_icon.svg'), color: '#21455E' };
      }
      case 'incomplete': {
        return { iconSrc: path('./error_icon.svg'), color: '#F3923C' };
      }
      default: {
        return status;
      }
    }
  }
}
</script>

<style scoped lang="scss">
p{
  padding:0 0;
  margin:0;
}
.purchases__card--status {
  font-size: 20px;
  font-weight: 600;
  @include block-2;
  .purchases__card--status_title {
    font-size: 20px;
    font-weight: 700;
    margin:0;
  }
  .purchases__card--status_icon {
    margin-right: 1rem;
  }
}
.purchases__card--image {
  position: relative;
  .badge {
    width: 23px;
    position: absolute;
    border-radius: 15px;
    background: #525252;
    color: #fff;
    font-size: 11px;
    text-align: center;
    top: 0;
    right: 0;
  }

}
.purchases__card--description{

}
.table-container {
  @include light-ui-scrollbar-dark;
  background: $common-ui-white;
  border-radius: $container-standard-border-radius;
  font-size: $font-small-size;
  overflow-x: auto;
  margin:2rem 0;
}

.header-content {
  padding: 28px 48px 17px;
  display: flex;

  em {
    font-style: normal;
    font-family: $font-regular-weight;
    margin-left: 12px;
    color: $light-ui-light-gray;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  position: relative;

  .table-head {
    width: 100%;
    white-space: nowrap;

    th {
      background: $common-ui-very-light-blue;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 10px 16px;
      z-index: 1;
      margin: 0;
      border-top: 1px solid rgba($common-ui-blue, .16);
      border-bottom: 1px solid rgba($common-ui-blue, .16);
      font: {
        family: $font-medium-weight;
        weight: normal;
        size: 0.7rem;
      }
    }
  }

  tr {
    &:not(.table-head) {
      border-bottom: $standard-border;
      cursor: pointer;
      transition: all 0.24s;

      &:hover {
        background: $light-ui-hover;
      }
    }

    &:last-of-type {
      border-bottom: none;

      td:first-of-type {
        border-bottom-left-radius: 12px;

      }

      td:last-of-type {
        border-bottom-right-radius: 12px;
      }
    }
  }

  td {
    padding: 16px;
  }

  .first-last {
    td:first-of-type,
    th:first-of-type {
      padding-left: 48px;
    }

    td:last-of-type,
    th:last-of-type {
      padding-right: 48px;
    }
  }
}

.name {
  img {
    width:auto;
    height: auto;
  }
}

.integration {
  span {
    display: block;
    font-size: $font-small-size;

    &:first-of-type {
      @include medium-small-font;
    }
  }
}

.status {
  display: flex;
  align-items: center;
}

.circle-outer {
  $size: 24px;
  width: $size;
  height: $size;
  border-radius: 50%;
  background: rgba($common-ui-green, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

  &:hover .animated {
    display: block;
    animation: zoom .4s ease-in-out infinite alternate;

    @keyframes zoom {
      from {
        width: $size / 2 - 2;
        height: $size / 2 - 2;
      }
      to {
        width: $size;
        height: $size;
      }
    }
  }

  .circle-inner, .animated {
    background: $common-ui-green;
    width: $size / 2 - 2;
    height: $size / 2 - 2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .animated {
    display: none;
    background: rgba($common-ui-green, .1);
    position: absolute;
    margin: 0 auto;
  }
}

.offline {
  background: rgba($common-ui-yellow, .1);

  .circle-inner {
    background: $common-ui-yellow;
  }

  .animated {
    background: rgba($common-ui-yellow, .1);
  }

  &:hover .animated {
    display: none;
  }
}

.dropdown {
  z-index: 2;
}

@media (min-width: 1100px) {
  .table-container {
    overflow-x: unset;
  }

  table .table-head th {
    position: sticky;
    top: 144px;
  }
}

.dark {
  @include dark-ui-scrollbar;
  background: $dark-ui-dark;

  table .table-head th {
    background: #011F28;;
  }

  table tr:not(.table-head) {
    border-color: rgba($dark-ui-light, 0.1);

    &:hover {
      background: $dark-ui-hover;
    }
  }
}
</style>
