.modal-enter {
  opacity: 0.8;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.modal-leave-active .modal-container {
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}
