<template>
  <div class="preloader-container">
    <svg height="50" width="50" viewbox="0 0 50 50">
      <circle class="animated" cx="25" cy="25" r="23.5" stroke-width="3"/>
      <circle class="background" cx="25" cy="25" r="23.5" stroke-width="3"/>
    </svg>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class BasePreloaderCircular extends Vue {
}
</script>

<style scoped lang="scss">
.preloader-container {
  $easing:      cubic-bezier(.8,.0,.4,.8);
  $speed:       1320ms;             // overall time taken for all the partitions to meet once
  $linecap:     round;             // could be 'round', but the official one is square
  $partitions:  6;                  // number of points where the arc meets
  $arc:         0.72;               // fraction of the circumference that the arc grows to
  $perimeter:   47px * 3.1415926535897;  // circumference of the raw svg inner circle

  font-size: 0;
  display: inline-block;
  margin: 0 auto;
  animation: outer $speed * $partitions linear infinite;

  svg {
    animation: inner $speed linear infinite;

    .animated {
      fill: none;
      stroke: $common-ui-blue;
      animation: arc $speed $easing infinite;
      stroke-linecap: $linecap;
    }

    .background {
      fill: none;
      stroke: rgba($common-ui-blue, 0.18);
    }
  }

  @keyframes outer {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes inner {
    0% {
      transform: rotate(-360deg * (1 - $arc));
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes arc {
    0% {
      stroke-dasharray: 1 $perimeter;
      stroke-dashoffset: 0;
    }
    40% {
      stroke-dasharray: $arc * $perimeter, $perimeter;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 1 $perimeter;
      stroke-dashoffset: -$arc * $perimeter;
    }
  }
}

</style>
