<template>
  <label
      tabindex="-1"
      :class="['input-label', { 'dark': $colorScheme === 'dark' }]"
  >{{ radioLabel }}
    <input
      type="radio"
      :value="value"
      @change="$emit('selected', value)"
      :name="optionName"
      :checked="isSelected"
      aria-hidden="true"
      hidden
    />
    <span
      role="radio"
      :aria-label="radioLabel"
      :aria-checked="isSelected.toString()"
      @keydown.enter="$emit('selected', value)"
      onclick="this.blur()"
      tabindex="0"
      class="checkmark"
    ></span>
  </label>
</template>

<script lang="ts">
import {
  Component, Prop, Model, Vue,
} from 'vue-property-decorator';

@Component
export default class BaseRadioButton extends Vue {
  @Prop({ type: String, default: 'Radiobox label' })
  readonly radioLabel!: string;

  @Prop({ type: Boolean, default: false })
  readonly isSelected!: boolean;

  @Prop({ type: String, default: 'name' })
  readonly optionName!: string;

  @Model('selected', { type: [String, Number] })
  readonly value!: string | number;
}
</script>

<style scoped lang="scss">
  .input-label {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: $light-ui-dark;
    text-align: left;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

    input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }

    .checkmark {
      @include focus-highlight;
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 3px solid #e2e5ed;
      border-radius: 50%;
      transition: all 0.24s;
    }

    &:hover input ~ .checkmark {
      background: #e2e5ed;
      border: 2px solid #e2e5ed;
    }

    input:checked ~ .checkmark {
      background: $light-ui-dark;
      border: none;
    }

    &:focus {
      border-radius: 50%;
    }
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .input-label input:checked ~ .checkmark:after {
    display: block;
  }

  .input-label .checkmark:after {
    top: 3px;
    left: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $light-ui-dark;
    border: 3px solid $common-ui-white;
  }

  .dark {
    .input-label {
      color: $common-ui-white;

      .checkmark {
        border-color: $dark-ui-light;
      }

      &:hover input ~ .checkmark {
        background: $dark-ui-light;
        border-color: $dark-ui-light;
      }

      input:checked ~ .checkmark {
        background: $common-ui-white;
      }
    }

    .input-label .checkmark:after {
      background: $common-ui-white;
      border-color: $dark-ui-dark;
    }
  }
</style>
