<template>
  <div :class="['checkbox-container', { 'dark': $colorScheme === 'dark' }]">
    <label class="input-label" tabindex="-1"
    >{{ checkboxLabel }}
      <input
        type="checkbox"
        :value="value"
        @change="$emit('change', $event.target.checked)"
        tabindex="-1"
        :checked="value"
        :disabled="disabled"
        aria-hidden="true"
        hidden
      />
      <span
          role="checkbox"
          :aria-checked="value.toString()"
          :aria-label="checkboxLabel"
          @keydown.enter="$emit('change', !value)"
          tabindex="0"
          onclick="this.blur()"
          class="checkmark"
      ></span>
    </label>
  </div>
</template>

<script lang="ts">
import {
  Component, Prop, Model, Vue,
} from 'vue-property-decorator';

@Component
export default class BaseCheckbox extends Vue {
  @Prop({ type: String, default: 'Checkbox label' })
  readonly checkboxLabel!: string;

  @Prop({ type: Boolean, default: false })
  readonly disabled!: boolean;

  @Model('change', { type: Boolean })
  readonly value!: boolean
}
</script>

<style scoped lang="scss">
  .input-label {
    display: block;
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: $light-ui-dark;
    text-align: left;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    width: fit-content;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    &:hover input ~ .checkmark {
      background: $common-ui-light-blue;
      border: 2px solid $common-ui-light-blue;
    }

    input:checked ~ .checkmark {
      background: $light-ui-dark;
      border: 2px solid $light-ui-dark;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }

    input:disabled ~ .checkmark {
      border: 2px solid $common-ui-light-blue;
      background: rgba($common-ui-light-blue, .32);

      &::after  {
        border-color: $common-ui-light-blue;
      }
    }

    .checkmark::after {
      left: 6px;
      top: 2px;
      width: 4px;
      height: 10px;
      border: solid $common-ui-white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .checkmark {
    @include focus-highlight;
    $size: 20px;
    $position: 0;
    position: absolute;
    top: $position;
    left: $position;
    height: $size;
    width: $size;
    background: $common-ui-white;
    border: 2px solid #d8dce6;
    border-radius: 4px;
    transition: all 0.24s;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .dark {
    .input-label {
      color: $common-ui-white;

      &:hover input ~ .checkmark {
        background: $light-ui-dark;
      }
    }

    .checkmark {
      background: $dark-ui-dark;
      border-color: $dark-ui-light;
    }
  }
</style>
