<template>
  <transition name="slide-horizontal" appear>
    <div
        role="status"
        :class="['widget-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <div class="check-icon">
        <svg
          v-if="type === 'success'"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
        >
          <g
            id="Group_15123"
            data-name="Group 15123"
            transform="translate(0 0.5)"
          >
            <rect
              id="Rectangle_1408"
              data-name="Rectangle 1408"
              width="16"
              height="16"
              rx="8"
              transform="translate(0 -0.5)"
              fill="#0ad688"
            />
            <g
              id="Good_checkmark"
              data-name="Good checkmark"
              transform="translate(3.658 4.573)"
            >
              <g id="Group_4357" data-name="Group 4357">
                <path
                  id="Path_4291"
                  data-name="Path 4291"
                  d="M9.263,68.135a.47.47,0,0,0-.665,0L2.967,73.767.8,71.6a.47.47,0,0,0-.665.665l2.5,2.5a.47.47,0,0,0,.665,0L9.263,68.8A.47.47,0,0,0,9.263,68.135Z"
                  transform="translate(0 -67.997)"
                  fill="#fff"
                />
              </g>
            </g>
          </g>
        </svg>
        <svg
          v-else
          xmlns="http://www.w3.org/2000/svg"
          width="16.001"
          height="16.001"
          viewBox="0 0 16.001 16.001"
        >
          <g
            id="Group_15133"
            data-name="Group 15133"
            transform="translate(-628 -479)"
          >
            <circle
              id="Ellipse_4260"
              data-name="Ellipse 4260"
              cx="8"
              cy="8"
              r="8"
              transform="translate(628 479)"
              fill="#ee5951"
            />
            <g
              id="Group_8569"
              data-name="Group 8569"
              transform="translate(636.937 491.218) rotate(180)"
            >
              <circle
                id="Ellipse_4259"
                data-name="Ellipse 4259"
                cx="0.88"
                cy="0.88"
                r="0.88"
                transform="translate(0)"
                fill="#fff"
              />
              <path
                id="Path_8229"
                data-name="Path 8229"
                d="M.526,0A.526.526,0,0,0,0,.526V5A.526.526,0,1,0,1.052,5V.526A.526.526,0,0,0,.526,0Z"
                transform="translate(0.385 3.194)"
                fill="#fff"
              />
            </g>
          </g>
        </svg>
      </div>
      <div class="feedback">
        <span>{{ feedbackTitle }}</span>
        <span>{{ feedbackDescription }}</span>
      </div>
      <div class="close" @click="$emit('close')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14.546"
          height="14.546"
          viewBox="0 0 14.546 14.546"
        >
          <g
            id="Group_15572"
            data-name="Group 15572"
            transform="translate(0.54 1.156)"
          >
            <line
              id="l1"
              data-name="Line 525"
              y1="12"
              x2="12"
              transform="translate(0.732 0.117)"
              fill="none"
              stroke="#21455e"
              stroke-linecap="round"
              stroke-width="1.8"
            />
            <line
              id="l2"
              data-name="Line 526"
              y1="12"
              x2="12"
              transform="translate(0.732 12.117) rotate(-90)"
              fill="none"
              stroke="#21455e"
              stroke-linecap="round"
              stroke-width="1.8"
            />
          </g>
        </svg>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
/* eslint max-len: 0 */
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseFeedbackWidget extends Vue {
    @Prop({ type: String, default: 'success' })
    readonly type!: 'success' | 'failure';

    @Prop({ type: String, required: true })
    readonly feedbackTitle!: string;

    @Prop({ type: String, required: true })
    readonly feedbackDescription!: string;
}
</script>

<style scoped lang="scss">
  .widget-container {
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: $common-ui-dark-shadow;
    padding: 20px 14px 20px 20px;
    width: 100%;
    background: $common-ui-white;
    border-radius: 0;
    z-index: 220;
    display: flex;
    align-items: flex-start;
  }

  .feedback {
    margin-left: 18px;
    max-width: 80%;

    span {
      display: block;
      font-size: $font-small-size;

      &:first-of-type {
        @include medium-small-font;
        margin-top: -4px;
      }

      &:last-of-type {
        margin-top: 6px;
        color: rgba($light-ui-dark, 0.7);
      }
    }
  }

  .check-icon {
    width: fit-content;
    height: fit-content;

    svg {
      $size: 18px;
      width: $size;
      height: $size;
    }
  }

  .close {
    $size: 26px;
    width: $size;
    height: $size;
    margin-left: auto;
    margin-top: -4px;
    background: $common-ui-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.24s;

    svg {
      $size: 10px;
      width: $size;
      height: $size;
    }

    &:hover {
      background: $light-ui-hover;
    }
  }

  .slide-horizontal-enter-active {
    transition: all 0.8s;
  }

  .slide-horizontal-leave-active {
    transition: all 1.4s;
  }

  .slide-horizontal-enter,
  .slide-horizontal-leave-to {
    opacity: 0;
    transform: translateY(6px);
  }

  @media (min-width: 450px) {
    .widget-container {
      position: fixed;
      left: 50px;
      bottom: 20px;
      width: 360px;
      border-radius: 4px;
    }

    .slide-horizontal-enter,
    .slide-horizontal-leave-to {
      opacity: 0;
      transform: translateX(-6px);
    }
  }

  .dark {
    background: $dark-ui-dark;

    .feedback span:first-of-type {
      color: $common-ui-white;
    }

    .feedback span:last-of-type {
      color: $dark-ui-light;
    }

    .close {
      background: $dark-ui-dark;

      svg #l1, svg #l2 {
        stroke: rgba($common-ui-white, .7);
      }

      &:hover {
        background: $dark-ui-hover;
      }
    }
  }
</style>
