<template>
  <div
    v-click-outside
    :class="['menu-container', { 'dark': $colorScheme === 'dark' }]"
  >
    <button
      @click.stop="isMenuShown = !isMenuShown"
      onclick="this.blur()"
      aria-haspopup="listbox"
      aria-label="Select option from menu"
      :aria-pressed="isMenuShown.toString()"
      :class="['button', { 'open-menu': isMenuShown }]"
    >
      <svg
        id="Group_5840"
        data-name="Group 5840"
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 36 36"
      >
        <g
          id="Ellipse_3"
          data-name="Ellipse 3"
          fill="#fff"
          stroke-width="1"
        >
          <circle cx="18" cy="18" r="18" stroke="none"/>
          <circle cx="18" cy="18" r="17.5" fill="none"/>
        </g>
        <g id="Group_1416" data-name="Group 1416" transform="translate(10 16)">
          <g id="Group_26" data-name="Group 26" transform="translate(0 0)">
            <path
              class="dot"
              id="Path_319"
              data-name="Path 319"
              d="M2.113,125.972a2.113,2.113,0,1,0,2.113,2.113A2.116,2.116,0,0,0,2.113,125.972Z"
              transform="translate(0 -125.972)"
              fill="#0bacdb"
            />
          </g>
          <g id="Group_27" data-name="Group 27" transform="translate(5.99 0)">
            <path
              class="dot"
              id="Path_320"
              data-name="Path 320"
              d="M130.3,125.972a2.113,2.113,0,1,0,2.113,2.113A2.116,2.116,0,0,0,130.3,125.972Z"
              transform="translate(-128.184 -125.972)"
              fill="#0bacdb"
            />
          </g>
          <g id="Group_28" data-name="Group 28" transform="translate(11.774 0)">
            <path
              class="dot"
              id="Path_321"
              data-name="Path 321"
              d="M254.056,125.972a2.113,2.113,0,1,0,2.113,2.113A2.116,2.116,0,0,0,254.056,125.972Z"
              transform="translate(-251.943 -125.972)"
              fill="#0bacdb"
            />
          </g>
        </g>
      </svg>
    </button>

    <transition name="slide-fast-down" appear>
      <div
        v-if="isMenuShown"
        :class="[
          'dropdown-menu',
          { 'all-left': position === 'left' },
          { left: mobilePosition === 'left' },
          { right: mobilePosition === 'right' },
          ]"
      >
        <ul
            tabindex="-1"
            role="listbox"
            aria-label="Select option from menu"
            class="menu-options"
        >
          <li
            v-for="menu in menuOptions"
            :key="menu.name"
            @click.stop="() => { menu.action(actionParam); isMenuShown = false }"
            @keydown.enter="() => { menu.action(actionParam); isMenuShown = false }"
            :class="getItemClass(menu)"
            tabindex="0" role="option"
          >
            <div class="icon-wrapper">
              <component :is="camelCase(menu.name)" class="icon"></component>
            </div>
            <span class="option">{{ menu.name }}</span>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { MenuOption } from '@/types';
import camelCase from 'lodash/camelCase';

type ActionParam = number | string | object;

@Component
export default class BaseDropdownMenu extends Vue {
  created() {
    // eslint-disable-next-line no-plusplus
    for (let i = 0; i < this.menuOptions.length; i++) {
      let Icon: any;
      if (this.menuOptions[i].icon) {
        Icon = () => import(`@/assets/icons/${this.menuOptions[i].icon}?inline`);
      } else Icon = () => import('@/assets/icons/common/long_dash.svg?inline');
      Vue.component(camelCase(this.menuOptions[i].name), Icon);
    }
  }

  @Prop({
    type: Array,
    default: () => [
      /* eslint @typescript-eslint/no-empty-function: 0 */
      { name: 'Option 1', action: () => {}, icon: 'common/long_dash.svg' },
      { name: 'Option 2', action: () => {}, icon: 'common/long_dash.svg' },
      { name: 'Delete', action: () => {}, icon: 'common/long_dash.svg' },
    ],
    validator(value: any): boolean {
      // eslint-disable-next-line no-plusplus
      for (let i = 0; i < (value as any[]).length; i++) {
        if (!value[i].name || !value[i].action) return false;
      }
      return true;
    },
  })
  readonly menuOptions!: MenuOption<ActionParam>[];

  @Prop({ type: [Number, String, Object], default: null })
  readonly actionParam!: ActionParam;

  @Prop({ type: String, default: 'center' })
  readonly position!: 'left' | 'center';

  @Prop({ type: String, default: 'center' })
  readonly mobilePosition!: 'left' | 'center' | 'right';

  isMenuShown = false;

  camelCase = camelCase;

  readonly redFlags = [
    'delete',
    'remove',
    'disconnect',
    'revoke',
  ];

  getItemClass(option: MenuOption<ActionParam>) {
    if (option.isDisabled) return 'list-item disabled';
    const hasRedFlag = this.redFlags.some((flag) => option
      .name.toLocaleLowerCase().startsWith(flag));
    if (hasRedFlag && this.menuOptions.length > 1) return 'destroy';
    if (hasRedFlag) return 'destroy-no-border';
    return 'list-item';
  }
}
</script>

<style scoped lang="scss">
  .menu-container {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  .dropdown-menu {
    font-family: $font-regular-weight;
    color: $light-ui-dark;
    position: absolute;
    left: -94px;
    width: 220px;
    cursor: auto;
    transform-origin: 50% 12%;
    z-index: 2;

    &::before {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: 103px;
      top: 8px;
    }
  }

  .left {
    right: -30%;
    left: unset;

    &::before {
      right: 10%;
      left: unset;
    }
  }

  .right {
    left: -30%;

    &::before {
      left: 10%;
    }
  }

  .all-left {
    right: -30%;
    left: unset;

    &::before {
      right: 10%;
      left: unset;
    }
  }

  .button {
    @include focus-highlight;
    $size: 36px;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover svg #Ellipse_3 {
      fill: rgba($common-ui-dark-blue, 0.1);
    }
  }

  .open-menu {
    svg #Ellipse_3 {
      fill: rgba($common-ui-dark-blue, 0.1);
    }
  }

  .menu-options {
    @include light-ui-scrollbar-blue;
    max-height: 400px;
    background: $common-ui-white;
    border-radius: 10px;
    padding: 12px 0;
    overflow-y: auto;
    list-style: none;
    box-shadow: $common-ui-blue-spread-shadow;

    .list-item {
      @include focus-highlight;
      padding: 8px 20px 8px 18px;
      border-left: 2px solid transparent;
      font-size: $font-medium-size;
      text-align: left;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: background-color 0.2s;

      &:hover {
        background: rgba($common-ui-blue, 0.1);
        border-color: $common-ui-blue;
      }

      &:focus {
        margin: 0 2px;
        border-radius: 2px;
      }
    }

    .icon-wrapper {
      margin-right: 12px;
      width: 22px;
      display: flex;
      align-items: center;
      justify-content: center;

      .icon {
        transform: scale(0.9);
      }
    }
  }

  .destroy {
    padding: 8px 22px 8px 18px;
    border-left: 2px solid transparent;
    font-size: $font-medium-size;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.2s;
    color: $common-ui-red;
    border-top: 1px solid $common-horizontal-line;

    &:hover {
      background: rgba($common-ui-red, 0.1);
      border-left-color: $common-ui-red;
    }

    &:focus {
     outline: none;
      border-radius: 2px;
     box-shadow: 0 0 0 2px rgba($common-ui-red, .6);
  }
  }

  .destroy-no-border {
    @extend .destroy;
    border-top: none;
  }

  .disabled {
    pointer-events: none;
    color: $light-ui-very-light-gray;
  }

.slide-fast-down-enter-active,
.slide-fast-down-leave-active {
  transition: all 0.08s;
}

.slide-fast-down-enter,
.slide-fast-down-leave-to {
  opacity: 0.7;
  transform: translateY(3px) scale(0.9);
}

  @media (min-width: 900px) {
    .dropdown-menu {
      left: -94px;
      right: unset;

      &::before {
        left: 103px;
        right: unset;
      }
    }

    .all-left {
      right: -30%;
      left: unset;

      &::before {
        right: 10%;
        left: unset;
      }
    }
  }

  .dark {
    .dropdown-menu {
      color: $common-ui-white;
    }

    .dropdown-menu::before {
      background: $dark-ui-dark;
    }

    .menu-options {
      background: $dark-ui-dark;
      box-shadow: $common-ui-dark-spread-shadow;

      .list-item:hover {
        background: rgba($common-ui-blue, 0.03);
      }
    }

    .destroy {
      border-top-color: rgba($dark-ui-light, 0.1);
    }

    .destroy-no-border {
      border-top: none;
    }

    .disabled {
      color: rgba($common-ui-white, 0.44);
    }

    .button svg #Ellipse_3 {
      fill: rgba($common-ui-dark-blue, 0.1);
    }

    .button:hover svg #Ellipse_3 {
      fill: $common-ui-white;
    }

    .open-menu {
      svg #Ellipse_3 {
        fill: $common-ui-white;
      }
    }
  }
</style>
