<template>
  <div class="preloader-container">
    <div class="animated"></div>
</div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class BasePreloaderLinear extends Vue {}
</script>

<style scoped lang="scss">
  .preloader-container {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background: rgba($common-ui-blue, 0.18);
    margin: 0 auto;
    display: inline-block;
}

.animated {
    position: relative;
    width: 100%;
    height: 100%;
}

.animated:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: $common-ui-blue;
    animation: first 1.5s infinite ease-out;
}

.animated:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: rgba($common-ui-blue, 0.18);
    animation: second 1.5s infinite ease-in;
}

@keyframes first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}
</style>
