<template>
  <div :class="['select-container', { 'dark': $colorScheme === 'dark' }]" v-click-outside>
    <div class="label-wrapper">
      <label :for="fieldId" :id="`label-id-${fieldId}`" class="input-label">{{ fieldLabel }}</label>
      <div
        v-if="tooltip"
        tabindex="0"
        @mouseenter="isTooltipVisible = true"
        @mouseleave="isTooltipVisible = false"
        @focus="isTooltipVisible = true"
        @blur="isTooltipVisible = false"
        aria-describedby="tooltip"
        class="tip-wrapper"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="14.5" height="14.5" viewBox="0 0 14.5 14.5">
          <g id="tip" transform="translate(-346.773 -24.359)">
            <g id="Group_14877" data-name="Group 14877" transform="translate(191.277 0.859)">
              <g id="Group_14876" data-name="Group 14876" transform="translate(-191.277 -0.859)">
                <path id="Path_9888" data-name="Path 9888"
                      d="M354.024,24.359a7.25,7.25,0,1,1-7.25,7.25A7.253,7.253,0,0,1,354.024,
                      24.359Zm0,.722a6.528,6.528,0,1,1-6.527,6.528A6.531,6.531,0,0,1,354.024,
                      25.081Zm.85,9.569V31.2a.6.6,0,1,0-1.2,0V34.65a.6.6,0,0,0,1.2,
                      0Zm0-5.831v-.752a.6.6,0,0,0-1.2,0v.752a.6.6,0,0,0,1.2,0Z"
                      fill="#0dabd8" fill-rule="evenodd"/>
              </g>
            </g>
          </g>
        </svg>
        <BaseToolTipSmall v-if="isTooltipVisible" :tip="tooltip" class="tip-object"/>
      </div>
    </div>
    <span v-if="description" class="description">{{ description }}</span>
    <div
      role="combobox"
      :aria-expanded="isMenuShown.toString()"
      aria-haspopup="listbox"
      class="input-wrapper"
    >
      <input
        type="text"
        :id="fieldId"
        v-on="$listeners"
        v-bind="$attrs"
        :value="value"
        @click="isMenuShown = !isMenuShown"
        @keydown.enter="isMenuShown = !isMenuShown"
        class="input-field"
        :class="inputFieldClasses"
        :placeholder="fieldPlaceholder"
        :tabindex="tabIndex"
        readonly
        maxlength="1000"
        role="button"
        aria-haspopup="listbox"
        :aria-errormessage="`error-message-${fieldId}`"
        aria-autocomplete="list"
        :aria-controls="`menu-id-${fieldId}`"
      />

      <transition name="slide-fast" appear>
        <div v-if="isMenuShown" class="dropdown-menu">
          <div v-if="menuOptions.length > MIN_SEARCHABLE_LENGTH" class="search">
            <BaseSearchFilter
              v-bind:searchPayload.sync="searchPayload"
            />
          </div>
          <ul
            :class="['menu-options', { 'with-search': menuOptions.length > MIN_SEARCHABLE_LENGTH }]"
            tabindex="-1"
            role="listbox"
            :aria-labelledby="`label-id-${fieldId}`"
            :id="`menu-id-${fieldId}`"
          >
            <li
              v-for="option in filteredList"
              :key="option"
              @click="() => { $emit('update', option); isMenuShown = false}"
              @keydown.enter="() => { $emit('update', option); isMenuShown = false}"
              tabindex="0" role="option"
              :class="{ selected: option === value }"
            >
              {{ option }}
            </li>
          </ul>
          <NoSearchResultFound
            v-if="filteredList.length === 0 && searchPayload"
            :search-payload="searchPayload"
            class="no-results"
          />
        </div>
      </transition>
      <svg
        @click="isMenuShown = !isMenuShown"
        :class="['dropdown', { 'rotate-dropdown': isMenuShown }]"
        xmlns="http://www.w3.org/2000/svg"
        width="9.709"
        height="5.395"
        viewBox="0 0 9.709 5.395"
      >
        <path
          id="Path_2500"
          data-name="Path 2500"
          d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,
          0-.463.463L10.8,
        38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,.232-.1l4.307-4.307A.321.321,0,0,0,
        15.582,33.5Z"
          transform="translate(-6.168 -33.168)"
          fill="#21455e"
          stroke="#21455e"
          stroke-width="0.4"
        />
      </svg>
    </div>

    <div v-if="inputHasError" class="error-message">
      <svg
        class="exclamation"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 18 18"
      >
        <g
          id="Group_8570"
          data-name="Group 8570"
          transform="translate(-628 -479)"
        >
          <circle
            id="Ellipse_4260"
            data-name="Ellipse 4260"
            cx="9.044"
            cy="9.044"
            r="9.044"
            transform="translate(628 479)"
            fill="#ee5951"
          />
          <g
            id="Group_8569"
            data-name="Group 8569"
            transform="translate(638.103 492.812) rotate(180)"
          >
            <circle
              id="Ellipse_4259"
              data-name="Ellipse 4259"
              cx="0.994"
              cy="0.994"
              r="0.994"
              transform="translate(0)"
              fill="#fff"
            />
            <path
              id="Path_8229"
              data-name="Path 8229"
              d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,.595,0Z"
              transform="translate(0.435 3.61)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>
      <p aria-live="assertive" :id="`error-message-${fieldId}`">{{ errorMessage }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BigSearchIcon from '@/assets/icons/common/big_search.svg?inline';
import NoSearchResultFound from '@/components/common/composition/NoSearchResultFound.vue';

@Component({ components: { NoSearchResultFound, BigSearchIcon }, inheritAttrs: false })
export default class BaseSelectMenu extends Vue {
    @Prop({ type: String, default: 'Field label' })
    readonly fieldLabel!: string;

    @Prop({ type: String, default: 'Enter field placeholder' })
    readonly fieldPlaceholder!: string;

    @Prop({ type: String, default: 'Please correct this input' })
    readonly errorMessage!: string;

    @Prop({ type: Boolean, default: false })
    readonly inputHasError!: boolean;

    @Prop({ type: String })
    readonly value!: string;

    @Prop({ type: Number, default: 0 })
    readonly tabIndex!: number;

    @Prop({ type: String, required: true, default: 'drop-down-id' })
    readonly fieldId!: string;

    @Prop({ type: String, default: '' })
    readonly description!: string;

    @Prop({ type: String, default: '' })
    readonly tooltip!: string;

    @Prop({ type: Array, default: () => ['Option 1', 'Option 2', 'Option 3'] })
    readonly menuOptions!: string[];

    readonly MIN_SEARCHABLE_LENGTH = 10;

    isMenuShown = false;

    isTooltipVisible = false;

    searchPayload = '';

    get inputFieldClasses() {
      return {
        'input-error': this.inputHasError,
      };
    }

    get filteredList() {
      return this.menuOptions.filter(
        (menu) => menu.toLocaleLowerCase()
          .indexOf(this.searchPayload.toLocaleLowerCase())
          !== -1,
      );
    }

    mounted() {
      document.addEventListener('keyup', this.escapeCloseDrawer);
    }

    destroyed() {
      document.removeEventListener('keyup', this.escapeCloseDrawer);
    }

    escapeCloseDrawer(event: KeyboardEvent) {
      const field = document.querySelector(`#${this.fieldId}`) as HTMLInputElement;
      if (event.key === 'Escape') {
        this.isMenuShown = false;
        field.blur();

      // Compatibility with old browsers (IE) that don't support event.key.
      } else if (event.keyCode === 27) {
        this.isMenuShown = false;
        field.blur();
      }
    }
}
</script>

<style scoped lang="scss">
  .select-container {
    .dropdown {
      width: 10px;
      height: 5px;
      position: absolute;
      top: 19px;
      right: 16px;
    }

    .rotate-dropdown {
      transform: scaleY(-1);
    }
  }

  .input-wrapper {
    position: relative;
  }

  .input-field {
    @include medium-small-font;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $common-ui-white;
    border: 2px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 10px 20px 10px 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::placeholder {
      color: $light-ui-very-light-gray;
      font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }
  }

  .input-error {
    border-color: $common-ui-red;

    &:focus {
      border-color: $common-ui-red;
    }
  }

  .label-wrapper {
    margin: 0 0 5px;
    display: flex;
    align-items: center;

    .input-label {
      @include medium-small-font;
      display: block;
      text-align: left;
      margin-right: 10px;
    }

    .tip-wrapper {
      @include focus-highlight;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover svg path {
        fill: #09a4cf;
      }
    }

    .tip-object {
      position: absolute;
      bottom: 24px;
      cursor: default;
    }

    svg {
      width: 14px;
      height: 14px;
      transition: all .4s;
    }
  }

  .error-message {
    display: flex;
    align-items: center;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      font-size: $font-very-small-size;
    }

    svg {
      $size: 18px;
      width: $size;
      height: $size;
    }
  }

  .dropdown-menu {
    position: absolute;
    min-width: 100%;
    background: $common-ui-white;
    box-shadow: 0 3px 6px 0 rgba($common-ui-blue, 0.06),
    0 0 18px 0 rgba($common-ui-blue, 0.1);
    border-radius: 10px;
    z-index: 1;
  }

  .search {
    margin: 16px 0 8px;
    padding: 0 16px;
    display: flex;
    justify-content: center;

    ::v-deep {
      .search-bar-wrapper {
        width: 88%;
      }

      input {
        max-width: 100%;
      }
    }
  }

  .menu-options {
    @include light-ui-scrollbar-dark;
    max-height: 400px;
    overflow-y: auto;
    padding: 2px 0 2px 0;
    list-style: none;
    margin: 6px 0 16px;

    li {
      @include focus-highlight;
      padding: 8px 28px 8px 36px;
      border-left: 2px solid transparent;
      font-size: $font-medium-size;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background: rgba($common-ui-blue, 0.1);
        border-color: $common-ui-blue;
      }

      &:focus {
        margin: 0 2px;
        border-radius: 2px;
      }
    }

    .selected {
      font: {
        family: $font-medium-weight;
        weight: normal;
      }
      padding-left: 12px;

      &::before {
        content: url("../../../../assets/icons/common/selected_check.svg");
        padding-right: 4px;
      }
    }
  }

  .with-search {
    max-height: 366px;
  }

  .no-results ::v-deep svg {
    transform: scale(.8);
  }

  .description {
    display: block;
    margin-bottom: 5px;
    font-size: $font-small-size;
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-small-size;

      &::placeholder {
        font-size: $font-small-size;
      }
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    .dropdown-menu {
      box-shadow: $common-ui-dark-spread-shadow;
      background: $dark-ui-dark;
    }

    .menu-options {
      @include dark-ui-scrollbar;

      li:hover {
        background: $dark-ui-hover;
      }
    }

    .select-container .dropdown path {
      fill: $common-ui-white;
      stroke: $common-ui-white;
    }
  }
</style>
