<template>
  <div :class="[
    'child-container',
    { default: type === 'default' },
    { pass: type === 'pass' },
    { highlight: type === 'highlight' },
    { warn: type === 'warn' },
    { fail: type === 'fail' },
    { strong },
    { 'dark': $colorScheme === 'dark' }
    ]">
    {{ info }}
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({ inheritAttrs: false })
export default class BaseInformational extends Vue {
  @Prop({ type: String, default: 'Information' })
  readonly info!: string;

  @Prop({ type: String, default: 'default' })
  readonly type!: 'default' | 'highlight' | 'pass' | 'warn' | 'fail';

  @Prop({ type: Boolean, default: false })
  readonly strong!: boolean;
}
</script>

<style scoped lang="scss">
  .child-container {
    display: inline-block;
    padding: 4px 16px;
    border-radius: 20px;
    white-space: nowrap;
    font-size: $font-small-size;
    width: fit-content;
    font-family: $font-regular-weight;
  }

  .default {
    color: $light-ui-dark;
    background: $light-ui-hover;
  }

  .pass {
    color: $common-ui-green;
    background: rgba($common-ui-green, .08);
  }

  .highlight {
    color: $common-ui-blue;
    background: rgba($common-ui-blue, .08);
  }

  .warn {
    color: $common-ui-yellow;
    background: rgba($common-ui-yellow, .08);
  }

  .fail {
    color: $common-ui-red;
    background: rgba($common-ui-red, .08);
  }

  .strong {
    @include medium-small-font;
  }

  .dark {
    .default {
      background: $dark-ui-hover;
      color: $common-ui-white;
    }

    .pass {
      color: $common-ui-green;
      background: rgba($common-ui-green, .08);
    }

    .highlight {
      color: $common-ui-blue;
      background: rgba($common-ui-blue, .08);
    }

    .warn {
      color: $common-ui-yellow;
      background: rgba($common-ui-yellow, .08);
    }

    .fail {
      color: $common-ui-red;
      background: rgba($common-ui-red, .08);
    }
  }
</style>
