<template>
  <!--  Required to prevent allow click from parents-->
  <div @click.stop="">
    <label class="switch-container">
      <input
        type="checkbox"
        :value="value"
        @change.stop="$emit('change', $event.target.checked)"
        :checked="value"
        tabindex="-1"
        :aria-label="value ? 'Disable' : 'Enable'"
        aria-hidden="true"
        hidden
      />
      <span
          role="switch"
          :aria-checked="value ? value.toString() : false"
          @keydown.enter="$emit('change', !value)"
          tabindex="0"
          onclick="this.blur()"
          class="switch"
      ></span>
    </label>
  </div>
</template>

<script lang="ts">
import { Component, Model, Vue } from 'vue-property-decorator';

@Component
export default class BaseToggleSwitch extends Vue {
  @Model('change', { type: Boolean })
  readonly value!: boolean;
}
</script>

<style scoped lang="scss">
  .switch-container {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    input:checked ~ .switch {
      background: $common-ui-green;
      transition: all 0.4s;
    }

    input:checked ~ .switch::after {
      display: block;
      content: url("../../../../assets/icons/common/switch_toggle_checked.svg");
      position: absolute;
      top: -7px;
      left: 8px;
      animation-name: selected;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes selected {
    from {
      left: -10px;
    }
    to {
      left: 8px;
    }
  }

  @keyframes unselected {
    from {
      left: 8px;
    }
    to {
      left: -10px;
    }
  }

  .switch {
    @include focus-highlight;
    position: absolute;
    top: -10px;
    height: 20px;
    width: 38px;
    background: $light-ui-very-light-gray;
    border-radius: 10px;
    transition: all 0.4s;

    &::after {
      content: url("../../../../assets/icons/common/switch_toggle_unchecked.svg");
      position: absolute;
      bottom: -18px;
      left: -10px;
      animation-name: unselected;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
  }
</style>
