<template>
  <div :class="['input-container', { 'dark': $colorScheme === 'dark' }]">
    <label class="textarea-label" :for="fieldId">{{ fieldLabel }}</label>
    <span v-if="description" class="description">{{ description }}</span>
    <textarea
      :id="fieldId"
      v-on="$listeners"
      v-bind="$attrs"
      :value="value"
      @input="$emit('update', $event.target.value)"
      :class="['text-area', { 'textarea-error': inputHasError }]"
      :placeholder="fieldPlaceholder"
      :autofocus="autoFocus"
      :autocomplete="autoComplete"
      :spellcheck="spellCheck"
      :tabindex="tabIndex"
      maxlength="10000"
      :autocapitalize="autoCapitalize"
      :dir="textDirection"
      :rows="rows"
      role="textbox"
      aria-multiline="true"
      :aria-errormessage="`error-message-${fieldId}`"
    >
    </textarea>

    <div v-if="inputHasError" class="error-message">
      <div class="error-icon">
        <svg
          class="exclamation"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
        >
          <g
            id="Group_8570"
            data-name="Group 8570"
            transform="translate(-628 -479)"
          >
            <circle
              id="Ellipse_4260"
              data-name="Ellipse 4260"
              cx="9.044"
              cy="9.044"
              r="9.044"
              transform="translate(628 479)"
              fill="#ee5951"
            />
            <g
              id="Group_8569"
              data-name="Group 8569"
              transform="translate(638.103 492.812) rotate(180)"
            >
              <circle
                id="Ellipse_4259"
                data-name="Ellipse 4259"
                cx="0.994"
                cy="0.994"
                r="0.994"
                transform="translate(0)"
                fill="#fff"
              />
              <path
                id="Path_8229"
                data-name="Path 8229"
                d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,
                .595,0Z"
                transform="translate(0.435 3.61)"
                fill="#fff"
              />
            </g>
          </g>
        </svg>
      </div>
      <p aria-live="assertive" :id="`error-message-${fieldId}`">{{ errorMessage }}</p>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Model, Prop, Vue,
} from 'vue-property-decorator';
import { nullableBooleanValidator } from '@/includes/common/validators/vueTypeValidators';

@Component({ inheritAttrs: false })
export default class BaseTextArea extends Vue {
  @Prop({ type: String, default: 'Field label' })
  readonly fieldLabel!: string;

  @Prop({ type: String, default: 'Enter field placeholder' })
  readonly fieldPlaceholder!: string;

  @Prop({ type: String, default: 'Please correct this input' })
  readonly errorMessage!: string;

  @Prop({ type: Boolean, default: false })
  readonly inputHasError!: boolean;

  @Prop({ validator: nullableBooleanValidator, default: null })
  readonly autoFocus!: boolean | null;

  @Prop({ type: String, default: 'off' })
  readonly autoComplete!: string;

  @Prop({ type: Boolean, default: true })
  readonly spellCheck!: boolean;

  @Prop({ type: Number, default: 0 })
  readonly tabIndex!: number;

  @Prop({ type: String, default: 'sentences' })
  readonly autoCapitalize!: string;

  @Prop({ type: String, default: 'ltr' })
  readonly textDirection!: string;

  @Prop({ type: String, required: true })
  readonly fieldId!: string;

  @Prop({ type: String, default: '' })
  readonly description!: string;

  @Prop({
    type: Number,
    default: 6,
    validator(value: number): boolean {
      return value < 40;
    },
  })
  readonly rows!: number;

  @Model('update', { type: String })
  readonly value!: string;
}
</script>

<style scoped lang="scss">
  .text-area {
    @include medium-small-font;
    @include light-ui-scrollbar-dark;
    font-family: $font-regular-weight;
    font-size: $font-root-element-size;
    line-height: 1.6;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    display: block;
    outline: none;
    background: $common-ui-white;
    border: 2px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    resize: none;
    transition: all 0.24s;
    overflow-y: auto;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::placeholder {
      color: $light-ui-very-light-gray;
      font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .textarea-error {
    border-color: $common-ui-red;

    &:focus {
      border-color: $common-ui-red;
    }
  }

  .textarea-label {
    @include medium-small-font;
    display: block;
    text-align: left;
    margin: 0 0 5px;
  }

  .error-message {
    display: flex;
    align-items: flex-start;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      margin-top: 1px;
      line-height: 1.3;
      font-size: $font-very-small-size;
    }

    .error-icon {
      $size: 18px;
      width: $size;
      height: $size;

      svg {
        width: $size;
        height: auto;
      }
    }
  }

  .description {
    display: block;
    margin-bottom: 5px;
    font-size: $font-small-size;
  }

  @media (min-width: 600px) {
    .text-area {
      font-size: $font-medium-size;

      &::placeholder {
        font-size: $font-medium-size;
      }
    }
  }

  .dark {
    .text-area {
      @include dark-ui-scrollbar;
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }
  }
</style>
