<template>
  <div :class="[
    'tooltip-container',
    { 'animate': isAnimated, 'dark': $colorScheme === 'dark' },
  ]"
  >
    <div role="tooltip" class="tooltip-wrapper">
      <div :class="['pointer', pointerPosition]"></div>
      <slot>Click here to to add a new account resource.</slot>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseTooltipLarge extends Vue {
  @Prop({
    type: String,
    default: 'top',
    validator(value: string): boolean {
      return ['top', 'right', 'bottom', 'left'].indexOf(value) !== -1;
    },
  })

  readonly pointerPosition!: string;

  @Prop({ type: Boolean, default: true })
  readonly isAnimated!: boolean
}
</script>

<style scoped lang="scss">
  .tooltip-wrapper {
    max-width: 200px;
    padding: 12px 14px 8px 14px;
    border-radius: $container-standard-border-radius;
    border: 1px solid rgba($common-ui-blue, 0.4);
    font-size: $font-small-size;
    background: $common-ui-white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.11);
    position: relative;
    z-index: 4;

    .pointer {
      background: $common-ui-white;
      $size: 14px;
      width: $size;
      height: $size;
      position: absolute;
    }

    .top {
      border-top-left-radius: 4px;
      border: {
        top: 1px solid rgba($common-ui-blue, 0.4);
        left: 1px solid rgba($common-ui-blue, 0.4);
      }
      transform: rotate(45deg);
      top: -8px;
      left: 92px;
    }

    .right {
      border-bottom-right-radius: 4px;
      border: {
        top: 1px solid rgba($common-ui-blue, 0.4);
        right: 1px solid rgba($common-ui-blue, 0.4);
      }
      transform: rotate(45deg);
      top: 24px;
      right: -7px;
    }

    .bottom {
      border-bottom-right-radius: 4px;
      border: {
        bottom: 1px solid rgba($common-ui-blue, 0.4);
        right: 1px solid rgba($common-ui-blue, 0.4);
      }
      transform: rotate(45deg);
      bottom: -8px;
      left: 92px;
    }

    .left {
      border-bottom-right-radius: 4px;
      border: {
        bottom: 1px solid rgba($common-ui-blue, 0.4);
        left: 1px solid rgba($common-ui-blue, 0.4);
      }
      transform: rotate(45deg);
      top: 24px;
      left: -7px;
    }
  }

  .animate {
    transition: all 1.5s;
    opacity: 0;
    visibility: hidden;
    animation: slide-up-down 2s 10s both ease-in-out infinite alternate,
    hide 0.4s 10s forwards;
  }

  @keyframes slide-up-down {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-8px);
    }
  }

  @keyframes hide {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  .dark {
    .tooltip-wrapper {
      background: $dark-ui-dark;
    }

    .pointer {
      background: $dark-ui-dark;
    }
  }
</style>
