<template>
  <transition name="zoom-fast" appear>
    <div :class="[
      'tooltip-container', {
        dark: $colorScheme === 'dark',
        bottom: pointerPosition === 'bottom',
        left: pointerPosition === 'left',
        top: pointerPosition === 'top',
        right: pointerPosition === 'right',
      }]"
    >
      <span
          role="tooltip"
          id="tooltip"
          :aria-hidden="(!isTooltipVisible).toString()"
      >{{ tip }}</span>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseToolTipSmall extends Vue {
  @Prop({ type: String, default: 'What tip?' })
  readonly tip!: string

  @Prop({ type: Boolean, default: false })
  readonly isTooltipVisible!: boolean;

  @Prop({ type: String, default: 'bottom' })
  readonly pointerPosition!: 'bottom' | 'left' | 'top' | 'right';
}
</script>

<style scoped lang="scss">
  @import '../../../../assets/styles/modules/appearance_transition_zoom_fast_module';

  .tooltip-container {
    background: $dark-ui-dark;
    color: $common-ui-white;
    box-shadow: $common-ui-dark-shadow;
    padding: 8px 14px;
    position: relative;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    z-index: 6;

    span {
      font-family: $font-regular-weight;
      font-weight: normal;
      width: max-content;
      display: inline-block;
      word-break: break-word;
      font-size: $font-very-small-size;
      z-index: 7;
    }

    &::before {
      $size: 10px;
      content: "";
      height: $size;
      width: $size;
      background: $dark-ui-dark;
      border-bottom-right-radius: 2px;
      transform: rotate(45deg);
      position: absolute;
    }
  }

  .bottom::before {
    left: calc(50% - 5px);
    bottom: -4px;
  }

  .left::before {
    left: -4px;
    bottom: calc(50% - 6px);
  }

  .top::before {
    left: calc(50% - 5px);
    bottom: calc(100% - 5px);
  }

  .right::before {
    left: calc(100% - 6px);
    bottom: calc(50% - 6px);
  }

  .dark .tooltip-container {
    background: $dark-ui-background;

    &::before {
      background: $dark-ui-background;
    }
  }
</style>
