<template>
  <transition name="fade" appear>
    <div :class="['widget-container', { 'dark': $colorScheme === 'dark' }]">
      <div
        v-for="(status, index) in passwordStatuses"
        :key="index"
        class="status-message-pass"
        :class="{ 'status-message-fail': applyFailClass(status) }"
        id="password-constraints"
      >
        <img :src="setStatusIcon(status)" alt="Password requirement status"/>
        <p>{{ status.title }}</p>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import {
  hasUppercase,
  hasLowercase,
  hasNumber,
  hasSpecialCharacter,
  hasAtLeastEightChar,
  hasNoRepeatingOrConsecutiveChar,
} from '@/includes/common/validators/regexValidators';

@Component
export default class BasePasswordRequirementWidget extends Vue {
  @Prop({ type: String, required: true })
  readonly userPassword!: string;

  passwordFieldHasError = false;

  passwordStatuses = [
    { title: 'One uppercase character', type: 'passwordHasUppercase' },
    { title: 'One lowercase character', type: 'passwordHasLowercase' },
    { title: 'One number', type: 'passwordHasNumber' },
    { title: 'One special character', type: 'passwordHasSpecialCharacter' },
    { title: '8 characters minimum', type: 'passwordIsAtLeastEightChar' },
    {
      title:
          'No repeating or consecutive characters (e.g. ‘aaaa’ or ‘1234’)',
      type: 'passwordHasNoRepeatingOrConsecutiveChar',
    },
  ];

  get passwordHasUppercase() {
    return hasUppercase(this.userPassword);
  }

  get passwordHasLowercase() {
    return hasLowercase(this.userPassword);
  }

  get passwordHasNumber() {
    return hasNumber(this.userPassword);
  }

  get passwordHasSpecialCharacter() {
    return hasSpecialCharacter(this.userPassword);
  }

  get passwordIsAtLeastEightChar() {
    return hasAtLeastEightChar(this.userPassword);
  }

  get passwordHasNoRepeatingOrConsecutiveChar() {
    return hasNoRepeatingOrConsecutiveChar(this.userPassword);
  }

  setStatusIcon(status: { title: string; type: string }) {
    return this[status.type as keyof ThisType<any>] === true
      /* eslint import/no-dynamic-require: 0 */
      /* eslint global-require: 0 */
      ? require('@/assets/icons/authentication/passed_password_requirement.svg')
      : require('@/assets/icons/authentication/failed_password_requirement.svg');
  }

  applyFailClass(status: { title: string; type: string }) {
    return !this[status.type as keyof ThisType<any>];
  }
}
</script>

<style scoped lang="scss">
  .widget-container img {
    height: 18px;
    width: 18px;
  }

  .status-message-pass {
    display: flex;
    align-items: center;
    color: $common-ui-green;
    height: 14px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      font-size: $font-very-small-size;
    }
  }

  .status-message-fail {
    color: rgba($light-ui-dark, 0.5);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  .dark {
    .status-message-fail {
      color: $dark-ui-light;
    }
  }
</style>
