<template>
  <div
      :class="[{ 'no-background': !background }, { 'dark': $colorScheme === 'dark' }]">
    <button
        v-if="tag === 'button'"
        @click.prevent="action"
        onclick="this.blur()"
        :class="[
        'button', state,
        { 'dark': $colorScheme === 'dark' },
        { 'no-border': !border },
        { 'plain-text': plainText },
        ]"
    >
      {{ text }}
    </button>
    <a
        v-else
        :href="link"
        onclick="this.blur()"
        :class="[
        'button', state,
        { 'dark': $colorScheme === 'dark' },
        { 'no-border': border === false },
        ]"
    >
      {{ text }}
    </a>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseButton extends Vue {
    @Prop({
      type: String,
      default: 'button',
      validator: (value: string) => ['a', 'button'].includes(value),
    })
    readonly tag!: string;

    @Prop({ type: String, required: true, default: 'Button Text' })
    readonly text!: string;

    @Prop({ type: Function })
    readonly action!: () => void;

    @Prop({ type: String })
    readonly link!: string;

    @Prop({ type: String, default: 'execute' })
    readonly state!: 'execute' | 'cancel' | 'disable' | 'warn';

    @Prop({ type: Boolean, default: true })
    readonly border!: boolean;

    @Prop({ type: Boolean, default: true })
    readonly background!: boolean;

    @Prop({ type: Boolean, default: false })
    readonly plainText!: boolean;
}
</script>

<style scoped  lang="scss">
  .button {
    @include medium-small-font;
    @include focus-highlight;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 36px;
    color: $common-ui-white;
    cursor: pointer;
    display: inline-block;
    padding: 8px 24px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: all 0.24s;
  }

  .execute {
    background: $common-ui-blue;
    border: 1px solid $common-ui-blue;

    &:hover {
      background: $common-ui-dark-blue;
      border: 1px solid $common-ui-dark-blue;
    }
  }

  .cancel {
    background: $common-ui-red;
    border: 1px solid $common-ui-red;

    &:hover {
      background: $common-ui-dark-red;
      border: 1px solid $common-ui-dark-red;
    }
  }

  .disable {
    background: #7A8F9E;
    border: 1px solid #7A8F9E;
    cursor: unset;
    pointer-events: none;
  }

  .warn {
    background: $common-ui-yellow;
    border: 1px solid $common-ui-yellow;

    &:hover {
      background: $common-ui-dark-yellow;
      border: 1px solid $common-ui-dark-yellow;
    }
  }

  .no-background {
    .button {
      background: $common-ui-white;
    }

    .execute {
      color: $common-ui-blue;
      &:hover {
        background: $common-ui-blue;
        color: $common-ui-white;
        border: 1px solid $common-ui-blue;
      }
    }
    .no-border {
      border: none;

      &:hover {
        color: $common-ui-blue;
        background: rgba($common-ui-blue, 0.08);
        border: none;
      }
    }
  }

  .plain-text {
      padding: 0;
      border: none;
      color: $common-ui-blue;
      border-radius: unset;
      background: none;
      font-family: $font-regular-weight;
      font-size: $font-root-element-size;

      &:hover {
        background: none;
        border: none;
        color: $common-ui-dark-blue;
      }
    }

  .dark {
    border-radius: 36px;

    .no-background {
      .button {
        background: rgba($common-ui-blue, 0.08);
      }

      .execute {
        color: $dark-ui-light;

        &:hover {
          background: rgba($common-ui-blue, 0.10);
        }
      }
    }
  }
</style>
