<template>
  <transition name="slide-fast" appear>
    <div :class="['save-cancel-container', { 'dark': $colorScheme === 'dark' }]">
      <div v-if="position === 'bottom'" class="line"></div>
      <div :class="['save-cancel', { top: position === 'top' }]">
        <BaseButton
          :text="cancelText"
          :action="discardAction"
          :border="false"
          :background="false"
        />
        <BaseButton
          class="save-button"
          :text="saveText"
          :action="saveAction"
        />
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class
BaseSaveCancel extends Vue {
  @Prop({ type: String, default: 'Discard' })
  readonly cancelText!: string;

  @Prop({ type: String, default: 'Save' })
  readonly saveText!: string;

  @Prop({ type: Function, required: true })
  discardAction!: () => void;

  @Prop({ type: Function, required: true })
  saveAction!: () => void;

  @Prop({
    type: String,
    default: 'top',
    validator(value: string): boolean {
      return ['top', 'bottom'].includes(value.toLocaleLowerCase());
    },
  })
  readonly position!: string;
}
</script>

<style scoped lang="scss">
  .save-cancel {
    display: flex;
    align-items: center;
    justify-content: center;

    .save-button {
      margin-left: 50px;
    }
  }

  @media (min-width: 600px) {
    .save-cancel {
      justify-content: flex-end;

      .save-button {
        margin-left: 26px;
      }
    }
  }

  .dark {
    .line {
      border-color: rgba($dark-ui-light, 0.1);
    }
  }
</style>
