<template>
  <div role="directory" :class="['crumb-container', { 'dark': $colorScheme === 'dark' }]">
    <div v-for="(nav, index) in pathList" :key="nav.name" class="crumb-item">
      <router-link
        v-if="nav.param"
        :to="{ name: nav.route, params: { [nav.param.name]: nav.param.value } }"
        :tabindex="index === pathList.length - 1 ? '-1' : '0'"
        :role="index === pathList.length - 1 ? 'presentation' : 'link'"
      >{{ nav.name }}
      </router-link>
      <router-link
        v-else
        :to="{ name: nav.route }"
        :tabindex="index === pathList.length - 1 ? '-1' : '0'"
        :role="index === pathList.length - 1 ? 'presentation' : 'link'"
      >{{ nav.name }}
      </router-link>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="5.395"
        height="9.709"
        viewBox="0 0 5.395 9.709"
      >
        <g
          id="Group_15578"
          data-name="Group 15578"
          transform="translate(-709.657 -117.844)"
        >
          <path
            id="Path_2500"
            data-name="Path 2500"
            d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,
            0-.463.463L10.8,38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,.232-.1l4.307-4.307A.321.321,
            0,0,0,15.582,33.5Z"
            transform="translate(676.489 133.72) rotate(-90)"
            fill="#21455e"
            stroke="#21455e"
            stroke-width="0.4"
          />
        </g>
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { InternalNavRoute } from '@/types';

@Component
export default class BaseBreadCrumb extends Vue {
  @Prop({ type: Array, required: true })
  readonly pathList!: InternalNavRoute[];
}
</script>

<style scoped lang="scss">
  .crumb-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .crumb-item {
      $margin: 20px;
      margin-right: $margin;

      a {
        display: inline-block;
        margin-right: $margin;
        padding: 0;
        border: none;
        background: none;
        border-radius: 16px;
        color: $light-ui-dark;
        text-decoration: none;
        transition: all 0.24s;

        &:hover {
          padding: 0 14px;
          background: rgba($light-ui-dark, 0.08);
        }
      }

      &:last-child {
        margin-right: 0;

        a {
          margin-right: 0;
          display: inline-block;
        }
      }

    }

    :last-of-type svg {
      display: none;
    }

    :last-of-type a {
      @include medium-small-font;
      font-size: $font-root-element-size;
      pointer-events: none;
    }
  }

  .dark {
    .crumb-item {
      a {
        color: $common-ui-white;

        &:hover {
          background: $dark-ui-dark;
        }
      }

      svg path {
        fill: $dark-ui-light;
        stroke: $dark-ui-light;
      }
    }
  }
</style>
