<template>
  <div :class="['input-container', { 'dark': $colorScheme === 'dark' }]">
    <div class="label-wrapper">
      <label :for="fieldId" class="input-label">{{ fieldLabel }}</label>
      <div
        v-if="tooltip"
        tabindex="0"
        @mouseenter="isTooltipVisible = true"
        @mouseleave="isTooltipVisible = false"
        @focus="isTooltipVisible = true"
        @blur="isTooltipVisible = false"
        aria-describedby="tooltip"
        class="tip-wrapper"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="14.5" height="14.5" viewBox="0 0 14.5 14.5">
          <g id="tip" transform="translate(-346.773 -24.359)">
            <g id="Group_14877" data-name="Group 14877" transform="translate(191.277 0.859)">
              <g id="Group_14876" data-name="Group 14876" transform="translate(-191.277 -0.859)">
                <path id="Path_9888" data-name="Path 9888"
                      d="M354.024,24.359a7.25,7.25,0,1,1-7.25,7.25A7.253,7.253,0,0,1,354.024,
                      24.359Zm0,.722a6.528,6.528,0,1,1-6.527,6.528A6.531,6.531,0,0,1,354.024,
                      25.081Zm.85,9.569V31.2a.6.6,0,1,0-1.2,0V34.65a.6.6,0,0,0,1.2,
                      0Zm0-5.831v-.752a.6.6,0,0,0-1.2,0v.752a.6.6,0,0,0,1.2,0Z"
                      fill="#0dabd8" fill-rule="evenodd"/>
              </g>
            </g>
          </g>
        </svg>
        <BaseToolTipSmall
            v-if="isTooltipVisible"
            :tip="tooltip"
            :is-tooltip-visible="isTooltipVisible"
            class="tip-object"
        />
      </div>
    </div>
    <span v-if="description" class="description">{{ description }}</span>
    <div
      :class="['input-password-show-icon',
        { 'prefix': affixPosition === 'left', 'suffix': affixPosition === 'right' }]">
      <input
        :type="fieldType"
        :id="fieldId"
        v-on="$listeners"
        v-bind="$attrs"
        :value="!value ? '' : value.toString()"
        @input="filterAndUpdate"
        :class="['input-field', { 'input-error': inputHasError }]"
        :placeholder="fieldPlaceholder"
        :name="fieldName"
        :autofocus="autoFocus"
        :autocomplete="autoComplete"
        :spellcheck="spellCheck"
        :disabled="disabled"
        :tabindex="tabIndex"
        maxlength="1000"
        :autocapitalize="autoCapitalize"
        :dir="textDirection"
        :aria-invalid="inputHasError.toString()"
        :aria-errormessage="`error-message-${fieldId}`"
      />
      <div class="affix" v-if="affix">
        <span>{{ affix }}</span>
      </div>
      <svg v-if="allowPasswordPreview && fieldType === 'password'"
           @click="$emit('inputTypeChanged')" class="show-hide-password"
           xmlns="http://www.w3.org/2000/svg" width="21.865" height="17.955"
           viewBox="0 0 21.865 17.955">
        <g id="hide" transform="translate(0.141 0.128)">
          <path id="Path_8220" data-name="Path 8220"
                d="M4.125,23.231a.366.366,0,1,0,.456-.572,10,10,0,0,1-.842-.753l-2.7-2.7,
                2.788-2.788A9.867,9.867,0,0,1,14,14.026a.366.366,0,0,0,.233-.693A10.594,
                10.594,0,0,0,3.306,15.9L0,19.2l3.221,3.221A10.79,10.79,0,0,0,4.125,23.231Z"
                transform="translate(0 -10.031)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
          <path id="Path_8221" data-name="Path 8221"
                d="M30.354,18.923A10.736,10.736,0,0,0,28.748,17.6a.366.366,0,0,0-.408.607,
                9.994,9.994,0,0,1,1.5,1.231l2.7,2.7-2.788,2.788A9.963,9.963,0,0,1,19.39,
                27.256a.366.366,0,0,0-.247.688A10.691,10.691,0,0,0,30.27,25.449l3.305-3.305Z"
                transform="translate(-11.993 -13.056)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
          <path id="Path_8222" data-name="Path 8222"
                d="M25.718,29.436A4.193,4.193,0,0,1,23.5,28.8a.365.365,0,0,0-.386.621,
                4.935,4.935,0,0,0,6.707-6.934.365.365,0,0,0-.607.406,4.2,4.2,0,0,1-3.5,
                6.539Z"
                transform="translate(-14.556 -16.095)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
          <path id="Path_8223" data-name="Path 8223"
                d="M21.973,17.5a4.2,4.2,0,0,1,2.14.585.366.366,0,1,0,.372-.629A4.936,
                4.936,0,0,0,17.54,23.88a.366.366,0,0,0,.656-.322,4.164,4.164,0,0,
                1-.428-1.849A4.209,4.209,0,0,1,21.973,17.5Z"
                transform="translate(-10.811 -12.571)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
          <path id="Path_8224" data-name="Path 8224"
                d="M24.033,5.381a.365.365,0,0,0-.517,0l-17,17a.365.365,0,1,0,
                .517.517l17-17A.365.365,0,0,0,24.033,5.381Z"
                transform="translate(-4.07 -5.274)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
        </g>
      </svg>
      <svg
        v-if="allowPasswordPreview && fieldType === 'text'"
        @click="$emit('inputTypeChanged')"
        class="show-hide-password" xmlns="http://www.w3.org/2000/svg" width="21.382"
        height="12.286" viewBox="0 0 21.382 12.286"
      >
        <g id="view" transform="translate(0.141 0.1)">
          <path id="Path_8225" data-name="Path 8225"
                d="M18.2,15.822a10.879,10.879,0,0,0-15.369,0L0,18.652l2.9,2.9a10.879,
                10.879,0,0,0,15.369,0l2.83-2.83Zm-.434,5.226a10.167,10.167,0,0,1-14.361,
                0l-2.4-2.4,2.326-2.326a10.167,10.167,0,0,1,14.361,0l2.4,2.4Z"
                transform="translate(0 -12.644)" fill="#21455e" stroke="#21455e"
                stroke-width="0.2"/>
          <path id="Path_8226" data-name="Path 8226"
                d="M24.067,21.57a2.5,2.5,0,0,0-2.495,2.495.356.356,0,0,0,.713,0,1.784,
                1.784,0,0,1,1.782-1.782.356.356,0,0,0,0-.713Z"
                transform="translate(-13.884 -18.389)" fill="#21455e"/>
          <path id="Path_8227" data-name="Path 8227"
                d="M21.205,16.57A4.633,4.633,0,1,0,25.839,21.2,4.639,4.639,0,0,0,21.205,
                16.57Zm0,8.554a3.92,3.92,0,1,1,3.92-3.92A3.925,3.925,0,0,1,21.205,25.124Z"
                transform="translate(-10.666 -15.171)" fill="#21455e"/>
        </g>
      </svg>
    </div>
    <div v-if="inputHasError" class="error-message">
      <div class="error-icon">
        <svg
          class="exclamation"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 18 18"
        >
          <g
            id="Group_8570"
            data-name="Group 8570"
            transform="translate(-628 -479)"
          >
            <circle
              id="Ellipse_4260"
              data-name="Ellipse 4260"
              cx="9.044"
              cy="9.044"
              r="9.044"
              transform="translate(628 479)"
              fill="#ee5951"
            />
            <g
              id="Group_8569"
              data-name="Group 8569"
              transform="translate(638.103 492.812) rotate(180)"
            >
              <circle
                id="Ellipse_4259"
                data-name="Ellipse 4259"
                cx="0.994"
                cy="0.994"
                r="0.994"
                transform="translate(0)"
                fill="#fff"
              />
              <path
                id="Path_8229"
                data-name="Path 8229"
                d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,
                .595,0Z"
                transform="translate(0.435 3.61)"
                fill="#fff"
              />
            </g>
          </g>
        </svg>
      </div>
      <p aria-live="assertive" :id="`error-message-${fieldId}`">{{ errorMessage }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import {
  Component, Prop, Model, Vue,
} from 'vue-property-decorator';
import { nullableBooleanValidator } from '@/includes/common/validators/vueTypeValidators';

@Component
export default class BaseInput extends Vue {
    @Prop({
      type: String,
      default: 'text',
      validator: (value: string) => (
        [
          'text',
          'email',
          'number',
          'password',
          'url',
          'tel',
          'search',
        ].indexOf(value) !== -1
      ),
    })
    readonly fieldType!: 'text' | 'email' | 'number' | 'password' | 'url' | 'tel' | 'search';

    @Prop({ type: String, default: 'Field label' })
    readonly fieldLabel!: string;

    @Prop({ type: String, default: 'Enter field placeholder' })
    readonly fieldPlaceholder!: string;

    @Prop({ type: String, default: null })
    readonly fieldName!: string;

    @Prop({ type: String, default: 'Please correct this input' })
    readonly errorMessage!: string;

    @Prop({ type: Boolean, default: false })
    readonly inputHasError!: boolean;

    @Prop({ validator: nullableBooleanValidator, default: null })
    readonly autoFocus!: boolean | null;

    @Prop({ type: String, default: 'off' })
    readonly autoComplete!: string;

    @Prop({ type: Boolean, default: true })
    readonly spellCheck!: boolean;

    @Prop({ type: Boolean, default: false })
    readonly disabled!: boolean;

    @Prop({ type: Number, default: 0 })
    readonly tabIndex!: number;

    @Prop({ type: String, default: 'sentences' })
    readonly autoCapitalize!: string;

    @Prop({ type: String, default: 'ltr' })
    readonly textDirection!: string;

    @Prop({ type: String, required: true })
    readonly fieldId!: string;

    @Prop({ type: Boolean, default: false })
    readonly allowPasswordPreview!: boolean;

    @Prop({ type: String, default: '' })
    readonly description!: string;

    @Prop({ type: String, default: '' })
    readonly tooltip!: string;

    @Prop({ type: String, default: '' })
    readonly affix!: string;

    @Prop({ type: String, default: null })
    readonly affixPosition!: 'left' | 'right';

    @Prop({ type: Boolean, default: false })
    readonly isMoneyLike!: boolean;

    @Prop({ type: Boolean, default: false })
    readonly isPercentage!: boolean;

    @Prop({ type: Boolean, default: false })
    readonly numbersOnly!: boolean;

    @Model('update', { type: [String, Number] })
    readonly value!: string;

    isTooltipVisible = false;

    // TODO: Refactor filterAndUpdate
    // TODO: Add tooltip for password show icon

    filterAndUpdate(event: InputEvent) {
      /* eslint no-param-reassign: 0 */
      let { value } = event.target as HTMLInputElement;
      if (this.numbersOnly) {
        value = value.replace(/[^0-9]/g, '');
      }
      if (this.isMoneyLike) {
        value = value.replace(/[^0-9.]/g, '');
        if (value.includes('.')) {
          const valuesArray = value.split(/\./g);
          valuesArray.push('');
          value = `${valuesArray[0]}.${valuesArray[1].slice(0, 2)}`;
        }
      }
      if (this.isPercentage) {
        const data = value.replace(/[^0-9.]/g, '');
        if (data.includes('.')) {
          const valuesArray = data.split(/\./g);
          valuesArray.push('');
          value = `${valuesArray[0].slice(0, 2)}.${valuesArray[1].slice(0, 3)}`;
        } else value = data.slice(0, 2);
      }
      (event.target as HTMLInputElement).value = value;
      this.$emit('update', value);
    }
}
</script>

<style scoped lang="scss">
  input[type=number] {
      -moz-appearance:textfield;
  }

  .input-field {
    @include medium-small-font;
    -webkit-appearance: none;
    appearance: none;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $common-ui-white;
    border: 2px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::placeholder {
      color: $light-ui-very-light-gray;
      font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }

    &:disabled {
      color: rgba($light-ui-dark, .7);
      background: rgba($common-ui-light-blue, .32);
      cursor: not-allowed;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-error {
    border-color: $common-ui-red;

    &:focus {
      border-color: $common-ui-red;
    }
  }

  .label-wrapper {
    margin: 0 0 5px;
    display: flex;
    align-items: center;

    .input-label {
      @include medium-small-font;
      display: block;
      text-align: left;
      margin-right: 10px;
    }

    .tip-wrapper {
      @include focus-highlight;
      border-radius: 50%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover svg path {
        fill: #09a4cf;
      }
    }

    .tip-object {
      position: absolute;
      bottom: 24px;
      cursor: default;
    }

    svg {
      width: 14px;
      height: 14px;
      transition: all .4s;
    }
  }

  .error-message {
    display: flex;
    align-items: flex-start;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      margin-top: 1px;
      line-height: 1.3;
      font-size: $font-very-small-size;
    }

    .error-icon {
      $size: 18px;
      width: $size;
      height: $size;

      svg {
        width: $size;
        height: auto;
      }
    }
  }

  .prefix {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .affix {
      border-radius: 6px 0 0 6px;
    }

    .input-field {
      border-radius: 0 6px 6px 0;
    }
  }

  .suffix {
    display: flex;
    align-items: center;

    .affix {
      border-radius: 0 6px 6px 0;
    }

    .input-field {
      border-radius: 6px 0 0 6px;
    }
  }

  .affix {
    @include medium-small-font;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background: $common-ui-light-blue;
    padding: 12px 14px;
  }

  .description {
    display: block;
    margin-bottom: 5px;
    font-size: $font-small-size;
  }

  .input-password-show-icon {
    position: relative;
  }

  .show-hide-password {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    width: 22px;
    height: 18px;
    transform: translateY(-50%);
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-small-size;

      &::placeholder {
        font-size: $font-small-size;
      }
    }

    .affix {
      padding: 10px 14px;
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }

      &:disabled {
        color: $dark-ui-light;
        background: $dark-ui-hover;
        border-color: rgba($light-ui-light-gray, 0.3);
      }
    }

    .input-error {
      border-color: $common-ui-red;

      &:focus {
        border-color: $common-ui-red;
      }
    }

    .affix {
      background: $dark-ui-hover;
    }

    .show-hide-password path {
      fill: $common-ui-white;
    }
  }
</style>
