<template>
  <router-link
    :to="route"
    v-if="route"
    :class="['app-container link-wrapper', { 'dark': $colorScheme === 'dark' }]"
  >
    <img :src="logoSource" :alt="alt"/>
    <span>{{ name }}</span>
  </router-link>
  <a class="link-wrapper" :href="link" v-else @click="$emit('clicked')">
    <img :src="logoSource" :alt="alt"/>
    <span>{{ name }}</span>
  </a>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseSingleApp extends Vue {
    @Prop({ type: String, default: 'Home' })
    readonly name!: string;

    @Prop({ type: String, default: 'home.svg' })
    readonly logo!: string;

    @Prop({ type: String, default: 'Home app logo' })
    readonly alt!: string;

    @Prop({ type: Object })
    readonly route!: { name: string } | undefined;

    @Prop({ type: String })
    readonly link!: string | undefined;

    get logoSource() {
      /* eslint import/no-dynamic-require: 0 */
      /* eslint global-require: 0 */
      return require(`@/assets/logos/bigcommand/${this.logo}`);
    }
}
</script>

<style scoped lang="scss">
  .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    max-width: 72px;
    text-decoration: none;
    color: $light-ui-dark;

    img {
      margin-bottom: 6px;

      &:hover + span {
        background: $light-ui-hover;
        transform: translateY(-2px);
      }
    }

    span {
      display: block;
      text-align: center;
      font-size: $font-small-size;
      padding: 2px 12px;
      border-radius: 40px;
      line-height: 1.3;
      white-space: nowrap;
      transition: all 0.24s;

      &:hover {
        background: $light-ui-hover;
        transform: translateY(-2px);
      }
    }
  }

  .active-link {
    span {
      background: rgba($common-ui-blue, .03);
      border: 1px solid $common-ui-blue;
      border-radius: 20px;
      color: $common-ui-blue;

      &:hover {
        background: #f5fcfe;
        border: 1px solid $common-ui-blue;
        color: $common-ui-blue;
      }
    }

    img {
      &:hover + span {
        background: #f5fcfe;
      }
    }
  }

  .dark {
    .link-wrapper {
      color: $common-ui-white;

      img:hover + span, span:hover {
        background: $dark-ui-hover;
      }
    }
  }
</style>
