<template>
  <base-simple-modal
      @close="() => {}"
      :cancel-action="() => {}"
      :execute-action="() => {}"
    >
      <template #title>Your are offline</template>
      <template #body
      ><p>
        BigCommand cannot connect to your account. Please check your internet connection and try
        again.
      </p>
        <div class="image">
          <img src="@/assets/images/common/no_internet.svg" alt="No internet">
        </div>
      </template>
    </base-simple-modal>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class OfflineModeModal extends Vue {}

</script>

<style scoped lang="scss">
  .image {
    img {
      margin: 0 auto;
      display: block;
      width: auto;
      height: auto;
    }
  }

  ::v-deep {
    .confirmation,
    .line2,
    .modal-container .close,
    .modal-container .head span:first-of-type  {
      display: none;
    }

    .modal-container .head span {
      margin-left: auto;
      margin-right: auto;
    }
  }
</style>
