<template>
  <base-simple-modal
      @close="keepCurrentTimezone"
      cancel-text="Keep current time zone"
      :cancel-action="keepCurrentTimezone"
      execute-text="Update time zone"
      :execute-action="changeTimezone"
    >
      <template #title>Your time zone has changed</template>

      <template #body
      ><p>
        Your time zone has changed to: <span id="strong">{{ currentTimezone }}</span>.
        Do you wish to update your BigCommand account timezone?
      </p></template>
    </base-simple-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';

@Component
export default class TimeZoneChangeModal extends Vue {
  @Prop({ type: String, required: true })
  readonly currentTimezone!: string;

  changeTimezone() {
    this.updateTimezone(this.currentTimezone);
    this.$emit('close');

    (this as any).$showFeedback({
      type: 'success',
      title: 'Timezone changed',
      description: `New timezone: ${this.currentTimezone}`,
    });
  }

  keepCurrentTimezone() {
    this.updateLastRejectedTimezone(this.currentTimezone);
    this.$emit('close');
  }

  @Action updateTimezone!: (currentTimezone: string) => void;

  @Action updateLastRejectedTimezone!: (rejectedTimezone: string) => void;
}
</script>

<style scoped lang="scss">
  #strong {
    @include medium-small-font;
  }
</style>
