<template>
  <div :class="['menu-container', { 'dark': $colorScheme === 'dark' }]">
    <MobileMenuLauncher
      v-bind="app"
      :is-open-app-menu-shown="showAppMenu"
      :is-open-profile-menu-shown="showProfileMenu"
      @showOrHideProfileMenu="showProfileMenu = !showProfileMenu"
      @showOrHideAppMenu="showAppMenu = !showAppMenu"
      :class="['launcher', { opened: showAppMenu || showProfileMenu }]"
    />
    <div v-if="showAppMenu || showProfileMenu" class="dropdown-wrapper">

      <div v-if="showProfileMenu" class="profile-wrapper">
        <span class="title">Account</span>
        <MobileProfileDropdown/>
      </div>

      <div v-if="showAppMenu" class="utility-wrapper">
        <span class="title">Utilities</span>
        <MobileAccountUtilities
          @getHelp="showWidget('help')"
          @startSearch="showWidget('search')"
          @showMessages="showWidget('messages')"
          @showNotifications="showWidget('notifications')"
          v-bind="$data"
        />

        <div v-if="isHelpShown" class="help-wrapper">
          <AppHelp/>
        </div>

        <div v-if="isSearchShown" class="search-wrapper">
          <AppSearch/>
        </div>

        <div v-if="isMessagesShown" class="messages-wrapper">
          <AppMessages/>
        </div>

        <div v-if="isNotificationsShown" class="notifications-wrapper">
          <AppNotifications/>
        </div>

        <span class="title">Navigation</span>
        <MobileHeaderNavigationLink
          @navigating="hideAllMenus"
          :links="links"
        />

        <span class="title">Apps</span>
        <MobileAppSwitcher/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import AppHelp from '@/components/common/appUtils/AppHelp.vue';
import AppMessages from '@/components/common/appUtils/AppMessages.vue';
import AppNotifications from '@/components/common/appUtils/AppNotifications.vue';
import AppSearch from '@/components/common/appUtils/AppSearch.vue';
import { BigCommandApp, InternalNavRoute } from '@/types';
import MobileAccountUtilities from '../children/MobileAccountUtilities.vue';
import MobileAppSwitcher from '../children/MobileAppSwitcher.vue';
import MobileProfileDropdown from '../children/MobileProfileDropdown.vue';
import MobileMenuLauncher from '../children/MobileMenuLauncher.vue';
import MobileHeaderNavigationLink from '../children/MobileHeaderNavigationLink.vue';

type NestedRoute = InternalNavRoute & {
  isChildMenuShown: boolean;
  children: InternalNavRoute[];
}

@Component({
  components: {
    AppSearch,
    AppHelp,
    AppMessages,
    AppNotifications,
    MobileHeaderNavigationLink,
    MobileMenuLauncher,
    MobileProfileDropdown,
    MobileAppSwitcher,
    MobileAccountUtilities,
  },
})
export default class MobileHeader extends Vue {
  @Prop({ type: Object, required: true })
  readonly app!: BigCommandApp;

  @Prop({ type: Array, required: true })
  readonly links!: InternalNavRoute[];

  showAppMenu = false;

  showProfileMenu = false;

  isHelpShown = false;

  isSearchShown = false;

  isMessagesShown = false;

  isNotificationsShown = false;

  hideAllMenus() {
    this.showAppMenu = false;
    this.showProfileMenu = false;
  }

  showWidget(widget: string) {
    type Closable = keyof MobileHeader
        & ('isMessagesShown' | 'isNotificationsShown' | 'isProfileMenuShown');
    const widgetMapping = [
      {
        name: 'help',
        key: 'isHelpShown' as Closable,
      },
      {
        name: 'search',
        key: 'isSearchShown' as Closable,
      },
      {
        name: 'messages',
        key: 'isMessagesShown' as Closable,
      },
      {
        name: 'notifications',
        key: 'isNotificationsShown' as Closable,
      },
    ];
    /* eslint no-restricted-syntax: 0 */
    for (const menu of widgetMapping) {
      if (menu.name === widget) {
        this[menu.key] = !this[menu.key];
      } else {
        this[menu.key] = false;
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .menu-container {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.4s ease;
    position: relative;

    .dropdown-wrapper {
      padding: 92px 16px 16px;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      overflow-y: auto;
      background: $common-ui-modal-mask;
      backdrop-filter: blur(4px);
    }
  }

  .opened {
    border-radius: 0 0 18px 18px;
  }

  .notifications-wrapper, .messages-wrapper, .help-wrapper {
    ::v-deep {
      .widget-container {
        width: 100%;
        border-radius: 18px;
        height: fit-content;
        min-height: unset;

        &::before {
          display: none;
        }
      }
    }
  }

  .search-wrapper {
    margin-bottom: 16px;

    ::v-deep {
      .modal-mask {
        position: static;
        top: unset;
        left: unset;
        width: 100%;
        height: fit-content;
        padding: 24px;
        border-radius: 18px;
      }

      .close {
        display: none;
      }

      .search-container {
        margin-top: 0;
        width: 100%;
      }

      .search-bar {
        width: 100%;
      }

      .search-bar .search-input {
        min-width: unset;
        width: 100%;
        font-size: $font-root-element-size;
        padding: 10px 42px;
      }
    }
  }

  .title {
    color: rgba($common-ui-white, .8);
    display: block;
    margin-bottom: 4px;
    text-align: left;
    font-size: $font-medium-size;
  }

  .dark {
    background: $dark-ui-dark;

    .dropdown-wrapper {
      background: rgba($dark-ui-light, .2);
    }
  }
</style>
