<template>
  <div :class="['header-container', { 'dark': $colorScheme === 'dark' }]">
    <component
      :is="isMobileLike ? 'MobileHeader' : 'DesktopHeader'"
      v-bind="activeComponentProps"
      :class="{ 'mobile-nav': isMobileLike }"
    ></component>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { BigCommandApp, InternalNavRoute } from '@/types';
import bigCommandApps from '@/includes/common/bigCommandApps';

const MobileHeader = () => import('./mobile/main/MobileHeader.vue');
const DesktopHeader = () => import('./desktop/main/DesktopHeader.vue');

type NestedRoute = InternalNavRoute & {
  isChildMenuShown: boolean;
  children: InternalNavRoute[];
}

@Component({ components: { MobileHeader, DesktopHeader } })
export default class AppHeader extends Vue {
  get app(): BigCommandApp {
    return bigCommandApps.find((app) => app.id === 11) as BigCommandApp;
  }

  desktopLinks = [
    { name: 'My Portal', route: 'Home' },
    { name: 'Settings', route: 'Settings' },
  ] as InternalNavRoute[];

  mobileNavLinks = [
    {
      name: 'My Portal',
      route: 'Home',
      isChildMenuShown: true,
      children: [
        {
          name: 'Orders',
          route: 'OrdersDashboard',
        },
        {
          name: 'Email Subscriptions',
          route: 'EventsDashboard',
        },
        {
          name: 'Schedules & Events',
          route: 'SubscriptionsDashboard',
        },
        {
          name: 'FastSign',
          route: 'FastSignDashboard',
        },
      ],
    },
    {
      name: 'Settings',
      route: 'Settings',
      isChildMenuShown: false,
      children: [],
    },
  ] as NestedRoute[];

  get isMobileLike() {
    return window.innerWidth < 900;
  }

  get activeComponentProps() {
    const mobileProps = { app: this.app, links: this.mobileNavLinks };
    const desktopProps = { app: this.app, links: this.desktopLinks };
    return this.isMobileLike ? mobileProps : desktopProps;
  }
}
</script>

<style scoped lang="scss">
  .mobile-nav {
    z-index: 20;
  }

  .dark {}
</style>
