<template>
  <transition name="slide-fast" appear>
    <div ref="guideContainer" :class="['guide-container', { dark: $colorScheme === 'dark' }]">
      <img :src="imageSrc" :alt="guideImageAlt" />
      <h3>{{ guideTitle }}</h3>
      <span>{{ guideDescription }}</span>
      <div
          role="button"
          tabindex="0"
          @click="$emit('playGuide')"
          @keydown.enter="$emit('playGuide')"
          onclick="this.blur()"
          class="button"
      >
        <div class="play">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
            <g id="Group_4358" data-name="Group 4358" transform="translate(-3 -3)">
              <g
                id="Rectangle_1408"
                data-name="Rectangle 1408"
                transform="translate(3 3)"
                fill="#0bacdb"
                stroke="#0bacdb"
                stroke-width="1"
              >
                <rect width="36" height="36" rx="18" stroke="none" />
                <rect x="0.5" y="0.5" width="35" height="35" rx="17.5" fill="none" />
              </g>
              <g
                id="Group_4364"
                data-name="Group 4364"
                transform="translate(27.915 12.744) rotate(90)"
              >
                <g id="Group_4363" data-name="Group 4363" transform="translate(0 -2)">
                  <path
                    id="Path_4293"
                    data-name="Path 4293"
                    d="M16.456,12.064,9.618.724a1.5,1.5,0,0,0-2.565,0L.215,12.064A1.5,1.5,0,0,0,
                    1.5,14.335H15.173a1.5,1.5,0,0,0,1.283-2.271Zm-.924.976a.413.413,0,0,
                    1-.359.21H1.5a.412.412,0,0,1-.353-.625L7.982,1.285a.412.412,0,0,1,.706,
                    0l6.838,11.34A.413.413,0,0,1,15.532,13.04Z"
                    transform="translate(0)"
                    fill="#fff"
                  />
                </g>
              </g>
            </g>
          </svg>
        </div>
        <h3>{{ buttonText }}</h3>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
/* eslint import/no-dynamic-require: 0 */
/* eslint global-require: 0 */
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseStarterGuide extends Vue {
  @Prop({ type: String, default: 'common/manage_users_mini.svg' })
  private readonly guideImageName!: string;

  @Prop({ type: String, default: 'This is  the guide image alt' })
  readonly guideImageAlt!: string;

  @Prop({ type: String, default: 'This is the guide title' })
  readonly guideTitle!: string;

  @Prop({
    type: String,
    default: `Add more description about this guide and what it helps users
      achieve.`,
  })
  readonly guideDescription!: string;

  @Prop({ type: String, default: 'Watch the video guide' })
  readonly buttonText!: string;

  get imageSrc(): string {
    return require(`@/assets/images/${this.guideImageName}`);
  }
}
</script>

<style scoped lang="scss">
.guide-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: $common-ui-white;
    padding: 60px;
    border-radius: $container-standard-border-radius;
    border: 1px dashed rgba($common-ui-blue, 0.4);

    span {
      max-width: 420px;
      font-size: $font-small-size;
      margin-bottom: 18px;
    }

    h3 {
      margin: 12px 0 6px;
      font: {
        family: $font-medium-weight;
        weight: normal;
        size: 1.25rem;
      }
    }

    img {
      max-width: 228px;
      height: auto;
    }
  }

  .button {
    @include focus-highlight;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $common-ui-blue;
    padding: 2px 20px 2px 2px;
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.24s;

    &:hover {
      background: rgba($common-ui-blue, 0.03);
    }

    .play {
      $size: 36px;
      width: $size;
      height: $size;
      border-radius: 50%;
      margin-right: 10px;

      svg {
        width: $size;
        height: $size;
      }
    }

    h3 {
      margin: 0;
      font: {
        family: $font-medium-weight;
        weight: normal;
        size: $font-medium-size;
      }
    }
  }

  @media (min-width: 900px) {
    .guide-container {
      padding: 80px;
      min-height: 540px;
    }
  }

  .dark {
    .guide-container {
      background: $dark-ui-dark;
    }
  }
</style>
