<template>
  <transition name="modal" appear>
    <div class="modal-mask">
      <div
          role="dialog"
          aria-modal="true"
          aria-labelledby="dialogTitle"
          aria-describedby="dialogDesc"
        :class="[
          'modal-container',
          { 'wobble': isWobbling },
          { 'dark': $colorScheme === 'dark' }
          ]"
      >
        <div class="head">
          <span class="empty"></span>
          <span id="dialogTitle" class="headline">
            <slot name="title">Modal window title</slot>
          </span>
          <div
            role="button"
            tabindex="0"
            @click="$emit('close')"
            @keydown.enter="$emit('close')"
            onclick="this.blur()"
            class="close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.546"
              height="14.546"
              viewBox="0 0 14.546 14.546"
            >
              <g
                id="Group_15572"
                data-name="Group 15572"
                transform="translate(0.54 1.156)"
              >
                <line
                  id="Line_525"
                  data-name="Line 525"
                  y1="12"
                  x2="12"
                  transform="translate(0.732 0.117)"
                  fill="none"
                  stroke="#21455e"
                  stroke-linecap="round"
                  stroke-width="1.8"
                />
                <line
                  id="Line_526"
                  data-name="Line 526"
                  y1="12"
                  x2="12"
                  transform="translate(0.732 12.117) rotate(-90)"
                  fill="none"
                  stroke="#21455e"
                  stroke-linecap="round"
                  stroke-width="1.8"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="line"></div>
        <div id="dialogDesc" class="info">
          <slot name="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.
          </slot>
        </div>
        <div class="resource-summary">
        </div>
        <div class="confirm-destroy">

          <BaseInput
            :field-label="`Type ${executeText.toUpperCase()} to confirm`"
            field-placeholder=""
            field-id="confirmation"
            v-model="confirmationText"
            :error-message="confirmationValidity.errorMessage"
            :input-has-error="!confirmationValidity.isValid"
            aria-required="true"
            class="input"
          />

          <div class="confirmation">
            <BaseButton
              class="discard"
              text="Cancel"
              :action="() => $emit('close')"
              :border="false"
              :background="false"
            />
            <BaseButton
              class="save"
              :text="executeText"
              :action="executeDestroy"
            />
          </div>
        </div>

      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import { InputValidityObject } from '@/types';
import ModalEventsMixin from '../../../mixins/ModalEventsMixin';

@Component
export default class BaseDestroyConfirmModal extends Mixins(ModalEventsMixin) {
  @Prop({ type: String, default: 'Delete' })
  readonly executeText!: string;

  @Prop({ type: [Number, String, Object], default: null })
  readonly actionParam!: number | string | object;

  confirmationText = '';

  confirmationValidity: InputValidityObject = { isValid: true, errorMessage: '' };

  isWobbling = false;

  executeDestroy() {
    this.confirmationValidity.isValid = true;
    if (this.confirmationText.trim() !== this.executeText.toUpperCase()) {
      this.confirmationValidity.isValid = false;
      this.confirmationValidity.errorMessage = `You must type ${this.executeText.toUpperCase()}
                                                  to confirm.`;
      this.$emit('failedConfirmation');
      this.wobble();
    } else {
      this.$emit('destroyConfirmed', this.actionParam);
    }
  }

  wobble() {
    this.isWobbling = true;
    setTimeout(() => {
      this.isWobbling = false;
    }, 300);
  }
}
</script>

<style scoped lang="scss">
  @import "../../../../assets/styles/modules/appearance_transition_modal_module";

  .modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: $common-ui-modal-mask;
    backdrop-filter: blur(4px);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12px 0;

    .empty {
      margin-right: auto;
      margin-left: 32px;
    }

    .headline {
      @include medium-small-font;
      margin: 4px auto;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .close {
      $size: 28px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      border-radius: 50%;
      background: $common-ui-white;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.24s;

      svg {
        $size: 12px;
        width: $size;
        height: $size;
      }

      &:hover {
        background: $light-ui-hover;
      }
    }
  }

  .modal-container {
    background: $common-ui-white;
    border-radius: $container-standard-border-radius;
    width: min(94%, 464px);
    margin: 16px 0;
    transition: all 0.3s ease;
  }

  .info {
    font-size: $font-small-size;
    margin: 24px 32px 10px;
  }

  .resource-summary {
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;

      .table-head {
        width: 100%;
        white-space: nowrap;

        th {
          background: $common-ui-very-light-blue;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          padding: 16px 0;
          margin: 0;
          font: {
            family: $font-medium-weight;
            weight: normal;
            size: $font-very-small-size;
          }
        }
      }

      td {
        padding-top: 10px;
      }

      .first-last {
        td:first-of-type,
        th:first-of-type {
          padding-left: 32px;
        }

        td:last-of-type,
        th:last-of-type {
          padding-right: 32px;
        }
      }
    }
  }

  .confirm-destroy {
    width: 100%;
    border-top: 1px solid $common-ui-blue;
    border-bottom: 1px solid $common-ui-blue;
    border-radius: 0 0 12px 12px;
    background: rgba($common-ui-blue, .12);
    padding: 0 32px;
    margin-top: 12px;

    ::v-deep .input-field {
      border: 2px solid rgba($common-ui-blue, .2)
    }

    ::v-deep .input-error {
      border-color: $common-ui-red;
    }

    .input {
      margin-top: 14px;
    }
  }

  .confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;

    .discard {
      margin-right: 24px;
    }
  }

  .wobble {
    animation: wobble .15s 0s both linear infinite alternate;
  }

  @keyframes wobble {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-8px);
    }
    50% {
      transform: translateX(0);
    }
    75% {
      transform: translateX(8px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @media (min-width: 900px) {
    .modal-mask {
      backdrop-filter: none;
    }
  }

  .dark {
    .modal-mask {
      background: rgba($dark-ui-background, .84);
    }

    .modal-container {
      background: $dark-ui-dark;
    }

    .line {
      border-color: rgba($dark-ui-light, 0.1);
    }

    .head .close {
      background: $dark-ui-dark;

      &:hover {
        background: $dark-ui-hover;
      }

      svg line {
        stroke: $common-ui-white;
      }
    }
  }
</style>
