<template>
  <transition name="slide" appear>
    <div
      :class="['guide-container',
      { 'dark': $colorScheme === 'dark' },
      { minimized: isMinimized }
      ]"
    >
      <section class="buttons">
        <div class="minimize" @click="isMinimized = !isMinimized">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16.346"
            height="1.8"
            viewBox="0 0 16.346 1.8"
            v-if="!isMinimized"
          >
            <line
              id="Line_529"
              data-name="Line 529"
              x2="14.546"
              transform="translate(0.9 0.9)"
              fill="none"
              stroke="#fff"
              stroke-linecap="round"
              stroke-width="1.8"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.546"
            height="14.546"
            viewBox="0 0 14.546 14.546"
            class="maximize"
            v-else
          >
            <g
              id="Group_15572"
              data-name="Group 15572"
              transform="translate(0.54 1.156)"
            >
              <line
                id="Line_525"
                data-name="Line 525"
                y1="12"
                x2="12"
                transform="translate(0.732 0.117)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-width="1.8"
              />
              <line
                id="Line_526"
                data-name="Line 526"
                y1="12"
                x2="12"
                transform="translate(0.732 12.117) rotate(-90)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-width="1.8"
              />
            </g>
          </svg>
        </div>
        <div class="close" @click="$emit('close')">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.546"
            height="14.546"
            viewBox="0 0 14.546 14.546"
          >
            <g
              id="Group_15572"
              data-name="Group 15572"
              transform="translate(0.54 1.156)"
            >
              <line
                id="Line_525"
                data-name="Line 525"
                y1="12"
                x2="12"
                transform="translate(0.732 0.117)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-width="1.8"
              />
              <line
                id="Line_526"
                data-name="Line 526"
                y1="12"
                x2="12"
                transform="translate(0.732 12.117) rotate(-90)"
                fill="none"
                stroke="#fff"
                stroke-linecap="round"
                stroke-width="1.8"
              />
            </g>
          </svg>
        </div>
      </section>
      <section class="video" v-if="!isMinimized">
        <iframe :src="videoURL"></iframe>
      </section>
      <section class="title-description">
        <span class="title">{{ guideTitle }}</span>
        <span class="description">{{ guideDescription }}</span>
      </section>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseVideoGuidePlayer extends Vue {
  @Prop({ type: String, required: true, default: 'https://www.youtube.com/embed/T75IKSXVXlc' })
  readonly videoURL!: string;

  @Prop({ type: String, required: true, default: 'This is the guide title. Override me' })
  readonly guideTitle!: string;

  @Prop({
    type: String,
    required: true,
    default: 'Tell the users what this guide is all about. Keep it short.',
  })
  readonly guideDescription!: string;

  isMinimized = false;

  mounted() {
    document.addEventListener('keyup', this.escapeCloseDrawer);
  }

  destroyed() {
    document.removeEventListener('keyup', this.escapeCloseDrawer);
  }

  escapeCloseDrawer(event: KeyboardEvent) {
    if (event.key === 'Escape') {
      this.$emit('close');

      // Compatibility with old browsers (IE) that don't support event.key.
    } else if (event.keyCode === 27) {
      this.$emit('close');
    }
  }
}
</script>

<style scoped lang="scss">
  .guide-container {
    --width: 100vw;
    width: var(--width);
    background: $common-ui-white;
    box-shadow: 0 2px 6px 0 rgba($common-ui-blue, 0.08),
    0 -4px 10px 4px rgba($common-ui-blue, 0.1);
    position: fixed;
    right: 2px;
    bottom: 2px;
    z-index: 10;

    iframe {
      width: 100%;
      height: calc(var(--width) * 9 / 16);
      border-radius: $container-standard-border-radius $container-standard-border-radius 0 0;
      border: 1px solid $common-ui-white;
    }
  }

  .title-description {
    padding: 18px;
    margin-top: -8px;
    border-radius: 0 0 12px 12px;
    border-top: none;

    span {
      display: block;
    }

    .title {
      text-transform: uppercase;
      letter-spacing: 0.1em;
      @include medium-small-font;
    }

    .description {
      font-size: $font-small-size;
      color: $light-ui-light-gray;
    }
  }

  .buttons {
    width: 68px;
    background: $light-ui-very-dark;
    box-shadow: 3px 3px 6px 4px rgba($common-ui-blue, 0.06);
    position: absolute;
    right: -2px;
    top: -8px;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;

    .minimize,
    .close {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      cursor: pointer;
    }

    .minimize {
      margin-right: 16px;
      background: $common-ui-yellow;
      transition: all .4s;

      &:hover {
        background: $common-ui-dark-yellow;
      }
    }

    .close {
      background: $common-ui-red;
      transition: all .4s;

      &:hover {
        background: $common-ui-dark-red;
      }
    }

    svg {
      width: 8px;
      height: 8px;
    }
  }

  .minimized {
    .title-description {
      border-radius: $container-standard-border-radius;
      margin-top: 0;
    }

    .buttons {
      right: 16px;
      top: 26px;

      .minimize {
        background: $common-ui-green;

        &:hover {
          background: #07c178;
        }
      }

      .maximize {
        transform: rotate(45deg);
      }
    }
  }

  .slide-enter-active,
  .slide-leave-active {
    transition: all 0.4s;
  }

  .slide-enter,
  .slide-leave-to {
    opacity: 0;
    right: -100px;
    bottom: -100px;
  }

  @media (min-width: 600px) {
    .guide-container {
      --width: 460px;
      border-radius: $container-standard-border-radius;
    }

    .minimized {
      border-radius: $container-standard-border-radius $container-standard-border-radius 0 0;
    }
  }

  @media (min-width: 1200px) {
    .guide-container {
      --width: 32vw;
    }
  }

  .dark {
    .guide-container {
      background: $dark-ui-dark;
      box-shadow: $common-ui-dark-shadow;
    }

    iframe {
      border: 1px solid $dark-ui-dark;
    }
  }
</style>
