<template>
  <transition name="slide-fast" appear>
    <div
      @click.stop=""
      :class="['dropdown-container',
      { pointer: addPointer },
      { dark: $colorScheme === 'dark' }]"
    >
      <slot></slot>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class BaseSimpleDropdownContainer extends Vue {
  @Prop({ type: Boolean, default: true })
  readonly addPointer!: boolean
}
</script>

<style scoped lang="scss">
  .dropdown-container {
    background: $common-ui-white;
    width: 340px;
    box-shadow: $common-ui-blue-spread-shadow;
    border-radius: $container-standard-border-radius;
    padding: 14px 0;
    z-index: 4;
  }

  .pointer {
    position: relative;

    &:before {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: 47%;
      top: -8px;
    }
  }

  .dark {
    .dropdown-container {
      box-shadow: $common-ui-dark-spread-shadow;
      background: $dark-ui-dark;

      &::before {
        background: $dark-ui-dark;
      }
    }
  }
</style>
