<template>
  <transition name="slide-fast" appear>
    <section :class="['main-container', { 'dark': $colorScheme === 'dark' }]">
      <header class="header-content">
        <slot name="head"></slot>
      </header>
      <div class="line"></div>

      <div class="main">
        <slot name="main"></slot>
      </div>
    </section>
  </transition>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class BaseSectionContainerBox extends Vue {
}
</script>

<style scoped lang="scss">
  .main-container {
    background: $common-ui-white;
    border-radius: $container-standard-border-radius;
    margin-top: 32px;
    width: 100%;
  }

  .header-content {
    padding: 28px 24px 10px;
  }

  .main {
    padding: 12px 24px 24px;
  }

  @media (min-width: 900px) {
    .header-content {
      padding: 28px 48px 10px;
    }

    .main {
      padding: 26px 48px 48px;
    }
  }

</style>
