<template>
  <div :class="['search-bar-container', { 'dark': $colorScheme === 'dark' }]">
    <form
        @submit.prevent=""
        novalidate
        role="search"
        :aria-label="searchDescription"
        class="search-bar-wrapper"
    >
      <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.98"
          height="18.98"
          viewBox="0 0 18.98 18.98"
          class="search-icon"
      >
        <path
            d="M31.242,30.451a.559.559,0,0,1-.79.79L26.312,27.1a8.374,8.374,0,
        1,1,.789-.789ZM28.055,20.8A7.257,7.257,0,1,0,20.8,28.055,7.257,
        7.257,0,0,0,28.055,20.8Z"
            transform="translate(-12.425 -12.425)"
            fill="#09a4cf"
        />
      </svg>
      <input
          type="search"
          :placeholder="searchDescription"
          :value="searchPayload"
          @input="$emit('update:searchPayload', $event.target.value)"
          autocomplete="off"
          spellcheck="false"
          tabindex="0"
          autocapitalize="sentences"
          dir="ltr"
          maxlength="1000"
          :aria-label="searchDescription"
          class="input-field"
      />
      <div
          v-if="searchPayload"
          @click.stop="$emit('update:searchPayload', '')"
          role="button"
          tabindex="0"
          @keydown.enter="$emit('update:searchPayload', '')"
          onclick="this.blur()"
          class="clear"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.546"
            height="14.546"
            viewBox="0 0 14.546 14.546"
            class="clear-icon"
        >
          <g
              id="Group_15572"
              data-name="Group 15572"
              transform="translate(0.54 1.156)"
          >
            <line
                id="l1"
                data-name="Line 525"
                y1="12"
                x2="12"
                transform="translate(0.732 0.117)"
                fill="none"
                stroke="#0dabd8"
                stroke-linecap="round"
                stroke-width="2"
            />
            <line
                id="l2"
                data-name="Line 526"
                y1="12"
                x2="12"
                transform="translate(0.732 12.117) rotate(-90)"
                fill="none"
                stroke="#0dabd8"
                stroke-linecap="round"
                stroke-width="2"
            />
          </g>
        </svg>
        <div v-if="isPreloaderShown" class="preloader">
          <BasePreloaderCircular/>
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue, Prop,
} from 'vue-property-decorator';

@Component
export default class BaseSearchFilter extends Vue {
  @Prop({ type: String, default: 'Search...' })
  readonly searchDescription!: string;

  @Prop({ type: String, default: '' })
  readonly searchPayload!: string;

  @Prop({ type: Boolean, default: false })
  readonly isPreloaderShown!: boolean;
}
</script>

<style scoped lang="scss">
  .search-bar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  .input-field {
    @include medium-small-font;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 32px 8px 40px;
    border: 1px solid #99d6e9;
    font-size: $font-root-element-size;
    outline: none;
    background: $common-ui-white;
    border-radius: 28px;
    color: $light-ui-dark;
    width: 100%;
    transition: all 0.24s;

    &::placeholder {
      color: $light-ui-very-light-gray;
      font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }

    &:focus {
      border-color: $common-ui-blue;
    }
  }

  .search-bar-wrapper {
    position: relative;
    width: fit-content;

    .search-icon {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 29%;
      left: 14px;
    }
  }

  .clear {
    @include focus-highlight;
    $size: 22px;
    width: $size;
    height: $size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($common-ui-blue, 0.08);
    cursor: pointer;
    position: absolute;
    top: calc(50% - 11px);
    right: 8px;
    transition: all 0.24s;

    .clear-icon {
      $size: 8px;
      width: $size;
      height: $size;
    }

    &:hover {
      background: rgba($common-ui-blue, 0.12);
    }
  }

  .preloader {
    position: absolute;
    top: -15px;
    right: -14px;
    transform: scale(0.5);
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-small-size;

      &::placeholder {
        font-size: $font-small-size;
      }
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    svg path {
      fill: $common-ui-white;
    }
  }
</style>
