<template>
  <transition name="modal" appear>
    <div class="modal-mask">
      <div
          role="dialog"
          aria-modal="true"
          aria-labelledby="dialogTitle"
          aria-describedby="dialogDesc"
          :class="['modal-container', { 'dark': $colorScheme === 'dark' }]"
      >
        <div class="head">
          <span class="empty"></span>
          <span id="dialogTitle" class="headline">
            <slot name="title">Modal window title</slot>
          </span>
          <div
              role="button"
              tabindex="0"
              @click="$emit('close')"
              @keydown.enter="$emit('close')"
              onclick="this.blur()"
              class="close"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14.546"
              height="14.546"
              viewBox="0 0 14.546 14.546"
            >
              <g
                id="Group_15572"
                data-name="Group 15572"
                transform="translate(0.54 1.156)"
              >
                <line
                  id="l1"
                  data-name="Line 525"
                  y1="12"
                  x2="12"
                  transform="translate(0.732 0.117)"
                  fill="none"
                  stroke="#21455e"
                  stroke-linecap="round"
                  stroke-width="1.8"
                />
                <line
                  id="l2"
                  data-name="Line 526"
                  y1="12"
                  x2="12"
                  transform="translate(0.732 12.117) rotate(-90)"
                  fill="none"
                  stroke="#21455e"
                  stroke-linecap="round"
                  stroke-width="1.8"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="line line1"></div>
        <div class="main" id="dialogDesc">
          <slot name="body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse
          </slot>
        </div>
        <div class="line line2"></div>

        <div class="confirmation">
          <BaseButton
            class="discard"
            :text="cancelText"
            :action="cancelAction"
            :border="false"
            :background="false"
          />
          <BaseButton
            class="save"
            :text="executeText"
            :action="executeAction"
          />
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Mixins } from 'vue-property-decorator';
import ModalEventsMixin from '../../../mixins/ModalEventsMixin';

@Component
export default class BaseSimpleModal extends Mixins(ModalEventsMixin) {
  @Prop({ type: String, default: 'Cancel' })
  readonly cancelText!: string;

  @Prop({ type: Function, required: true })
  readonly cancelAction!: () => void;

  @Prop({ type: String, default: 'Continue' })
  readonly executeText!: string;

  @Prop({ type: Function, required: true })
  readonly executeAction!: () => void;
}
</script>

<style scoped lang="scss">
  @import "../../../../assets/styles/modules/appearance_transition_modal_module";

  .modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: $common-ui-modal-mask;
    backdrop-filter: blur(4px);
    transition: opacity 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .head {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12px 0;

    .empty {
      margin-right: auto;
      margin-left: 32px;
    }

    .headline {
      @include medium-small-font;
      margin: 4px auto;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    .close {
      @include focus-highlight;
      $size: 28px;
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      border-radius: 50%;
      background: $common-ui-white;
      margin-right: 20px;
      cursor: pointer;
      transition: all 0.24s;

      svg {
        $size: 12px;
        width: $size;
        height: $size;
      }

      &:hover {
        background: $light-ui-hover;
      }
    }
  }

  .modal-container {
    background: $common-ui-white;
    border-radius: 18px;
    width: $modal-wide-width;
    margin: 16px;
    transition: all 0.3s ease;
  }

  hr {
    height: 0;
    background: transparent;
    border: 1px solid $common-horizontal-line;
    width: 100%;
    margin: 0;
  }

  .main {
    font-size: $font-small-size;
    margin: 24px 32px;
  }

  .confirmation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px;

    .discard {
      margin-right: 24px;
    }
  }

  @media (min-width: 900px) {
    .modal-mask {
      backdrop-filter: none;
    }

    .modal-container  {
      margin: 16px 0;
      border-radius: $container-standard-border-radius;
    }
  }

  .dark {
    .modal-mask {
      background: rgba($dark-ui-background, .84);
    }

    .modal-container {
      background: $dark-ui-dark;
    }

    .line {
      border-color: rgba($dark-ui-light, 0.1);
    }

    .head .close {
      background: $dark-ui-dark;

      &:hover {
        background: $dark-ui-hover;
      }

      svg line {
        stroke: $common-ui-white;
      }
    }
  }
</style>
