<template>
  <div :class="['child-container', { 'dark': $colorScheme === 'dark' }]">
    <base-section-container-box>
      <template #head>
        <div class="headline">
          <h2>Internal Notes</h2>
        </div>
      </template>

      <template #main>
        <div>
          <BaseTextArea
              field-label=""
              field-placeholder="Add internal note"
              field-id="internal-note"
              :rows="3"
              v-model="newNote"
              :error-message="noteValidity.errorMessage"
              :input-has-error="!noteValidity.isValid"
          />

          <BaseButton
              text="Add Note"
              :action="addNote"
              style="margin: 18px 0 0 auto"
              :background="false"
              class="add-button"
          />
        </div>
        <div
            v-if="notes.length > 0"
            class="notes-container"
        >
        </div>
        <div v-if="notes.length > 0" class="notes">
          <TheNoteElement
              v-for="note in notes"
              :key="note.id"
              :note="note"
              @editNote="initializeNoteEdit(note)"
              @deleteNote="initializeNoteDelete(note)"
              class="note"
          />
        </div>
      </template>
    </base-section-container-box>

    <EditNoteModal
        v-if="isNoteEditModalVisible"
        :note="noteToEdit"
        @updateNote="updateNote"
        @close="isNoteEditModalVisible = false"
    />

    <DeleteNoteConfirmModal
        v-if="isNoteDeleteConfirmModalVisible"
        :note="noteToDelete"
        @deleteNote="deleteNote"
        @close="isNoteDeleteConfirmModalVisible = false"
    />
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import TheNoteElement
  from '@/components/common/composition/note/TheNoteElement.vue';
import { InputValidityObject, Note, UserFeedback } from '@/types';
import inputValidator, { Validator } from '@/includes/common/validators/inputValidator';
import DeleteNoteConfirmModal
  from '@/components/common/composition/note/modals/DeleteNoteConfirmModal.vue';
import EditNoteModal
  from '@/components/common/composition/note/modals/EditNoteModal.vue';

@Component({
  components: {
    EditNoteModal,
    DeleteNoteConfirmModal,
    TheNoteElement,
  },
})
export default class InternalNote extends Vue {
  @Prop({ type: Array, required: true })
  readonly notes!: Note[];

  newNote = '';

  noteValidity: InputValidityObject = { isValid: true, errorMessage: '' };

  noteToEdit = {} as Note;

  noteToDelete = {} as Note;

  isNoteEditModalVisible = false;

  isNoteDeleteConfirmModalVisible = false;

  addNote() {
    this.validateNote();
    if (!this.noteValidity.isValid) {
      this.$nextTick().then((this as any).$scrollToError);
      (this as any).$showFeedback({ type: 'failure' } as UserFeedback);
      return;
    }
    this.$emit('addNote', this.newNote);
    this.newNote = '';
  }

  updateNote(note: Note) {
    this.isNoteEditModalVisible = false;
    this.$emit('updateNote', note);
  }

  initializeNoteEdit(note: Note) {
    this.noteToEdit = note;
    this.isNoteEditModalVisible = true;
  }

  initializeNoteDelete(note: Note) {
    this.noteToDelete = note;
    this.isNoteDeleteConfirmModalVisible = true;
  }

  deleteNote(note: Note) {
    this.isNoteDeleteConfirmModalVisible = false;
    this.$emit('deleteNote', note);
  }

  validateNote() {
    inputValidator(
      { name: 'Note', value: this.newNote },
      this.noteValidity,
      [
        { validator: Validator.NoEmpty },
        { validator: Validator.MaxLength, constraint: 1000 },
      ],
    );
  }
}
</script>

<style scoped lang="scss">
  .notes-container {
    width: 100%;
    height: 0;
    border-bottom: $standard-border;
    margin: 20px 0;
  }

  .note {
    margin-bottom: 16px;
  }

  .add-button ::v-deep .button {
    margin-left: auto;
    display: block;
  }

  .dark {
    .notes-container {
      border-color: rgba($dark-ui-light, 0.1);
    }
  }
</style>
