<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <section class="note-wrapper">
      <p>{{ note.note }}</p>
      <BaseDropdownMenu
        :menu-options="menuOptions"
        :action-param="note.id"
        mobile-position="left"
      />
    </section>
    <span class="date">Created {{ note.creationDate | relativeTimeMinute }}</span>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Note, MenuOption } from '@/types';

@Component
export default class TheNoteElement extends Vue {
    @Prop({ type: Object, required: true })
    readonly note!: Note;

    readonly menuOptions: MenuOption<Note>[] = [
      {
        name: 'Edit',
        action: this.editNote,
        icon: 'common/menuDropdown/edit.svg',
      },
      {
        name: 'Delete',
        action: this.deleteNote,
        icon: 'common/menuDropdown/delete.svg',
      },
    ];

    editNote(note?: Note) {
      this.$emit('editNote', note as Note);
    }

    deleteNote(note?: Note) {
      this.$emit('deleteNote', note as Note);
    }
}
</script>

<style scoped lang="scss">
  .note-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 16px;

    p {
      margin: 0 20px 0 0;
      padding: 16px 24px;
      background: rgba($light-ui-dark, .08);
      border-radius: $container-standard-border-radius;
      width: 100%;
    }
  }

  .date {
    font-size: $font-small-size;
    color: $light-ui-light-gray
    }

  .dark {}
</style>
