<template>
  <transition name="slide-fast" appear>
  <div :class="['widget-container', { 'dark': $colorScheme === 'dark' }]">
    <img src="@/assets/images/common/coming_soon.svg" alt="Coming soon">
    <span>Help feature is coming soon.</span>
  </div>
  </transition>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class AppHelp extends Vue {
}
</script>

<style scoped lang="scss">
  .widget-container {
    background: $common-ui-white;
    width: 470px;
    min-height: 600px;
    box-shadow: $common-ui-blue-spread-shadow;
    border-radius: $container-standard-border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    padding: 24px;
    z-index: 4;

    &::before {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: 47%;
      top: -6px;
    }

    span {
      // Remove me
      display: block;
      margin-top: 16px;
      max-width: 60%;
      text-align: center;
      font-size: $font-small-size;
    }
  }

  .dark {
    box-shadow: $common-ui-dark-spread-shadow;
    background: $dark-ui-dark;

    &:before {
      background: $dark-ui-dark;
    }
  }
</style>
