<template>
  <div :class="['modal-mask', { 'dark': $colorScheme === 'dark' }]">
    <div :class="['search-container', { 'suggestions-wrapper': isFocused }]">
      <div class="search-bar">
        <div class="search-icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18.533"
            height="18.533"
            viewBox="0 0 18.533 18.533"
          >
            <path
              id="icon_search-2"
              d="M14.076,12.447A7.511,7.511,0,0,0,15.627,7.82,7.78,7.78,0,0,0,7.869,0,7.875,7.875,0,
            0,0,0,7.82a7.875,7.875,0,0,0,7.869,7.82A7.389,7.389,0,0,0,12.524,14.1l3.325,3.3a1.076,
            1.076,0,0,0,1.552,0,1.061,1.061,0,0,0,0-1.542Zm-6.207.887A5.566,5.566,0,0,1,2.217,
            7.82a5.652,5.652,0,1,1,11.3,0,5.566,5.566,0,0,1-5.652,5.507Z"
              transform="translate(0.4 0.4)"
              fill="#BCC7CE"
              stroke="#fff"
              stroke-width="0.7"
            />
          </svg>
        </div>
        <form novalidate @submit.prevent="search">
        <input
          type="text"
          aria-autocomplete="both"
          maxlength="1000"
          autocapitalize="off"
          autocomplete="off"
          autofocus
          spellcheck="false"
          title="Search"
          class="search-input"
          v-model="searchPayload"
          @focus="isFocused = true"
          @blur="isFocused = false"
        >
        </form>
        <div
          class="clear"
          @click="searchPayload = ''"
          @mouseenter="showTooltip = true"
          @mouseleave="showTooltip = false"
          aria-describedby="tooltip"
        >
          <BaseToolTipSmall
            v-if="showTooltip"
            :is-tooltip-visible="showTooltip"
            tip="Clear search"
            class="tip"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="14.546"
            height="14.546"
            viewBox="0 0 14.546 14.546"
          >
            <g
              id="Group_15572"
              data-name="Group 15572"
              transform="translate(0.54 1.156)"
            >
              <line
                id="l1"
                data-name="Line 525"
                y1="12"
                x2="12"
                transform="translate(0.732 0.117)"
                fill="none"
                stroke="#BCC7CE"
                stroke-linecap="round"
                stroke-width="1.8"
              />
              <line
                id="l2"
                data-name="Line 526"
                y1="12"
                x2="12"
                transform="translate(0.732 12.117) rotate(-90)"
                fill="none"
                stroke="#BCC7CE"
                stroke-linecap="round"
                stroke-width="1.8"
              />
            </g>
          </svg>
        </div>
      </div>

      <div class="recent-wrapper" v-if="isFocused">
        <div
          v-for="(text, index) in recentSearch"
          :key="index"
          class="recent">
          <span>{{ text }}</span>
          <span>Remove</span>
           <svg class="recent-icon" xmlns="http://www.w3.org/2000/svg" width="15.743" height="15.734"
             viewBox="0 0 15.743 15.734">
          <g id="Group_14938" data-name="Group 14938" transform="translate(-794.9 -2163.619)">
            <path id="Path_9839" data-name="Path 9839"
                  d="M14.923,4.91A7.615,7.615,0,0,0,10.784.788,7.639,7.639,0,0,0,7.759.168a7.56,
                  7.56,0,0,0-3.017.62A7.639,7.639,0,0,0,.612,4.91a7.764,7.764,0,0,0,0,6.042,7.655,
                  7.655,0,0,0,4.13,4.13,7.56,7.56,0,0,0,3.017.62,7.642,7.642,0,0,0,3.025-.62,7.631,
                  7.631,0,0,0,4.139-4.13,7.666,7.666,0,0,0,0-6.042Zm-1.241,6.45a6.818,6.818,0,0,
                  1-2.5,2.49,6.693,6.693,0,0,1-3.425.918,6.581,6.581,0,0,1-2.651-.544,6.949,6.949,
                  0,0,1-2.176-1.453,6.907,6.907,0,0,1-1.453-2.184,6.691,6.691,0,0,1-.535-2.66,
                  6.681,6.681,0,0,1,.909-3.416,6.822,6.822,0,0,1,2.49-2.49A6.642,6.642,0,0,1,
                  7.759,1.1a6.693,6.693,0,0,1,3.425.918,6.839,6.839,0,0,1,2.5,2.49A6.642,6.642,
                  0,0,1,14.6,7.927,6.706,6.706,0,0,1,13.682,11.36Z"
                  transform="translate(795 2163.551)" fill="#BCC7CE" stroke="#BCC7CE"
                  stroke-width="0.2"/>
            <path id="Path_9840" data-name="Path 9840"
                  d="M288.053,115.8v-4.4a.49.49,0,0,0-.493-.476.479.479,0,0,
                  0-.467.476v4.47a.388.388,0,0,1,.017.068.444.444,0,0,0,.127.383l2.541,
                  2.541a.483.483,0,0,0,.654,0,.458.458,0,0,0,0-.663Z"
                  transform="translate(515.198 2055.611)" fill="#BCC7CE" stroke="#BCC7CE"
                  stroke-width="0.2"/>
          </g>
        </svg>
        </div>
      </div>

      <span v-if="isFocused" class="related-title">Related to earlier searches</span>
      <div class="related-wrapper" v-if="isFocused">
        <div
          v-for="(text, index) in relatedToRecent"
          :key="index"
          class="related">
          <span>{{ text }}</span>
          <svg
          class="related-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="18.533"
          height="18.533"
          viewBox="0 0 18.533 18.533"
        >
          <path
            id="icon_search-2"
            d="M14.076,12.447A7.511,7.511,0,0,0,15.627,7.82,7.78,7.78,0,0,0,7.869,0,7.875,7.875,0,
            0,0,0,7.82a7.875,7.875,0,0,0,7.869,7.82A7.389,7.389,0,0,0,12.524,14.1l3.325,3.3a1.076,
            1.076,0,0,0,1.552,0,1.061,1.061,0,0,0,0-1.542Zm-6.207.887A5.566,5.566,0,0,1,2.217,
            7.82a5.652,5.652,0,1,1,11.3,0,5.566,5.566,0,0,1-5.652,5.507Z"
            transform="translate(0.4 0.4)"
            fill="#BCC7CE"
            stroke="#fff"
            stroke-width="0.8"
          />
        </svg>
        </div>
      </div>

    </div>

    <div @click="$emit('close')" class="close">
      <svg xmlns="http://www.w3.org/2000/svg" width="33.627" height="33.627"
           viewBox="0 0 33.627 33.627">
        <g id="Group_15572" data-name="Group 15572" transform="translate(0.682 1.297)">
          <line id="Line_525" data-name="Line 525" y1="30.799" x2="30.799"
                transform="translate(0.732 0.117)" fill="none" stroke="#21455e"
                stroke-linecap="round" stroke-width="1.5"/>
          <line id="Line_526" data-name="Line 526" y1="30.799" x2="30.799"
                transform="translate(0.732 30.916) rotate(-90)" fill="none" stroke="#21455e"
                stroke-linecap="round" stroke-width="1.5"/>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>
import { Component, Mixins } from 'vue-property-decorator';
import ModalEventsMixin from '@/components/mixins/ModalEventsMixin';

@Component
export default class AppSearch extends Mixins(ModalEventsMixin) {
  mounted() {
    document.querySelector('.search-input').focus();
  }

  searchPayload = '';

  showTooltip = false;

  isFocused = false;

  recentSearch = ['How to add a user', 'user roles', 'assign permissions', 'add tracking pixel'];

  relatedToRecent = ['Effective campaigns', 'New store setup'];

  search() {
    //
  }
}
</script>

<style scoped lang="scss">
  .modal-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: $common-ui-white;
    /*backdrop-filter: blur(50px);*/
    transition: opacity 0.4s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .close {
      $move: 50px;
      position: absolute;
      top: $move;
      right: $move;
      cursor: pointer;
    }
  }

  .search-container {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: $common-ui-white;
    height: min-content;
  }

  .search-bar {
    position: relative;

    .search-input {
      @include medium-small-font;
      color: $light-ui-dark;
      padding: 14px 42px;
      min-width: 560px;
      border-radius: 24px;
      border: 1px solid rgba($light-ui-dark, .3);
      outline: none;
      -moz-appearance: textfield;

      &:focus {
       border: none;
        border-radius: 24px 24px 0 0;
        border-bottom: 1px solid rgba($light-ui-dark, .08);
        padding: 16px 42px;
        // box-shadow: 0 3px 6px rgba($ui-dark, 0.12);
      }
    }

    input[type=text] {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

    .search-icon {
      position: absolute;
      top: 14px;
      left: 16px;
      transform: scale(.92);
      cursor: default;
    }

    .clear {
      position: absolute;
      top: 11px;
      right: 22px;

      svg {
        $size: 12px;
        width: $size;
        height: $size;
      }

      .tip {
        position: absolute;
        top: -32px;
        left: -41px;
      }
    }
  }

  .suggestions-wrapper {
    box-shadow: 0 0 6px 2px rgba($light-ui-dark, 0.12);
    height: fit-content;
    padding-bottom: 12px;
  }

  .recent-wrapper, .related-wrapper {
    align-self: flex-start;
    margin: 0 -42px 0 42px;
    font-family: $font-regular-weight;
    font-size: $font-medium-size;
    width: 100%;
  }

  .recent, .related {
    margin: 10px 60px 10px 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span:last-of-type:not(:only-of-type) {
      color: #BCC7CE;
    }
  }

  .related {
    color: $light-ui-dark;
  }

  .recent-icon, .related-icon {
    position: absolute;
    left: -26px;
    top: 4px;
  }

  .related-icon {
    position: absolute;
    left: -26px;
    top: 2px;
    transform: scale(.88);
  }

  .related-title {
    font-family: $font-regular-weight;
    font-size: $font-medium-size;
    align-self: flex-start;
    padding-left: 42px;
    color: #BCC7CE;
  }

  .dark {
  }
</style>
