<template>
  <!--  Required to prevent allow click from parents-->
  <div @click.stop="" :class="['switch-container', { 'dark': $colorScheme === 'dark' }]">
    <label class="checkbox-container" tabindex="0">
      <input
        type="checkbox"
        :value="value"
        @change.stop="$emit('change', $event.target.checked)"
        :checked="value"
      />
      <span class="switch"></span>
    </label>
  </div>
</template>

<script lang="ts">
import { Component, Model, Vue } from 'vue-property-decorator';

@Component
export default class ColorSchemeSwitch extends Vue {
  @Model('change', { type: Boolean })
  readonly value!: boolean;
}
</script>

<style scoped lang="scss">
  .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    input:checked ~ .switch {
      background: $light-ui-very-light-gray;
      transition: all 0.24s;
    }

    input:checked ~ .switch::after {
      display: block;
      content: url("../../../assets/icons/common/light_small.svg");
      position: absolute;
      top: -7px;
      left: 12px;
      animation-name: selected;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes selected {
    from {
      left: -10px;
    }
    to {
      left: 12px;
    }
  }

  @keyframes unselected {
    from {
      left: 12px;
    }
    to {
      left: -10px;
    }
  }

  .switch {
    position: absolute;
    top: -10px;
    left: -19px;
    height: 24px;
    width: 46px;
    background: $light-ui-very-light-gray;
    border-radius: 14px;
    transition: all 0.24s;

    &::after {
      content: url("../../../assets/icons/common/dark_small.svg");
      position: absolute;
      bottom: -18px;
      left: -10px;
      animation-name: unselected;
      animation-duration: 0.4s;
      animation-timing-function: ease-in-out;
    }
  }

  .dark {}
</style>
