<template>
  <div :class="['scheme-container', { dark: $colorScheme === 'dark' }]">
    <base-simple-modal
      @close="keepCurrentScheme"
      cancel-text="Keep current scheme"
      :cancel-action="keepCurrentScheme"
      execute-text="Update scheme"
      :execute-action="changeColorScheme"
    >
      <template #title>Your {{ deviceAndUserAgent }} color scheme has changed</template>
      <template #body
        ><p>Do you want to update your account's color scheme?</p>
        <div class="scheme-wrapper">
          <div class="box-hover"></div>
          <div
            @click="selectedColorScheme = 'light'"
            :class="['light-wrapper', { selected: selectedColorScheme === 'light' }]"
          >
            <BaseRadioButton
              radio-label="Light theme"
              option-name="theme"
              :is-selected="selectedColorScheme === 'light'"
              value="light"
              @selected="selectedColorScheme = $event"
            />
            <div class="image-wrapper">
              <img src="../../../assets/icons/common/light_theme.svg" alt="Light theme" />
            </div>
          </div>

          <div
            @click="selectedColorScheme = 'dark'"
            :class="['dark-wrapper', { selected: selectedColorScheme === 'dark' }]"
          >
            <BaseRadioButton
              radio-label="Dark theme"
              option-name="theme"
              :is-selected="selectedColorScheme === 'dark'"
              value="dark"
              @selected="selectedColorScheme = $event"
            />
            <div class="image-wrapper">
              <img src="../../../assets/icons/common/dark_theme.svg" alt="Dark theme" />
            </div>
          </div>
        </div>
      </template>
    </base-simple-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Action } from 'vuex-class';
import { vInstance } from '@/includes/common/vue/initializeVueApp';
import { device } from '@/includes/common/devicesAndUserAgents';

@Component
export default class ColorSchemeChangeModal extends Vue {
  @Prop({ type: String, required: true })
  readonly deviceColorScheme!: 'light' | 'dark';

  selectedColorScheme = this.deviceColorScheme;

  deviceAndUserAgent = device();

  changeColorScheme() {
    this.updateColorScheme(this.selectedColorScheme);
    this.$emit('close');
    vInstance.prototype.$colorScheme = this.selectedColorScheme;

    /* eslint @typescript-eslint/ban-ts-ignore:0 */
    // @ts-ignore
    (this as any).$showFeedback({
      type: 'success',
      title: 'Color scheme changed',
      description: `New scheme: ${this.selectedColorScheme}`,
    });
  }

  keepCurrentScheme() {
    this.updateLastRejectedColorScheme(this.selectedColorScheme);
    this.$emit('close');
  }

  @Action updateColorScheme!: (deviceColorScheme: 'light' | 'dark') => void;

  @Action updateLastRejectedColorScheme!: (rejectedColorScheme: 'light' | 'dark') => void;
}
</script>

<style scoped lang="scss">
.scheme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .light-wrapper,
  .dark-wrapper {
    cursor: pointer;
    padding: 10px 10px 8px;
    border-radius: $container-standard-border-radius;
    transition: all 0.24s;

    img {
      transform: scale(0.94);
    }

    &:hover {
      background: rgba($light-ui-dark, 0.1);
    }
  }

  .selected {
    background: rgba($light-ui-dark, 0.1);
  }
}

@media (min-width: 900px) {
  .scheme-wrapper {
    flex-direction: row;
  }
}

.dark {
}
</style>
