/*************************************/
/* Standard small medium weight font */
/*************************************/
@mixin medium-small-font {
  font: {
    family: $font-medium-weight;
    weight: normal;
    size: $font-small-size;
  }
}

/***************************************************************/
/* Standard styling for link states: link/visited/hover/active */
/***************************************************************/
@mixin link-visited {
  color: $common-ui-blue;
  text-decoration: none;
  transition: background-color 0.24s;
  cursor: pointer;
}


@mixin link-hover-active {
  color: $common-ui-dark-blue;
}

@mixin link-styled($element: 'a') {
  #{$element},
  #{$element}:link,
  #{$element}:visited {
    @include link-visited;
    display: inline-block;
    border-bottom: 1px solid rgba($common-ui-blue, 0.3);
    margin-bottom: 1px;
    transition: all 0.1s;
  }

  #{$element}:hover,
  #{$element}:active {
    background: rgba($common-ui-blue, 0.03);
    border-bottom: 2px solid $common-ui-blue;
    margin-bottom: 0;
  }

  #{$element}:focus {
    //outline: none;
    // box-shadow: 0 0 0 2px rgba($common-ui-blue, .6);
  }
}

/****************************/
/* Ellipsis text truncation */
/****************************/
@mixin truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin focus-highlight {
  &:focus {
     outline: none;
     box-shadow: 0 0 0 2px rgba($common-ui-blue, .6);
  }
}

/*******************************/
/* Base non-standard scrollbar */
/*******************************/
@mixin _base-scrollbar {
  scrollbar-color: #b9b9ba $common-ui-white; // Firefox only

  &::-webkit-scrollbar {
    width: 16px;
    border-radius: 0 12px 12px 0;
    background: $common-ui-white;
  }

  &::-webkit-scrollbar-track {
    border-radius: 5px;
    width: 18px;
  }

  &::-webkit-scrollbar-button {
    display: none;
    height: 6px;
  }
}

/****************************************/
/* Non-standard light ui blue scrollbar */
/****************************************/
@mixin light-ui-scrollbar-blue {
  @include _base-scrollbar;
  scrollbar-color: rgba($common-ui-blue, 0.4) $common-ui-white;

  &::-webkit-scrollbar-thumb {
    background: rgba($common-ui-blue, 0.4);
    border-radius: 10px;
    background-clip: content-box;
    border: 4px solid transparent;
    height: 72px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($common-ui-blue, 0.7);
    background-clip: content-box;
    border: 4px solid transparent;
  }
}

/****************************************/
/* Non-standard light ui dark scrollbar */
/****************************************/
@mixin light-ui-scrollbar-dark {
  @include _base-scrollbar;
  scrollbar-color: #b9b9ba $common-ui-white;

  &::-webkit-scrollbar-thumb {
    background: #b9b9ba;
    border-radius: 10px;
    background-clip: content-box;
    border: 4px solid transparent;
    height: 72px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #787979;
    background-clip: content-box;
    border: 4px solid transparent;
  }
}

/****************************************/
/* Non-standard dark ui scrollbar */
/****************************************/
@mixin dark-ui-scrollbar {
  @include _base-scrollbar;
  scrollbar-color: rgba($common-ui-blue, .12) $dark-ui-dark;

  &::-webkit-scrollbar {
    width: 16px;
    border-radius: 0 12px 12px 0;
    background: $dark-ui-dark;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($common-ui-blue, .12);
    border-radius: 10px;
    background-clip: content-box;
    border: 4px solid transparent;
    height: 72px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba($common-ui-blue, .18);
    background-clip: content-box;
    border: 4px solid transparent;
  }
}

@mixin block-2{
  display: flex;
  flex-direction: row;
  align-items: center;
}


