@mixin main-container {
  width: 100%;

  span {
    font-size: $font-small-size;
    display: block;
  }
}

@mixin heading-toolbar-wrapper($withBreadcrumb: false) {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 12px 0 16px;
  position: sticky;
  background: $light-ui-background;
  z-index: 5;

  h1 {
    transition: all .3s;
    margin-bottom: 2px;
  }

  .toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 24px;
    padding-top: 10px;
    margin: 0 auto;
    transform-origin: 50% 0;
    transition: all .3s;
  }

  @if $withBreadcrumb {
    top: 64px;
  } @else {
    top: 60px;
  }
}

@mixin heading-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .description {
    font-size: $font-small-size;
    display: block;
    margin-right: 40px;
  }
}

@mixin heading-anchor {
  margin: 0;
  display: flex;
  transition: all 0.24s;

  .link {
    @include focus-highlight;
    display: flex;
    text-decoration: none;
    border-bottom: 2px solid rgba($common-ui-blue, 0.3);
    margin-bottom: 1px;
    color: $light-ui-dark;
    transition: all 0.1s;

    &:not(:last-of-type) {
      margin-right: 48px;
    }

    &:focus {
      border-radius: 2px;
    }
  }

  .active-link, .link:hover {
    background: rgba($common-ui-blue, 0.06);
    border-color: $common-ui-blue;
  }

  em {
    font-family: $font-regular-weight;
    font-style: normal;
    margin-left: 16px;
  }
}


@mixin section-title {
  background: rgba($common-ui-blue, .03);

  h3 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 24px;
    border-top: 1px solid rgba($common-ui-blue, .16);
    border-bottom: 1px solid rgba($common-ui-blue, .16);
    font: {
      family: $font-medium-weight;
      weight: normal;
      size: 0.72rem;
    }
  }
}

@mixin container-headline-flexed {
  @include link-styled();
  display: flex;
  align-items: center;
  justify-content: space-between;
}
