<template>
  <div class="main-preloader-wrapper">
    <main
      v-if="!isLoading"
      :class="['main-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <div class="content-wrapper">
        <header class="heading-toolbar-wrapper">
          <div class="heading">
            <h1 class="heading-count">Schedules & Events
              <em>{{ '7' | simpleNumberFormat }}</em>
            </h1>
            <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ui
            </span>
          </div>
          <div class="toolbar">
          </div>
        </header>

        <BaseStarterGuide
          guide-title="View and Manage your Purchases"
          guide-description="You don’t have any purchases yet.
          Check back after you have purchased a product"
          guide-image-name="common/purchases.svg"
          guide-image-alt="No purchases"
          @playGuide="$playVideoGuide('events')"
        />
      </div>

    </main>
    <BasePreloaderCircular v-else class="preloader"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const eventsStore = namespace('events');
@Component
export default class EventsDashboard extends Vue {
  async created() {
    await this.fetchEvents();
    this.isLoading = false;
  }

  isLoading = true;

  @eventsStore.Action('fetchEvents')
  fetchEvents!: () => Promise<void>;
}
</script>

<style scoped lang="scss">
.main-preloader-wrapper, .main-container {
  @include main-container;
  min-height: 82vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  .content-wrapper {
    flex: 1 1 auto;
  }
}
.heading-toolbar-wrapper {
  @include heading-toolbar-wrapper();
}
.heading-count {
  display: flex;
  em {
    font-style: normal;
    font-family: $font-regular-weight;
    margin-left: 16px;
  }
}
.create-tooltip-wrapper {
  position: relative;
  .tooltip {
    position: absolute;
    left: -30px;
    bottom: -82px;
    margin-right: -30px;
  }
}
.preloader {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}
@media (min-width: 600px) {
  .heading-toolbar-wrapper {
    flex-direction: row;
    align-items: flex-end;
    .toolbar {
      transform-origin: 100% 0;
      margin-left: auto;
      margin-right: unset;
      padding-top: unset;
    }
  }
}
@media (min-width: 900px) {
  .main-preloader-wrapper, .main-container {
    max-width: 900px;
  }
  .preloader {
    left: calc(50% - 25px + 376px / 2);
  }
}
.dark {
  .heading-toolbar-wrapper {
    background: $dark-ui-background;
  }
}
</style>
