<template>
  <div></div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class EventDetail extends Vue {}
</script>

<style scoped lang="scss">

</style>
