<template>
  <div :class="['permission-container', { 'dark': $colorScheme === 'dark' }]">
    <base-simple-modal
      class="permission"
      @close="$hidePermissionDeniedModal()"
      execute-text="Got it"
      :execute-action="() => { this.$hidePermissionDeniedModal(); }"
      :cancel-action="() => {}"
    >
      <template #title>Restricted action</template>
      <template #body>
        <transition name="slide" appear>
          <section class="main">
            <img
              src="../../../assets/images/common/permission_denied.svg"
              alt="Permission denied"
            />
            <h3>Heads up!</h3>
            <p>
              The owner of your account has not granted you the permission to
              perform this action. If you have any questions, please contact
              your account manager.
            </p>
          </section>
        </transition>
      </template>
    </base-simple-modal>
  </div>
</template>

<script>
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class PermissionDeniedModal extends Vue {}
</script>

<style scoped lang="scss">
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 120px;
      height: auto;
    }

    h3 {
      margin: 0;
      font: {
        family: $font-medium-weight;
        weight: normal;
        size: 1.25rem;
      }
    }

    p {
      margin: 6px 0 0 0;
    }
  }

  .permission {
    ::v-deep .confirmation {
      justify-content: flex-end;

      .discard {
        display: none;
      }
    }
  }

  .dark {}
</style>
