<template>
  <div :class="['not-found-container', { 'dark': $colorScheme === 'dark' }]">
    <section class="explanation">
      <h1>It's empty out here!</h1>
      <h2>You are probably looking for the wrong stuff at the wrong place.</h2>
    </section>
    <section class="sos">
          <BaseButton
            class="home"
            text="Take me home"
            :action="() => { $router.push({ name: 'Home' }) }"
            :border="false"
            :background="false"
          />
          <BaseButton
            text="I need help"
            :action="getHelp"
          />
        </section>
    <div class="lonely-wrapper">
      <img src="../../../assets/images/common/lonely_earth.svg" alt="Lonely earth">
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

Component.registerHooks(['beforeRouteEnter']);

@Component
export default class ResourceNotFound extends Vue {
  getHelp() {
    /* eslint no-restricted-globals: 0 */
    location.assign('https://help.bigcommand.com/');
  }
}
</script>

<style scoped lang="scss">
  .not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 90vh;
    width: 100vw;
  }
  .lonely-wrapper {
    justify-self: flex-end;

    img {
      display: block;
      width: 70%;
      margin: 0 auto;
    }
  }

  .explanation {
    margin: auto 24px 24px;
  }

  .sos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 auto;

    .home {
      margin-right: 32px;
    }
  }

  @media (min-width: 450px) {
    .not-found-container {
      height: 100vh;
    }
  }

  .dark {}
</style>
