<template>
  <transition name="slide-horizontal" appear>
    <section :class="['widget-container', { 'dark': $colorScheme === 'dark' }]">
      <div class="check-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
          <g id="Group_15123" data-name="Group 15123" transform="translate(0 0.5)">
            <rect id="Rectangle_1408" data-name="Rectangle 1408" width="30" height="30" rx="15"
                  transform="translate(0 -0.5)" fill="#f27500"/>
            <g id="notification_4_" data-name="notification (4)"
               transform="translate(-52.289 6.881)">
              <path id="Path_10357" data-name="Path 10357"
                    d="M61.46,13.853h3.678a1.839,1.839,0,1,0,3.678,0h3.678a.46.46,0,0,0,.46-.46,4.183,4.183,0,0,0-1.018-3.059,3.289,3.289,0,0,1-.821-2.489V5.977A4.145,4.145,0,0,0,68.2,2.022a1.379,1.379,0,1,0-2.439,0,4.145,4.145,0,0,0-2.918,3.954v1.87a3.289,3.289,0,0,1-.821,2.489A4.183,4.183,0,0,0,61,13.394.46.46,0,0,0,61.46,13.853Zm5.517.919a.921.921,0,0,1-.919-.92H67.9A.921.921,0,0,1,66.977,14.773Zm-.46-13.394a.46.46,0,1,1,.46.46A.46.46,0,0,1,66.517,1.379ZM62.74,10.9a4.183,4.183,0,0,0,1.018-3.059V5.977a3.218,3.218,0,1,1,6.436,0v1.87A4.183,4.183,0,0,0,71.213,10.9a3.1,3.1,0,0,1,.806,2.029H61.934A3.1,3.1,0,0,1,62.74,10.9Z"
                    transform="translate(0)" fill="#fff"/>
              <path id="Path_10358" data-name="Path 10358"
                    d="M61.919,29.388a5.08,5.08,0,0,1,2.529-4.379.46.46,0,1,0-.461-.8A5.981,5.981,0,0,0,61,29.388a.46.46,0,1,0,.919,0Z"
                    transform="translate(0 -23.412)" fill="#fff"/>
              <path id="Path_10359" data-name="Path 10359"
                    d="M331.687,24.214a.46.46,0,1,0-.461.8,5.08,5.08,0,0,1,2.529,4.379.46.46,0,0,0,.919,0A5.981,5.981,0,0,0,331.687,24.214Z"
                    transform="translate(-261.722 -23.411)" fill="#fff"/>
            </g>
          </g>
        </svg>
      </div>
      <div class="feedback">
        <span>Time to wrap up!</span>
        <span>Workday ending in 10 minutes.</span>
      </div>
      <div class="close" @click="$emit('close')">
        <svg
          id="Close_pop_up"
          data-name="Close pop up"
          xmlns="http://www.w3.org/2000/svg"
          width="9.54"
          height="9.54"
          viewBox="0 0 9.54 9.54"
        >
          <g id="Combined-Shape" transform="translate(-277 -19)" fill="#21455e">
            <path
              d="M 285.8415222167969 28.43955612182617 C 285.6817932128906 28.43955612182617 285.5316162109375 28.37734603881836 285.4186706542969 28.26439476013184 L 281.8404846191406 24.68620491027832 L 281.769775390625 24.6154956817627 L 281.6990661621094 24.68620491027832 L 278.1208801269531 28.26439476013184 C 278.0079345703125 28.37734603881836 277.8577575683594 28.43955612182617 277.6980285644531 28.43955612182617 C 277.5382995605469 28.43955612182617 277.3881225585938 28.37735557556152 277.2751770019531 28.26439476013184 C 277.1622009277344 28.15144538879395 277.1000061035156 28.00126457214355 277.1000061035156 27.8415355682373 C 277.1000061035156 27.68180465698242 277.1622009277344 27.53162574768066 277.2751770019531 27.41867446899414 L 280.8533630371094 23.84048461914062 L 280.924072265625 23.769775390625 L 280.8533630371094 23.69906616210938 L 277.2751770019531 20.12087631225586 C 277.1622009277344 20.00792503356934 277.1000061035156 19.85774612426758 277.1000061035156 19.6980152130127 C 277.1000061035156 19.53828620910645 277.1622009277344 19.38810539245605 277.2751770019531 19.27515602111816 C 277.3881225585938 19.16220474243164 277.5382995605469 19.10000610351562 277.6980285644531 19.10000610351562 C 277.8577575683594 19.10000610351562 278.0079345703125 19.16220474243164 278.1208801269531 19.27515602111816 L 281.6990661621094 22.85334587097168 L 281.769775390625 22.9240550994873 L 281.8404846191406 22.85334587097168 L 285.4186706542969 19.27515602111816 C 285.5316162109375 19.16220474243164 285.6817932128906 19.10000610351562 285.8415222167969 19.10000610351562 C 286.0012817382812 19.10000610351562 286.1514282226562 19.16220474243164 286.2643737792969 19.27515602111816 C 286.3773498535156 19.38810539245605 286.4395446777344 19.53828620910645 286.4395446777344 19.6980152130127 C 286.4395446777344 19.85774612426758 286.3773498535156 20.00792503356934 286.2643737792969 20.12087631225586 L 282.6861877441406 23.69906616210938 L 282.615478515625 23.769775390625 L 282.6861877441406 23.84048461914062 L 286.2643737792969 27.41867446899414 C 286.3773498535156 27.53162574768066 286.4395446777344 27.68180465698242 286.4395446777344 27.8415355682373 C 286.4395446777344 28.00126457214355 286.3773498535156 28.15144538879395 286.2643737792969 28.26439476013184 C 286.1514282226562 28.37735557556152 286.0012817382812 28.43955612182617 285.8415222167969 28.43955612182617 Z"
              stroke="none"
            />
            <path
              d="M 277.6980285644531 19.20000457763672 C 277.5649719238281 19.20000457763672 277.43994140625 19.25180625915527 277.3458862304688 19.34587478637695 C 277.2518005371094 19.4399356842041 277.2000122070312 19.56499481201172 277.2000122070312 19.6980152130127 C 277.2000122070312 19.83103561401367 277.2518005371094 19.95609474182129 277.3458862304688 20.0501651763916 L 280.924072265625 23.62835502624512 L 281.0654907226562 23.769775390625 L 280.924072265625 23.91119575500488 L 277.3458862304688 27.48939514160156 C 277.2518005371094 27.58345603942871 277.2000122070312 27.70851516723633 277.2000122070312 27.8415355682373 C 277.2000122070312 27.97455596923828 277.2518005371094 28.0996150970459 277.3458862304688 28.19369506835938 C 277.43994140625 28.28774452209473 277.5649719238281 28.33954620361328 277.6980285644531 28.33954620361328 C 277.8310546875 28.33954620361328 277.9561157226562 28.28774452209473 278.0501708984375 28.19368553161621 L 281.6283569335938 24.6154956817627 L 281.769775390625 24.47407531738281 L 281.9111938476562 24.6154956817627 L 285.4893798828125 28.19368553161621 C 285.5834350585938 28.28774452209473 285.70849609375 28.33954620361328 285.8415222167969 28.33954620361328 C 285.9745483398438 28.33954620361328 286.099609375 28.28774452209473 286.1936645507812 28.19367599487305 C 286.2877502441406 28.0996150970459 286.3395385742188 27.97455596923828 286.3395385742188 27.8415355682373 C 286.3395385742188 27.70851516723633 286.2877502441406 27.58345603942871 286.1936645507812 27.4893856048584 L 282.615478515625 23.91119575500488 L 282.4740600585938 23.769775390625 L 282.615478515625 23.62835502624512 L 286.1936645507812 20.05015563964844 C 286.2877502441406 19.95609474182129 286.3395385742188 19.83103561401367 286.3395385742188 19.6980152130127 C 286.3395385742188 19.56499481201172 286.2877502441406 19.4399356842041 286.1936645507812 19.34585571289062 C 286.099609375 19.25180625915527 285.9745788574219 19.20000457763672 285.8415222167969 19.20000457763672 C 285.70849609375 19.20000457763672 285.5834350585938 19.25180625915527 285.4893798828125 19.34586524963379 L 281.9111938476562 22.9240550994873 L 281.769775390625 23.06547546386719 L 281.6283569335938 22.9240550994873 L 278.0501403808594 19.34586524963379 C 277.9561157226562 19.25180625915527 277.8310546875 19.20000457763672 277.6980285644531 19.20000457763672 M 277.6980285644531 19.00000381469727 C 277.8766479492188 19.00000381469727 278.0552978515625 19.06814956665039 278.1915893554688 19.20444488525391 L 281.769775390625 22.78263473510742 L 285.3479614257812 19.20444488525391 C 285.4842529296875 19.06814956665039 285.6629028320312 19.00000381469727 285.8415222167969 19.00000381469727 C 286.0201721191406 19.00000381469727 286.1987915039062 19.06814956665039 286.3350830078125 19.20444488525391 C 286.6076965332031 19.47703552246094 286.6076965332031 19.91899490356445 286.3350830078125 20.19158554077148 L 282.7568969726562 23.769775390625 L 286.3350830078125 27.34796524047852 C 286.6076965332031 27.62055587768555 286.6076965332031 28.06251525878906 286.3350830078125 28.33510589599609 C 286.1987915039062 28.47140121459961 286.0201721191406 28.53954696655273 285.8415222167969 28.53954696655273 C 285.6629028320312 28.53954696655273 285.4842529296875 28.47140121459961 285.3479614257812 28.33510589599609 L 281.769775390625 24.75691604614258 L 278.1915893554688 28.33510589599609 C 278.0552978515625 28.47140121459961 277.8766479492188 28.53954696655273 277.6980285644531 28.53954696655273 C 277.5193786621094 28.53954696655273 277.3407287597656 28.47140121459961 277.2044677734375 28.33510589599609 C 276.9318542480469 28.06251525878906 276.9318542480469 27.62055587768555 277.2044677734375 27.34796524047852 L 280.7826538085938 23.769775390625 L 277.2044677734375 20.19158554077148 C 276.9318542480469 19.91899490356445 276.9318542480469 19.47703552246094 277.2044677734375 19.20444488525391 C 277.3407287597656 19.06814956665039 277.5193786621094 19.00000381469727 277.6980285644531 19.00000381469727 Z"
              stroke="none"
              fill="#fff"
            />
          </g>
        </svg>
      </div>
    </section>
  </transition>
</template>

<script lang="ts">
/* eslint max-len: 0 */

import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class WorkdayTimeoutReminder extends Vue {
  @Prop({ type: String, default: 'Feedback message title' })
  readonly feedbackTitle!: string;

  @Prop({ type: String, default: 'Feedback message description.' })
  readonly feedbackDescription!: string;
}
</script>

<style scoped lang="scss">
  .widget-container {
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 6px 20px rgba(33, 69, 94, 0.1);
    padding: 20px 14px 20px 20px;
    width: 100%;
    background: $common-ui-white;
    border-radius: 0;
    z-index: 220;
    display: flex;
    align-items: flex-start;
  }

  .feedback {
    margin-left: 18px;
    max-width: 80%;

    span {
      display: block;
      font-size: $font-small-size;

      &:first-of-type {
        margin-top: -4px;
        font: {
          family: $font-medium-weight;
          weight: normal;
        }
      }

      &:last-of-type {
        margin-top: 6px;
        color: rgba($light-ui-dark, 0.7);
      }
    }
  }

  .check-icon {
    width: fit-content;
    height: fit-content;

    svg {
      $size: 30px;
      width: $size;
      height: $size;
    }
  }

  .close {
    $size: 26px;
    width: $size;
    height: $size;
    margin-left: auto;
    margin-top: -4px;
    background: $common-ui-white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.24s;

    &:hover {
      background: $light-ui-hover;
    }
  }

  .slide-horizontal-enter-active {
    transition: all 0.8s;
  }

  .slide-horizontal-leave-active {
    transition: all 1.4s;
  }

  .slide-horizontal-enter,
  .slide-horizontal-leave-to {
    opacity: 0;
    transform: translateY(6px);
  }

  @media (min-width: 450px) {
    .widget-container {
      position: fixed;
      left: 50px;
      bottom: 20px;
      width: 360px;
      border-radius: 4px;
    }

    .slide-horizontal-enter,
    .slide-horizontal-leave-to {
      opacity: 0;
      transform: translateX(-6px);
    }
  }

  .dark {
  }
</style>
