<template>
  <div :class="['selector-container', { 'dark': $colorScheme === 'dark' }]" v-click-outside>
    <div
        @click="isMenuShown = !isMenuShown"
        @keydown.enter="isMenuShown = !isMenuShown"
        onclick="this.blur()"
        tabindex="0"
        role="combobox"
        aria-haspopup="listbox"
        aria-label="Select country"
        :aria-expanded="isMenuShown.toString()"
        aria-owns="country-dropdown-menu"
        class="flag-wrapper"
    >
    <img :src="currentFlagURL" :alt="`${phoneCountry} flag`">
    <svg
      :class="{ 'rotate-dropdown': isMenuShown }"
      xmlns="http://www.w3.org/2000/svg"
      width="9.709"
      height="5.395"
      viewBox="0 0 9.709 5.395"
    >
      <path
        id="Path_2500"
        data-name="Path 2500"
        d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,0-.463.463L10.8,
        38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,.232-.1l4.307-4.307A.321.321,0,0,0,15.582,33.5Z"
        transform="translate(-6.168 -33.168)"
        fill="#21455e"
        stroke="#21455e"
        stroke-width="0.4"
      />

    </svg>
    </div>
    <transition name="slide-fast" appear>
      <div class="dropdown-menu" id="country-dropdown-menu" v-if="isMenuShown">
        <div v-if="countryList.length > MIN_SEARCHABLE_LENGTH" class="search">
          <BaseSearchFilter
            v-bind:searchPayload.sync="searchPayload"
          />
        </div>
        <ul
          :class="['menu-options', { 'with-search': countryList.length > MIN_SEARCHABLE_LENGTH }]"
          tabindex="-1"
          role="listbox"
          aria-label="Select country"
        >
          <li
            v-for="(country, index) in filteredList"
            :key="index"
            :class="{ selected: country[0] === phoneCountry }"
            @click="optionSelected(country)"
            @keydown.enter="optionSelected(country)"
            tabindex="0" role="option"
          >
            <img :src="getAllFlagURL(country)" alt="Country flag">
            <span>{{ country[0] }}</span>
            <span>{{ country[1] }}</span>
          </li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import { getCodeList, getFlagURL } from '@/includes/common/dialingCodes/dialingCodeUtils';
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class PhoneCodeSelector extends Vue {
  @Prop({ type: String, required: true, default: '' })
  readonly phoneCountry!: string;

  isMenuShown = false;

  countryList = getCodeList();

  searchPayload = '';

  MIN_SEARCHABLE_LENGTH = 10;

  get currentFlagURL() {
    const { phoneCountry } = this;
    const flagURL = getFlagURL(phoneCountry);

    /* eslint import/no-dynamic-require: 0 */
    /* eslint global-require: 0 */
    if (flagURL) return require(`@/assets/icons/common/flags/${flagURL}.svg`);
    return require('@/assets/icons/common/flags/united-states.svg');
  }

  get filteredList() {
    return this.countryList.filter(
      (menu) => menu[0].toLocaleLowerCase().indexOf(this.searchPayload.toLocaleLowerCase())
            !== -1 || menu[1].indexOf(this.searchPayload) !== -1,
    );
  }

  getAllFlagURL(country: string) {
    return require(`@/assets/icons/common/flags/${country[2]}.svg`);
  }

  optionSelected(country: string[]) {
    this.$emit('updated', country[0]);
    this.isMenuShown = false;
    this.searchPayload = '';
  }
}
</script>

<style scoped lang="scss">
  .selector-container {
    width: 60px;
    height: 38px;
    position: relative;
    cursor: pointer;
  }

  .flag-wrapper {
    @include focus-highlight;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 2px;

    img {
      width: 38px;
      height: 38px;
    }

    svg {
      display: block;
      margin-left: 10px;
      width: 10px;
    }

    .rotate-dropdown {
      transform: scaleY(-1);
    }
  }
  .dropdown-menu {
    position: absolute;
    left: -24px;
    top: 56px;
    min-width: 280px;
    box-shadow: 0 2px 4px 0 rgba($common-ui-blue, 0.06), 0 -4px 8px 4px rgba($common-ui-blue, 0.08);
    background: $common-ui-white;
    border-radius: 10px;
    cursor: auto;
    z-index: 4;
    &::before {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: 60px;
      top: -8px;
    }

    .search {
      margin: 16px 0 8px;
      display: flex;
      justify-content: center;

      ::v-deep {
        input {
          width: 200px;

          &:focus {
            width: 220px;
          }
        }
      }
    }
  }

  .menu-options {
    @include light-ui-scrollbar-blue;
    max-height: 400px;
    padding: 2px 2px 2px 0;
    overflow-y: auto;
    list-style: none;
    margin: 6px 0 8px;

    li {
      @include focus-highlight;
      padding: 8px 22px;
      font-size: $font-medium-size;
      border-left: 2px solid transparent;
      display: flex;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.2s;

      img {
        $size: 28px;
        width: $size;
        height: $size;
        margin-left: 4px;
      }

      span:first-of-type {
        padding: 0 10px;
      }

      span:last-of-type {
        color: $light-ui-light-gray;
      }

      &:hover {
        background: rgba($common-ui-blue, 0.1);
        border-color: $common-ui-blue;
      }

      &:focus {
        margin: 0 2px;
        border-radius: 2px;
      }
    }

    .selected {
      font: {
        family: $font-medium-weight;
        weight: normal;
      }
      padding-left: 8px;

      &::before {
        content: url("../../../../assets/icons/common/selected_check.svg");
        padding-right: 4px;
      }
    }
  }

  .with-search {
    max-height: 366px;
  }

   @media (min-width: 900px) {
    .dropdown-menu {
      position: absolute;
      left: auto;
      right: -130px;
      top: 56px;

      &::before {
        left: 122px;
      }
    }
  }

  .dark {
    .flag-wrapper svg path {
      fill: $common-ui-white;
    }

    .dropdown-menu {
      box-shadow: $common-ui-dark-spread-shadow;
      background: $dark-ui-dark;

      &:before {
        background: $dark-ui-dark;
      }
    }

    .menu-options {
      @include dark-ui-scrollbar;
    }
  }
</style>
