<template>
  <div :class="['input-container', { 'dark': $colorScheme === 'dark' }]">
    <label for="phone-number" class="input-label">Phone number</label>
    <div class="country-input">
      <div class="country">
        <PhoneCodeSelector
          :phone-country="phoneCountry"
          @updated="$emit('updatePhoneCountry', $event)"
        />
      </div>
      <div class="input-wrapper">
        <input
          type="tel"
          id="phone-number"
          :value="phoneNumber"
          @input="setPhoneNumber($event)"
          class="input-field"
          :class="{ 'input-error': inputHasError }"
          placeholder="Enter phone number"
          autocomplete="tel-national"
          spellcheck="false"
          tabindex="0"
          autocapitalize="off"
          dir="ltr"
        />
        <div aria-live="assertive" class="country-code">
          <span>{{ currentDialingCode }}</span>
        </div>
      </div>
    </div>
    <div v-if="inputHasError" class="error-message">
      <svg
        class="exclamation"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 18 18"
      >
        <g
          id="Group_8570"
          data-name="Group 8570"
          transform="translate(-628 -479)"
        >
          <circle
            id="Ellipse_4260"
            data-name="Ellipse 4260"
            cx="9.044"
            cy="9.044"
            r="9.044"
            transform="translate(628 479)"
            fill="#ee5951"
          />
          <g
            id="Group_8569"
            data-name="Group 8569"
            transform="translate(638.103 492.812) rotate(180)"
          >
            <circle
              id="Ellipse_4259"
              data-name="Ellipse 4259"
              cx="0.994"
              cy="0.994"
              r="0.994"
              transform="translate(0)"
              fill="#fff"
            />
            <path
              id="Path_8229"
              data-name="Path 8229"
              d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,.595,0Z"
              transform="translate(0.435 3.61)"
              fill="#fff"
            />
          </g>
        </g>
      </svg>
      <p>{{ errorMessage }}</p>
    </div>
  </div>
</template>
<script lang="ts">
import { getDialingCode } from '@/includes/common/dialingCodes/dialingCodeUtils';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { InputValidityObject } from '@/types';
import PhoneCodeSelector from './PhoneCodeSelector.vue';

@Component({ components: { PhoneCodeSelector }, inheritAttrs: false })
export default class PhoneNumberInput extends Vue {
  @Prop({ type: String, default: 'Please correct this input' })
  readonly errorMessage!: InputValidityObject['errorMessage'];

  @Prop({ type: Boolean, default: false })
  readonly inputHasError!: InputValidityObject['isValid'];

  @Prop({ type: String })
  readonly phoneCountry!: string;

  @Prop({ type: String })
  readonly phoneNumber!: string;

  get currentDialingCode() {
    return getDialingCode(this.phoneCountry);
  }

  setPhoneNumber(event: InputEvent) {
    const filtered = (event.target as HTMLInputElement).value.replace(/[^\s0-9()-]/g, '');
    /* eslint no-param-reassign: 0 */
    (event.target as HTMLInputElement).value = filtered;
    this.$emit('updatePhoneNumber', filtered);
  }
}
</script>

<style scoped lang="scss">
  .input-wrapper {
    position: relative;
    flex: 2 1 auto;
  }

  input[type=tel] {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  }

  .input-field {
    @include medium-small-font;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $common-ui-white;
    border: 2px solid $common-ui-light-blue;
    color: $light-ui-dark;
    margin: 5px 0 0;
    padding: 10px 0 10px 60px;
    width: 100%;
    border-radius: 4px;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::placeholder {
      color: $light-ui-very-light-gray;
       font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }
  }

  .input-error {
    border-color: $common-ui-red;

    &:focus {
      border-color: $common-ui-red;
    }
  }

  .input-label {
    @include medium-small-font;
    margin-top: 14px;
    display: block;
    text-align: left;
  }

  .error-message {
    display: flex;
    align-items: center;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      font-size: 0.8125rem;
    }

    svg {
      $size: 18px;
      width: $size;
      height: $size;
    }
  }

  .country-code {
    @include medium-small-font;
    position: absolute;
    bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    background: $common-ui-light-blue;
    padding: 8px 10px;
    border-radius: 3px 0 0 3px;

    top: 7px;
    left: 2px;
  }

  .country-input {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .country {
    margin-right: 20px;
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-small-size;

      &::placeholder {
        font-size: $font-small-size;
      }
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    .country-code {
      background: rgba($common-ui-blue, .03);
    }
  }
</style>
