<template>
  <label :class="['input-wrapper', { 'dark': $colorScheme === 'dark' }]" tabindex="0">
    <input
      type="checkbox"
      :value="value"
      @change="$emit('change', $event.target.checked)"
      :checked="value"
    />
    <span class="checkmark"></span>
  </label>
</template>

<script lang="ts">
import { Component, Model, Vue } from 'vue-property-decorator';

@Component
export default class CircularCheckbox extends Vue {
    @Model('change', { type: Boolean })
    readonly value!: boolean;
}
</script>

<style scoped lang="scss">
  .input-wrapper {
    $size: 20px;
    width: $size;
    height: $size;
    border-radius: 50%;
    display: block;
    position: relative;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;

      &:checked ~ .checkmark {
        background: $common-ui-blue;
        border: 1px solid $common-ui-blue;
      }

      &:checked ~ .checkmark::after {
        display: block;
      }
    }

    .checkmark::after {
      left: 7px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .checkmark {
    $size: 20px;
    $position: 0;
    position: absolute;
    top: $position;
    left: $position;
    height: $size;
    width: $size;
    background: $common-ui-white;
    border: 1px solid $common-ui-blue;
    border-radius: 50%;
    transition: all 0.24s;

    &::after {
      content: "";
      position: absolute;
      display: none;
    }
  }

  .dark {
  }
</style>
