<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Starter extends Vue {}
</script>

<style scoped lang="scss">
</style>
