<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <div class="arrow-wrapper arrow-wrapper-previous">
      <a
        :href="previousLink"
        aria-label="Go to previous"
        class="arrow previous"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="5.354" height="9.871"
             viewBox="0 0 5.354 9.871">
          <g id="Group_11947" data-name="Group 11947" transform="translate(-7.913 -53.129)">
            <g id="Group_11946" data-name="Group 11946" transform="translate(-575.437 -0.584)">
              <path id="Path_9347" data-name="Path 9347"
                    d="M584.4,58.648l4.168,4.168a.45.45,0,1,1-.637.636L583.5,59.021a.528.528,0,
                        0,1,0-.745l4.432-4.432a.45.45,0,0,1,.637.637Z"
                    fill="currentColor" fill-rule="evenodd"/>
            </g>
          </g>
        </svg>
      </a>
      <BaseToolTipSmall
        tip="Previous"
        pointer-position="left"
        class="tip tip-previous"
      />
    </div>

    <div class="arrow-wrapper arrow-wrapper-next">
      <a
        :href="nextLink"
        aria-label="Go to next"
        class="arrow next"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="5.354" height="9.871"
             viewBox="0 0 5.354 9.871">
          <g id="Group_11949" data-name="Group 11949" transform="translate(-45.651 -53.129)">
            <g id="Group_11948" data-name="Group 11948"
               transform="translate(634.355 -0.584) rotate(180)">
              <path id="Path_9348" data-name="Path 9348"
                    d="M584.4-58.648l4.168-4.168a.451.451,0,0,0,0-.636.45.45,0,0,0-.637,
                      0L583.5-59.021a.528.528,0,0,0,0,.745l4.432,4.432a.452.452,0,0,0,.637,0,
                      .452.452,0,0,0,0-.637Z"
                    fill="currentColor" fill-rule="evenodd"/>
            </g>
          </g>
        </svg>
      </a>
      <BaseToolTipSmall
        tip="Next"
        pointer-position="right"
        class="tip tip-next"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class ResourceListNavigator extends Vue {
  @Prop({ type: String, required: true })
  readonly previousLink!: string;

  @Prop({ type: String, required: true })
  readonly nextLink!: string;
}
</script>

<style scoped lang="scss">
  .arrow-wrapper {
    --arrow-height: 30px;
    width: fit-content;
    position: fixed;
    top: calc(50vh - var(--arrow-height) / 2);
    display: none;

    .tip {
      position: absolute;
      top: calc(50% - 20px);
      display: none;
    }

    .tip-previous {
      left: calc(100% + 10px);
    }

    .tip-next {
      right: calc(100% + 10px);
    }
  }

  .arrow-wrapper-previous {
    left: 0;

    &:hover .tip-previous {
      display: block;
    }
  }

  .arrow-wrapper-next {
    right: 0;

    &:hover .tip-next {
      display: block;
    }
  }

  .arrow {
    display: block;
    color: $common-ui-blue;
    overflow: visible;
    background: $common-ui-white;
    outline: none;
    transition: all 0.24s;

    svg {
      width: 7px;
      height: 12px;
    }

    &:hover {
      background: rgba($common-ui-blue, 0.08);
    }
  }

  .previous {
    padding: 14px 26px 14px 18px;
    border-bottom-right-radius: var(--arrow-height);
    border-top-right-radius: var(--arrow-height);
  }

  .next {
    padding: 14px 18px 14px 26px;
    border-bottom-left-radius: var(--arrow-height);
    border-top-left-radius: var(--arrow-height);
  }

  @media (min-width: 900px) {
    .arrow-wrapper {
      display: flex;
    }
  }

  .dark {
    .arrow {
      background: rgba($common-ui-blue, 0.08);

      &:hover {
        background: $dark-ui-hover;
      }
    }
  }
</style>
