<template>
  <div class="main-preloader-wrapper">
    <main
      v-if="!isLoading"
      :class="['main-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <div class="content-wrapper">
        <header class="heading-toolbar-wrapper">
          <div class="heading">
            <h1>Settings</h1>
            <span class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae ui
            </span>
          </div>

          <div class="toolbar">
          </div>
        </header>
      </div>

    </main>
    <BasePreloaderCircular v-else class="preloader"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const settingsStore = namespace('settings');

@Component
export default class Settings extends Vue {
  async created() {
    await this.fetchSettings();
    this.isLoading = false;
  }

  isLoading = true;

  @settingsStore.Action('fetchSettings')
  fetchSettings!: () => Promise<void>;
}
</script>

<style scoped lang="scss">
.main-preloader-wrapper, .main-container {
  @include main-container;
  min-height: 82vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 82vh;

  .content-wrapper {
    flex: 1 1 auto;
  }
}

.heading-toolbar-wrapper {
  @include heading-toolbar-wrapper();

  h1 {
    margin-bottom: 0;
  }
}

.preloader {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

@media (min-width: 600px) {
  .heading-toolbar-wrapper {
    flex-direction: row;
    align-items: flex-end;

    .toolbar {
      transform-origin: 100% 0;
      margin-left: auto;
      margin-right: unset;
      padding-top: unset;
    }
  }
}

@media (min-width: 900px) {
  .main-preloader-wrapper, .main-container {
    width: 900px;
  }
}

.dark {
  .heading-toolbar-wrapper {
    background: $dark-ui-background;
  }
}
</style>
