<template>
  <div :class="['child-container', { dark: $colorScheme === 'dark' }]">
    <base-section-container-box>
       <template #head>
        <div class="headline">
          <h2>Starter</h2>
        </div>
      </template>
      <template #main>
        <div class="main-content">
        </div>
      </template>
    </base-section-container-box>
  </div>
</template>

<script lang="ts">

import { Component, Vue } from 'vue-property-decorator';

@Component
export default class Starter extends Vue {}
</script>

<style scoped lang="scss">
.headline {
  @include container-headline-flexed;
}
</style>
