<template>
  <div :class="['child-container', { 'dark': $colorScheme === 'dark' }]">
  <base-destroy-confirm-modal
    @close="$emit('close')"
    execute-text="Delete"
    @destroyConfirmed="$emit('deleteNote', note)"
    @failedConfirmation="$showFeedback({ type: 'failure' })"
  >
    <template #title>Delete Note</template>
    <template #body>
      <p class="description">
        Confirm you want to delete this note.
      </p>
      <p class="note">{{ note.note }}</p>
      <span class="date">Created {{ note.creationDate | relativeTimeMinute }}</span>
    </template>
  </base-destroy-confirm-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Note } from '@/types';

@Component
export default class DeleteNoteConfirmModal extends Vue {
   @Prop({ type: Object, required: true })
   readonly note!: Note;
}
</script>

<style scoped lang="scss">
  .description {
    margin-bottom: 6px;
  }

  .note {
    margin: 0 20px 0 0;
    padding: 16px 24px;
    background: rgba($light-ui-dark, .08);
    border-radius: $container-standard-border-radius;
    width: 100%;
  }

.date {
  font-size: $font-small-size;
  color: $light-ui-light-gray
  }

.dark {}
</style>
