<template>
  <div :class="['child-container', { 'dark': $colorScheme === 'dark' }]">
    <base-simple-modal
      @close="$emit('close')"
      :cancel-action="() => { $emit('close') }"
      execute-text="Save"
      :execute-action="updateNote"
    >
      <template #title>Edit note</template>

      <template #body>
        <BaseTextArea
          field-label=""
          field-placeholder="Add internal note"
          field-id="internal-note"
          :rows="3"
          v-model="noteTextEdit"
          :error-message="noteValidity.errorMessage"
          :input-has-error="!noteValidity.isValid"
        />
      </template>
    </base-simple-modal>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { InputValidityObject, Note, UserFeedback } from '@/types';
import inputValidator, { Validator } from '@/includes/common/validators/inputValidator';

@Component
export default class EditNoteModal extends Vue {
  created() {
    this.noteTextEdit = this.note.note;
  }

  @Prop({ type: Object, required: true })
   readonly note!: Note;

  noteTextEdit = '' as Note['note'];

  noteValidity: InputValidityObject = { isValid: true, errorMessage: '' };

  updateNote() {
    this.validateNote();
    if (!this.noteValidity.isValid) {
      (this as any).$showFeedback({ type: 'failure' } as UserFeedback);
      return;
    }

    if (this.note.note === this.noteTextEdit) {
      (this as any).$showFeedback({
        type: 'success',
        title: 'Note not modified',
        description: this.noteTextEdit,
      });
      this.$emit('close');
    }
    this.$emit('updateNote', { ...this.note, note: this.noteTextEdit });
  }

  validateNote() {
    inputValidator(
      { name: 'Note', value: this.noteTextEdit },
      this.noteValidity,
      [
        { validator: Validator.NoEmpty, message: 'Note cannot be empty' },
        { validator: Validator.MaxLength, constraint: 1000 },
      ],
    );
  }
}
</script>

<style scoped lang="scss">

</style>
