<template>
  <div :class="['launcher-container', { 'dark': $colorScheme === 'dark' }]">
    <div class="menu-wrapper">
      <router-link
          :to="{ name: route.name }"
          tag="div"
          class="app-name-logo"
      >
        <img
            class="avatar"
            :src="logoSource"
            :alt="alt"
        />
        <h1>{{ name }}</h1>
      </router-link>
      <div
          @click="$emit('showOrHideAppMenu')"
          :class="['switch-app', { 'open-app-menu': isOpenAppMenuShown }]"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="15.752"
            height="15.67"
            viewBox="0 0 15.752 15.67"
        >
          <g
              id="Group_11616"
              data-name="Group 11616"
              transform="translate(-127.713 -9.499)"
          >
            <g
                id="noun_menu_1095162"
                transform="translate(127.713 9.499)"
                opacity="0.995"
            >
              <circle
                  id="Ellipse_4315"
                  data-name="Ellipse 4315"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 0)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4316"
                  data-name="Ellipse 4316"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 6.334)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4317"
                  data-name="Ellipse 4317"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(0 12.67)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4318"
                  data-name="Ellipse 4318"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(6.377 0)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4319"
                  data-name="Ellipse 4319"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(6.377 6.334)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4320"
                  data-name="Ellipse 4320"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(6.377 12.67)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4321"
                  data-name="Ellipse 4321"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(12.752 0)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4322"
                  data-name="Ellipse 4322"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(12.752 6.334)"
                  fill="#21455e"
              />
              <circle
                  id="Ellipse_4323"
                  data-name="Ellipse 4323"
                  cx="1.5"
                  cy="1.5"
                  r="1.5"
                  transform="translate(12.752 12.67)"
                  fill="#21455e"
              />
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div
        @click="$emit('showOrHideProfileMenu')"
        class="name-avatar"
        id="profile-menu-dropdown"
    >
      <div class="name">
        <span :title="fullName" :aria-label="fullName" class="full-name">
          {{ fullName }}
        </span>
        <span :title="companyName" :aria-label="companyName" class="business-name">
          {{ companyName }}
        </span>
      </div>
      <div :class="['avatar', { 'open-profile-menu': isOpenProfileMenuShown }]">
        <img :src="avatarURL" alt="User profile image" v-if="avatarURL"/>
        <div class="default-avatar" v-else>
          <svg
              xmlns="http://www.w3.org/2000/svg"
              width="39.998"
              height="39.998"
              viewBox="0 0 39.998 39.998"
          >
            <g
                id="Group_12934"
                data-name="Group 12934"
                transform="translate(-1480 -67)"
            >
              <circle
                  id="Ellipse_4183"
                  data-name="Ellipse 4183"
                  cx="17"
                  cy="17"
                  r="17"
                  transform="translate(1483 69.909)"
                  fill="#21455e"
              />
              <g id="noun_profile_1995071" transform="translate(1480 67)">
                <path
                    id="Path_9196"
                    data-name="Path 9196"
                    d="M22.5,2.5a20,20,0,1,0,20,20A20.017,20.017,0,0,0,22.5,2.5Zm0,11.452a6.273,
                  6.273,0,1,1-6.273,6.273A6.289,6.289,0,0,1,22.5,13.952ZM11.552,34.625V33.7a4.843,
                  4.843,0,0,1,4.842-4.842H28.6A4.843,4.843,0,0,1,33.446,33.7v.926a16.336,16.336,0,
                  0,1-21.894,0Z"
                    transform="translate(-2.5 -2.5)"
                    fill="#e8ecee"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { State, Getter } from 'vuex-class';
import { Component, Prop, Vue } from 'vue-property-decorator';
import { AccountInformation, BusinessInformation } from '@/types';

@Component
export default class MobileMenuLauncher extends Vue {
    @Prop({ type: String, required: true })
    readonly name!: string;

    @Prop({ type: String, required: true })
    readonly logo!: string;

    @Prop({ type: String, required: true })
    readonly alt!: string;

    @Prop({ type: Object, required: true })
    readonly route!: { name: string };

    @Prop({ type: Boolean, required: true })
    readonly isOpenAppMenuShown!: boolean;

    @Prop({ type: Boolean, required: true })
    readonly isOpenProfileMenuShown!: boolean;

    @State((state) => state.accountInformation.avatarURL)
    readonly avatarURL!: AccountInformation['avatarURL'];

    @State((state) => state.businessInformation.companyName)
    readonly companyName!: BusinessInformation['companyName'];

    @Getter('fullName')
    readonly fullName!: string;

    get logoSource() {
      /* eslint import/no-dynamic-require: 0 */
      /* eslint global-require: 0 */
      return require(`@/assets/logos/bigcommand/${this.logo}`);
    }
}
</script>

<style scoped lang="scss">
  .launcher-container {
    width: 100%;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $common-ui-white;
    margin-bottom: 16px;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.04));
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
  }

  .menu-wrapper {
    display: flex;
    align-items: center;
  }

  .app-name-logo {
    @extend .menu-wrapper;

    img {
      max-width: 40px;
    }

    h1 {
      margin: 0 12px 0 10px;
      font-size: 1.2rem;
    }
  }

  .switch-app {
    $min-size: 42px;
    min-width: $min-size;
    min-height: $min-size;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    svg {
      $size: 17px;
      width: $size;
      height: $size;
    }
  }

  .open-app-menu {
    background: $light-ui-hover;
  }

  .name-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    div {
      margin-left: 12px;
    }
  }

  .name {
    span {
      @include truncate-ellipsis;
      display: block;
      margin: 0;
      font-family: $font-medium-weight;
      font-size: $font-very-small-size;
      text-align: right;
      max-width: 140px;
    }

    .full-name {
      font-family: $font-medium-weight;
    }

    .business-name {
      @extend .full-name;
      color: rgba($light-ui-dark, .7);
    }
  }

  .avatar {
    img, svg {
      $size: 42px;
      padding: 2px;
      border: 1px solid $light-ui-dark;
      border-radius: 50%;
      width: $size;
      height: $size;
      object-fit: cover;
    }
  }

  .open-profile-menu {
    img, svg {
      border: 1px solid $common-ui-blue;
    }
  }

  .dark {
    background: $dark-ui-dark;

    .name .business-name {
      color: $dark-ui-light;
    }

    .switch-app {
      svg circle {
        fill: $common-ui-white;
      }
    }

    .open-app-menu svg circle {
      fill: $dark-ui-dark;
    }
  }
</style>
