<template>
  <transition name="slide-up" appear>
    <div :class="['utility-container', { 'dark': $colorScheme === 'dark' }]">
      <div @click="$emit('getHelp')"
           :class="['option', 'help', { opened: isHelpShown }]"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="10.061" height="18.98"
             viewBox="0 0 10.061 18.98">
          <g transform="translate(-6134.633 -7081.399)">
            <g transform="translate(6134.633 7081.399)">
              <path d="M6094.8,7092.275a.808.808,0,1,1-.811.808A.807.807,0,0,1,
            6094.8,7092.275Zm1.919-8.971a.594.594,0,0,1,.109-.091,3.71,3.71,0,
            0,0,1.765-3.273,3.919,3.919,0,1,0-7.837,0c0,.106,0,
            .213.011.317a.555.555,0,0,
            1-1.106.088c-.011-.133-.017-.27-.017-.405a5.031,5.031,0,0,1,10.061,
            0,4.8,4.8,0,0,1-2.271,4.207.4.4,0,0,1-.05.045,5.428,5.428,0,0,
            0-2.029,4.233c0,.152.005.3.019.45a.555.555,0,1,
            1-1.106.091c-.016-.178-.024-.357-.024-.541a6.533,6.533,0,0,1,
            2.445-5.1Z"
                    transform="translate(-6089.64 -7074.91)" fill="#21455e"
                    fill-rule="evenodd"/>
            </g>
          </g>
        </svg>
      </div>

      <div @click="$emit('startSearch')" class="option search"
           :class="['option', 'search', { opened: isSearchShown }]"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18.98"
            height="18.98"
            viewBox="0 0 18.98 18.98"
        >
          <path
              d="M31.242,30.451a.559.559,0,0,1-.79.79L26.312,27.1a8.374,8.374,0,
        1,1,.789-.789ZM28.055,20.8A7.257,7.257,0,1,0,20.8,28.055,7.257,
        7.257,0,0,0,28.055,20.8Z"
              transform="translate(-12.425 -12.425)"
              fill="#21455e"
          />
        </svg>
      </div>

      <div @click="$emit('showMessages')"
           :class="['option', 'message', { opened: isMessagesShown }]"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18.457"
            height="18.227"
            viewBox="0 0 18.457 18.227"
        >
          <path
              id="Subtraction_7"
              data-name="Subtraction 7"
              d="M17674.113-21375.916a9.123,9.123,0,0,0-9.113,9.113,9.123,9.123,0,0,0,9.113,
            9.113H17683a.453.453,0,0,0,.42-.279.454.454,0,0,0-.1-.494l-2.344-2.346a9.07,9.07,
            0,0,0,2.246-5.992A9.124,9.124,0,0,0,17674.113-21375.916Zm0,17.318a8.215,8.215,0,0,
            1-8.205-8.205,8.214,8.214,0,0,1,8.205-8.2,8.214,8.214,0,0,1,8.205,8.2,8.166,8.166,0,
            0,1-2.289,5.686h0l0,0,0,0c-.016.014-.02.033-.031.049a.478.478,0,0,
            0-.066.1c-.008.02-.006.041-.012.061a.426.426,0,0,0-.018.109.43.43,0,0,
            0,.014.072.541.541,0,0,0,.02.1.685.685,0,0,0,.053.078.515.515,0,0,0,
            .045.068l.006.006v0h0l1.871,1.869Z"
              transform="translate(-17665 21375.916)"
              fill="#21455e"
          />
        </svg>
        <div>
          <span>{{ unreadMessageCount }}</span>
        </div>
      </div>

      <div @click="$emit('showNotifications')"
           :class="['option', 'notify', { opened: isNotificationsShown }]"
      >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18.987"
            height="22.783"
            viewBox="0 0 18.987 22.783"
        >
          <g id="Group_15568" data-name="Group 15568" transform="translate(0)">
            <path
                id="Subtraction_6"
                data-name="Subtraction 6"
                d="M18.919,15.894l-1.631-2.717a8.076,8.076,0,0,1-1.15-4.152V6.645a6.645,6.645,0,
              1,0-13.29,0v2.38A8.076,8.076,0,0,1,1.7,13.177L.068,15.894a.474.474,0,0,0,
              .407.719H18.512a.474.474,0,0,0,.407-.719ZM1.313,15.664l1.2-2A9.017,9.017,0,0,
              0,3.8,9.025V6.645a5.7,5.7,0,1,1,11.392,0v2.38a9.025,9.025,0,0,0,1.284,4.64l1.2,2Z"
                transform="translate(0 3.323)"
                fill="#21455e"
            />
            <g id="notification" transform="translate(7.121)">
              <g
                  id="Group_1404"
                  data-name="Group 1404"
                  transform="translate(0.475)"
              >
                <g
                    id="Group_1403"
                    data-name="Group 1403"
                    transform="translate(0)"
                >
                  <path
                      id="Path_2226"
                      data-name="Path 2226"
                      d="M215.232,0a1.9,1.9,0,0,0-1.9,1.9V3.8a.475.475,0,0,0,.949,0V1.9a.949.949,
                    0,0,1,1.9,0V3.8a.475.475,0,0,0,.949,0V1.9A1.9,1.9,0,0,0,215.232,0Z"
                      transform="translate(-213.333)"
                      fill="#21455e"
                  />
                </g>
              </g>
              <g
                  id="Group_1406"
                  data-name="Group 1406"
                  transform="translate(0 18.987)"
              >
                <g id="Group_1405" data-name="Group 1405">
                  <path
                      id="Path_2227"
                      data-name="Path 2227"
                      d="M207.094,426.913a.475.475,0,1,0-.82.48,1.424,1.424,0,1,1-2.466,0,.475.475,
                    0,1,0-.82-.48,2.374,2.374,0,1,0,4.107,0Z"
                      transform="translate(-202.666 -426.68)"
                      fill="#21455e"
                  />
                </g>
              </g>
            </g>
          </g>
        </svg>
        <div>
          <span>{{ unreadNotificationCount }}</span>
        </div>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component
export default class MobileAccountUtilities extends Vue {
    @Prop({ type: Boolean, required: true })
    readonly isHelpShown!: boolean;

    @Prop({ type: Boolean, required: true })
    readonly isSearchShown!: boolean;

    @Prop({ type: Boolean, required: true })
    readonly isMessagesShown!: boolean;

    @Prop({ type: Boolean, required: true })
    readonly isNotificationsShown!: boolean;

    mounted() {
      document.body.style.overflow = 'hidden';
    }

    destroyed() {
      document.body.style.overflow = 'visible';
    }

    // TODO: Get from db
    unreadMessageCount = 3;

    unreadNotificationCount = 2;
}
</script>

<style scoped lang="scss">
  .utility-container {
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    background: $common-ui-white;
    margin-bottom: 16px;

    .option {
      $size: 42px;
      min-width: $size;
      min-height: $size;
      margin: 0 18px;
      position: relative;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s;

      &:hover {
        background: $light-ui-hover;
      }
    }

    .opened {
      background: $light-ui-hover;
    }

    .notify, .message {
      div {
        $size: 14px;
        $position: 6px;
        width: $size;
        height: $size;
        position: absolute;
        top: $position;
        right: $position;
        border-radius: 50%;
        background: $common-ui-red;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.6rem;
        color: $common-ui-white;
        border: 1px solid $common-ui-white;
      }
    }
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 0.3s;
  }

  .slide-up-enter,
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(16px);
  }

  .dark {
    .option {
      &:hover {
        background: $dark-ui-hover;
      }

      svg path {
        fill: $common-ui-white;
      }
    }

    .opened {
      background: $dark-ui-hover;
    }
  }
</style>
