<template>
     <transition name="slide-up" appear>
        <div
            role="navigation"
            aria-label="Primary navigation"
            :class="['navigator-container', { 'dark': $colorScheme === 'dark' }]"
        >
          <div v-for="(link, index) in links" :key="link.name" class="nav-wrapper">
            <div @click="showOptionsOrNavigate(index)" class="main-nav-item">
              <div
                v-if="isActiveMainNav(link.route)"
                class="rounded"
              ></div>
              <span
                :class="['main-nav',
                { 'active-main': isActiveMainNav(link.route) }
                ]"
              >{{ link.name }}
              </span>
              <div v-if="link.children.length > 0" class="arrow-wrapper">
                <svg
                  :class="['dropdown', { 'rotate-dropdown': link.isChildMenuShown }]"
                  xmlns="http://www.w3.org/2000/svg"
                  width="9.709"
                  height="5.395"
                  viewBox="0 0 9.709 5.395"
                >
                  <path
                    id="Path_2500"
                    data-name="Path 2500"
                    d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,
                    33.5a.328.328,0,1,0-.463.463L10.8,38.267a.32.32,0,0,0,
                    .232.1.334.334,0,0,0,.232-.1l4.307-4.307A.321.321,0,0,0,15.582,33.5Z"
                    transform="translate(-6.168 -33.168)"
                    fill="#21455e"
                    stroke="#21455e"
                    stroke-width="0.4"
                  />
                </svg>
              </div>
            </div>

            <nav
              v-if="link.children.length > 0 && link.isChildMenuShown"
              @click="$emit('navigating')"
              role="navigation"
              aria-label="Secondary navigation"
              class="child-nav-wrapper"
            >
              <router-link
                v-for="nav in link.children"
                :key="nav.name"
                :to="{ name: nav.route }"
                class="child-nav"
              >{{ nav.name }}
              </router-link>
            </nav>
          </div>
        </div>
     </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { InternalNavRoute } from '@/types';

type NestedRoute = InternalNavRoute & {
  isChildMenuShown: boolean;
  children: InternalNavRoute[];
}

@Component
export default class MobileHeaderNavigationLink extends Vue {
  @Prop({ type: Array, required: true })
  readonly links!: NestedRoute[];

  showOptionsOrNavigate(index: number) {
    const clickedLink = this.links[index];
    const otherLinks = this.links.filter((link) => link.name !== clickedLink.name);
    if (clickedLink.children.length > 0) {
      /* eslint no-restricted-syntax: 0 */
      for (const link of otherLinks) {
        link.isChildMenuShown = false;
      }
      clickedLink.isChildMenuShown = !clickedLink.isChildMenuShown;
    } else {
      this.$emit('navigating');
      this.$router.push({ name: clickedLink.route });
    }
  }

  isActiveMainNav(route: InternalNavRoute['route']) {
    const mainPath = this.$router.resolve({ name: route });
    return this.$route.path.indexOf(mainPath.href) !== -1;
  }
}
</script>

<style scoped lang="scss">
  .navigator-container {
    width: 100%;
    padding: 24px;
    border-radius: 18px;
    background: $common-ui-white;
    margin-bottom: 16px;

    a:link, a:visited, span {
      color: $light-ui-dark;
      text-decoration: none;
      cursor: pointer;
    }

    & > * :not(:only-child) {
      margin-bottom: 10px;
    }
  }

  .main-nav-item {
    display: flex;
    align-items: baseline;

    .main-nav {
      display: block;
      margin: 8px 22px;
      @include medium-small-font;
      font-size: $font-root-element-size;
    }

    .arrow-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .rotate-dropdown {
      transform: scaleY(-1);
    }

    .rounded {
      $size: 8px;
      width: $size;
      height: $size;
      border-radius: 50%;
      background: $light-ui-dark;
    }

    .active-main {
      margin-left: 14px;
    }
  }

  .child-nav-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-top: 8px;

    .child-nav {
      display: block;
      margin: 6px 0 6px 14px;
    }

    .active-link {
      @include medium-small-font;
      font-size: $font-root-element-size;
    }
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 0.37s;
  }

  .slide-up-enter,
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(16px);
  }

  .dark {
    background: $dark-ui-dark;

    a:link, a:visited, span {
      color: $common-ui-white;
    }

    .main-nav-item .rounded {
      background: $common-ui-white;
    }

    .arrow-wrapper svg path {
      fill: $common-ui-white;
      stroke: $common-ui-white;
    }
  }
</style>
