<template>
     <transition name="slide-up" appear>
    <div :class="['switcher-container', { 'dark': $colorScheme === 'dark' }]">
    <BaseSingleApp
      v-for="app in bigCommandApps"
      :key="app.name"
      :name="app.name"
      :logo="app.logo"
      :alt="app.alt"
      :route="app.route"
      :link="app.link"
      @click.native="updateRecentApps(app.id)"
    />
  </div>
     </transition>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { BigCommandApp } from '@/types';
import bigCommandApps from '@/includes/common/bigCommandApps';
import BigCommandAppService from '@/services/common/BigCommandAppService';

@Component
export default class MobileAppSwitcher extends Vue {
  readonly bigCommandApps = bigCommandApps;

  updateRecentApps(id: BigCommandApp['id']) {
    BigCommandAppService.updateRecentApps(id);
  }
}
</script>

<style scoped lang="scss">
  .switcher-container {
    width: 100%;
    padding: 24px;
    border-radius: 18px;
    background: $common-ui-white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
    grid-gap: 12px;
    margin: 0 auto;
  }

  .slide-up-enter-active,
  .slide-up-leave-active {
    transition: all 0.47s;
  }

  .slide-up-enter,
  .slide-up-leave-to {
    opacity: 0;
    transform: translateY(16px);
  }

  .dark {}
</style>
