<template>
  <div :class="['nav-container', { dark: $colorScheme === 'dark' }]">
    <nav role="navigation" aria-label="Primary navigation" class="nav-links">
      <router-link
        v-for="link in linkArray"
        :key="link.name"
        :to="{ name: link.route }"
        class="nav"
      >{{ link.name }}
      </router-link>

      <div
        v-click-outside
        @click="isHelpShown = !isHelpShown"
        :class="['nav help', { 'help-opened': isHelpShown }]"
      >Help
      </div>

      <div v-if="isHelpShown" class="menu help-menu">
        <AppHelp/>
      </div>

      <div @click="isSearchShown = true" class="search">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="18.98"
            height="18.98"
            viewBox="0 0 18.98 18.98"
        >
          <path
              d="M31.242,30.451a.559.559,0,0,1-.79.79L26.312,27.1a8.374,8.374,0,
        1,1,.789-.789ZM28.055,20.8A7.257,7.257,0,1,0,20.8,28.055,7.257,
        7.257,0,0,0,28.055,20.8Z"
              transform="translate(-12.425 -12.425)"
              fill="#21455e"
          />
        </svg>
      </div>
      <div v-if="isSearchShown" class="menu search-menu">
        <AppSearch @close="isSearchShown = false"/>
      </div>
    </nav>

  </div>
</template>

<script lang="ts">

import { Component, Prop, Vue } from 'vue-property-decorator';
import { State } from 'vuex-class';
import { InternalNavRoute } from '@/types';
import AppHelp from '@/components/common/appUtils/AppHelp.vue';
import ClosableMenuObserver from '@/includes/common/observers/ClosableMenuObserver';
import AppSearch from '@/components/common/appUtils/AppSearch.vue';

@Component({ components: { AppSearch, AppHelp } })
export default class TheAppNavigationLink extends Vue {
  @Prop({ type: Array, required: true })
  readonly linkArray!: InternalNavRoute[];

  @State((state) => state.settings.isShortcutsModalShown)
  readonly isShortcutsModalShown!: boolean;

  mounted() {
    ClosableMenuObserver.subscribe('isHelpShown');
  }

  destroyed() {
    ClosableMenuObserver.unsubscribe('isHelpShown');
  }

  isHelpShown = false;

  isSearchShown = false;
}
</script>

<style scoped lang="scss">
  .nav-links {
    display: flex;
    align-items: center;
    height: 64px;
    position: relative;

    & > * {
      cursor: pointer;
      position: relative;
      height: 100%;
      font: {
        family: $font-medium-weight;
        weight: normal;
      }
    }

    .nav {
      margin-right: 40px;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        position: absolute;
        opacity: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        width: 100%;
        background: $common-ui-blue;
        transition: all 0.2s;
      }
    }

    .help {
      margin-right: 30px;
    }
  }

  .nav {
    text-decoration: none;
    color: $light-ui-dark;

    &:hover {
      &::before {
        height: 3px;
        opacity: 1;
        bottom: 0;
        border-radius: 8px 8px 0 0;
      }
    }
  }

  .active-link {
    color: $common-ui-blue;

    &:hover {
      &::before {
        content: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      height: 3px;
      bottom: 0;
      left: 0;
      width: 100%;
      border-radius: 8px 8px 0 0;
      background: $common-ui-blue;
    }
  }

  .help-opened {
    @extend .active-link;
    color: $light-ui-dark;
  }

  .nav:hover {
    &::before {
      height: 3px;
      opacity: 1;
      bottom: 0;
      border-radius: 8px 8px 0 0;
    }
  }

  .search {
    $min-size: 42px;
    width: $min-size;
    height: $min-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;

    svg {
      $size: 17px;
      width: $size;
      height: $size;
    }

    &:hover {
      background: $light-ui-hover;
    }
  }

  .settings {
    position: relative;
  }

  .dropdown {
    position: absolute;
    top: 60px;
    right: -100px;
    z-index: 4;
  }

  .help-menu {
    position: absolute;
    top: 80px;
    right: -144px;
  }

  .dark {
    .nav {
      color: $dark-ui-light;
    }

    .active-link {
      color: $common-ui-white;
    }

    .search {
      &:hover {
        background: $dark-ui-hover;
      }

      svg path {
        fill: $common-ui-white;
      }
    }
  }
</style>
