<template>
  <div :class="['navigator-container', { 'dark': $colorScheme === 'dark' }]">
    <router-link
      :to="{ name: route.name }"
      class="app-name-logo"
    >
      <img
        class="avatar"
        :src="logoSource"
        :alt="alt"
      />
      <h1>{{ name }}</h1>
    </router-link>
    <div v-click-outside>
      <button
        onclick="this.blur()"
        @click="isMenuShown = !isMenuShown"
        :class="['switch-app', { 'open-menu': isMenuShown }]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="15.752"
          height="15.67"
          viewBox="0 0 15.752 15.67"
        >
          <g
            id="Group_11616"
            data-name="Group 11616"
            transform="translate(-127.713 -9.499)"
          >
            <g
              id="noun_menu_1095162"
              transform="translate(127.713 9.499)"
              opacity="0.995"
            >
              <circle
                id="Ellipse_4315"
                data-name="Ellipse 4315"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 0)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4316"
                data-name="Ellipse 4316"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 6.334)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4317"
                data-name="Ellipse 4317"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(0 12.67)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4318"
                data-name="Ellipse 4318"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(6.377 0)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4319"
                data-name="Ellipse 4319"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(6.377 6.334)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4320"
                data-name="Ellipse 4320"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(6.377 12.67)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4321"
                data-name="Ellipse 4321"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12.752 0)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4322"
                data-name="Ellipse 4322"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12.752 6.334)"
                fill="#21455e"
              />
              <circle
                id="Ellipse_4323"
                data-name="Ellipse 4323"
                cx="1.5"
                cy="1.5"
                r="1.5"
                transform="translate(12.752 12.67)"
                fill="#21455e"
              />
            </g>
          </g>
        </svg>
      </button>
      <transition name="zoom-slide" appear>
        <TheHeaderAppDrawer v-if="isMenuShown" class="app-drawer"/>
      </transition>
    </div>
  </div>
</template>
<script lang="ts">
/* eslint import/no-dynamic-require: 0 */
/* eslint global-require: 0 */
import { Component, Prop, Vue } from 'vue-property-decorator';
import { InternalNavRoute } from '@/types';
import TheHeaderAppDrawer from './TheHeaderAppDrawer.vue';

@Component({ components: { TheHeaderAppDrawer } })
export default class TheHeaderAppNavigator extends Vue {
  @Prop({ type: String, required: true })
  readonly name!: string;

  @Prop({ type: String, required: true })
  readonly logo!: string;

  @Prop({ type: String, required: true })
  readonly alt!: string;

  @Prop({ type: Object, required: true })
  readonly route!: InternalNavRoute;

  isMenuShown = false;

  get logoSource() {
    return require(`@/assets/logos/bigcommand/${this.logo}`);
  }

  mounted() {
    document.addEventListener('keyup', this.escapeCloseDrawer);
  }

  destroyed() {
    document.removeEventListener('keyup', this.escapeCloseDrawer);
  }

  escapeCloseDrawer(event: KeyboardEvent) {
    if (event.key === 'Escape') {
      this.isMenuShown = false;

      // Compatibility with old browsers (IE) that don't support event.key.
    } else if (event.keyCode === 27) {
      this.isMenuShown = false;
    }
  }
}
</script>

<style scoped lang="scss">
  .navigator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    .app-name-logo {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: $light-ui-dark;
    }

    h1 {
      font-size: 1.3rem;
      margin: 0 10px;
    }

    .avatar {
      $size: 42px;
      width: $size;
      height: $size;
    }
  }

  .switch-app {
    @include focus-highlight;
    $min-size: 42px;
    min-width: $min-size;
    min-height: $min-size;
    margin: 0 4px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.24s;

    svg {
      $size: 17px;
      width: $size;
      height: $size;
    }

    &:hover {
      background: $light-ui-hover;
    }
  }

  .open-menu {
    background: $light-ui-hover;
  }

  .app-drawer {
    position: absolute;
    top: 50px;
    left: 0;
    transform-origin: 36% 0;
  }

  .zoom-slide-enter-active,
  .zoom-slide-leave-active {
    transition: all 0.1s;
  }

  .zoom-slide-enter,
  .zoom-slide-leave-to {
    opacity: 0;
    transform: translateY(-2px) scale(0.9);
  }

  @media (min-width: 700px) {
    .navigator-container h1 {
      font-size: 1.5rem;
      margin: 0 20px;
    }
  }

  .dark {
    .navigator-container .app-name-logo {
      color: $common-ui-white;
    }

    .switch-app {
      svg circle {
        fill: $common-ui-white;
      }

      &:hover svg circle {
        fill: $dark-ui-dark;
      }
    }

    .open-menu svg circle {
      fill: $dark-ui-dark;
    }
  }
</style>
