<template>
  <transition name="zoom-slide" appear>
    <div
      data-header="profile-dropdown"
      :class="['menu-container', { 'dark': $colorScheme === 'dark' }]"
    >
      <a
        :href="accountInformationURL"
        class="account">
        <button>My Account</button>
      </a>
      <div id="top-line"></div>

      <div class="blog">
        <svg
          class="link-icon"
          id="Group_8903"
          data-name="Group 8903"
          xmlns="http://www.w3.org/2000/svg"
          width="28.3"
          height="28.3"
          viewBox="0 0 28.3 28.3"
        >
          <rect
            id="Rectangle_1401"
            data-name="Rectangle 1401"
            width="28.3"
            height="28.3"
            rx="14.15"
            fill="#F6F7F9"
            opacity="1"
          />
          <g id="noun_article_1726639" transform="translate(8.872 7.808)">
            <g
              id="Group_8745"
              data-name="Group 8745"
              transform="translate(0 0)"
            >
              <g
                id="Group_8744"
                data-name="Group 8744"
                transform="translate(0 0)"
              >
                <g
                  id="Group_8743"
                  data-name="Group 8743"
                  transform="translate(0)"
                >
                  <g id="Group_8737" data-name="Group 8737">
                    <path
                      id="Path_8268"
                      data-name="Path 8268"
                      d="M23.68,20.875H16.235A1.441,1.441,0,0,1,14.8,19.44V8.935A1.441,1.441,
                      0,0,1,16.235,7.5h4.7l4.2,4.2V19.44A1.465,1.465,0,0,1,23.68,20.875ZM16.235,
                      8.068a.865.865,0,0,0-.867.867v10.5a.865.865,0,0,0,.867.867H23.68a.865.865,
                      0,0,0,.867-.867V11.932L20.683,8.068Z"
                      transform="translate(-14.8 -7.5)"
                      fill="#21455e"
                    />
                  </g>
                  <g
                    id="Group_8738"
                    data-name="Group 8738"
                    transform="translate(6.309 1.388)"
                  >
                    <path
                      id="Path_8269"
                      data-name="Path 8269"
                      d="M54.8,16.3v2.445a.182.182,0,0,0,.189.189h2.445Z"
                      transform="translate(-54.8 -16.3)"
                      fill="#21455e"
                    />
                  </g>
                  <g
                    id="Group_8739"
                    data-name="Group 8739"
                    transform="translate(1.719 4.211)"
                  >
                    <path
                      id="Path_8270"
                      data-name="Path 8270"
                      d="M25.984,34.2H27.7a.283.283,0,0,1,.284.284h0a.283.283,0,0,
                      1-.284.284H25.984a.283.283,0,0,1-.284-.284h0A.283.283,0,0,1,25.984,34.2Z"
                      transform="translate(-25.7 -34.2)"
                      fill="#21455e"
                    />
                  </g>
                  <g
                    id="Group_8740"
                    data-name="Group 8740"
                    transform="translate(1.719 6.687)"
                  >
                    <path
                      id="Path_8271"
                      data-name="Path 8271"
                      d="M25.984,49.9h2.871a.283.283,0,0,1,.284.284h0a.283.283,0,0,
                      1-.284.284H25.984a.283.283,0,0,1-.284-.284h0A.283.283,0,0,1,25.984,49.9Z"
                      transform="translate(-25.7 -49.9)"
                      fill="#21455e"
                    />
                  </g>
                  <g
                    id="Group_8741"
                    data-name="Group 8741"
                    transform="translate(1.719 8.028)"
                  >
                    <path
                      id="Path_8272"
                      data-name="Path 8272"
                      d="M25.984,58.4H27.7a.283.283,0,0,1,.284.284h0a.283.283,0,0,
                      1-.284.284H25.984a.283.283,0,0,1-.284-.284h0A.283.283,0,0,1,25.984,58.4Z"
                      transform="translate(-25.7 -58.4)"
                      fill="#21455e"
                    />
                  </g>
                  <g
                    id="Group_8742"
                    data-name="Group 8742"
                    transform="translate(1.719 9.369)"
                  >
                    <path
                      id="Path_8273"
                      data-name="Path 8273"
                      d="M25.984,66.9h5.158a.283.283,0,0,1,.284.284h0a.283.283,0,0,
                      1-.284.284H25.984a.283.283,0,0,1-.284-.284h0A.283.283,0,0,1,25.984,66.9Z"
                      transform="translate(-25.7 -66.9)"
                      fill="#21455e"
                    />
                  </g>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <a :href="blogURL">BigCommand Blog</a>
      </div>
      <div v-if="accountInformation.isOwner" class="billing">
        <svg
          class="link-icon"
          id="Group_8909"
          data-name="Group 8909"
          xmlns="http://www.w3.org/2000/svg"
          width="28.3"
          height="28.3"
          viewBox="0 0 28.3 28.3"
        >
          <rect
            id="Rectangle_1401"
            data-name="Rectangle 1401"
            width="28.3"
            height="28.3"
            rx="14.15"
            fill="#F6F7F9"
            opacity="1"
          />
          <g
            id="Group_8910"
            data-name="Group 8910"
            transform="translate(7.548 7.803)"
          >
            <path
              id="Path_8308"
              data-name="Path 8308"
              d="M20.954,13.728a8.6,8.6,0,0,0-6.341,3.107.37.37,0,0,0,.547.5,7.882,7.882,
              0,0,1,5.807-2.866,7.882,7.882,0,0,1,5.806,2.866.37.37,0,1,0,.547-.5,8.6,
              8.6,0,0,0-6.343-3.107"
              transform="translate(-14.517 -13.728)"
              fill="#21455e"
            />
            <path
              id="Path_8310"
              data-name="Path 8310"
              d="M39.666,42.947a.366.366,0,0,0,.366-.366v-6.01L41.5,38.035a.372.372,0,0,
              0,.539,0,.35.35,0,0,0,0-.52l-2.1-2.1a.35.35,0,0,0-.52,0l-2.1,2.08a.368.368,
              0,1,0,.52.52L39.3,36.552v6.01A.359.359,0,0,0,39.666,42.947Z"
              transform="translate(-33.347 -30.985)"
              fill="#21455e"
            />
          </g>
        </svg>
        <a :href="billingDashboardURL">Billing & Upgrade</a>
      </div>

      <div id="center-line"></div>

      <div class="scheme">
        <svg v-if="accountInformation.colorScheme === 'light'"
             id="Group_8909" data-name="Group 8909"
             xmlns="http://www.w3.org/2000/svg" width="28.3"
             height="28.3" viewBox="0 0 28.3 28.3">
          <rect id="Rectangle_1401" data-name="Rectangle 1401" width="28.3" height="28.3" rx="14.15"
                fill="#21455e" opacity="0.04"/>
          <g id="_x31_199_x2C__Day_x2C__Sun_x2C__Sunny" transform="translate(-14.127 -13.762)">
            <g id="Group_15714" data-name="Group 15714" transform="translate(20 20)">
              <path id="Path_9985" data-name="Path 9985"
                    d="M115.059,110a5.059,5.059,0,1,0,5.059,5.059A5.064,5.064,0,0,0,115.059,110Zm0,
                    9.443a4.384,4.384,0,1,1,4.384-4.384A4.389,4.389,0,0,1,115.059,119.443Z"
                    transform="translate(-106.965 -106.965)" fill="#21455e"/>
              <path id="Path_9986" data-name="Path 9986"
                    d="M163.035,160a2.935,2.935,0,0,0-2.16,1.1,3.2,3.2,0,0,0-.875,1.938.337.337,0,
                    0,0,.674,0,2.779,2.779,0,0,1,2.361-2.361.337.337,0,0,0,0-.674Z"
                    transform="translate(-155.279 -155.279)" fill="#21455e"/>
              <path id="Path_9987" data-name="Path 9987"
                    d="M250.337,22.361a.337.337,0,0,0,.337-.337V20.337a.337.337,0,0,0-.674,
                    0v1.686A.337.337,0,0,0,250.337,22.361Z"
                    transform="translate(-242.243 -20)" fill="#21455e"/>
              <path id="Path_9988" data-name="Path 9988"
                    d="M250.337,430a.337.337,0,0,0-.337.337v1.686a.337.337,0,1,0,.674,
                    0v-1.686A.337.337,0,0,0,250.337,430Z"
                    transform="translate(-242.243 -416.173)" fill="#21455e"/>
              <path id="Path_9989" data-name="Path 9989"
                    d="M377.855,89.133l1.192-1.192a.337.337,0,0,0-.477-.477l-1.192,1.192a.337.337,
                    0,0,0,.477.477Z"
                    transform="translate(-365.23 -85.093)" fill="#21455e"/>
              <path id="Path_9990" data-name="Path 9990"
                    d="M88.657,377.379l-1.192,1.192a.337.337,0,1,0,.477.477l1.192-1.192a.337.337,
                    0,0,0-.477-.477Z"
                    transform="translate(-85.094 -365.231)" fill="#21455e"/>
              <path id="Path_9991" data-name="Path 9991"
                    d="M432.023,250h-1.686a.337.337,0,0,0,0,.674h1.686a.337.337,0,1,0,0-.674Z"
                    transform="translate(-416.173 -242.243)" fill="#21455e"/>
              <path id="Path_9992" data-name="Path 9992"
                    d="M22.023,250H20.337a.337.337,0,0,0,0,.674h1.686a.337.337,0,0,0,0-.674Z"
                    transform="translate(-20 -242.243)" fill="#21455e"/>
              <path id="Path_9993" data-name="Path 9993"
                    d="M377.855,377.379a.337.337,0,0,0-.477.477l1.192,1.192a.337.337,0,1,0,
                    .477-.477Z"
                    transform="translate(-365.23 -365.231)" fill="#21455e"/>
              <path id="Path_9994" data-name="Path 9994"
                    d="M88.657,89.133a.337.337,0,0,0,.477-.477l-1.192-1.192a.337.337,0,0,
                    0-.477.477Z"
                    transform="translate(-85.094 -85.093)" fill="#21455e"/>
            </g>
          </g>
        </svg>
        <svg v-else xmlns="http://www.w3.org/2000/svg" width="28.3" height="28.3"
             viewBox="0 0 28.3 28.3">
          <g id="Group_15715" data-name="Group 15715" transform="translate(0.127)">
            <rect id="Rectangle_1401" data-name="Rectangle 1401" width="28.3" height="28.3"
                  rx="14.15" transform="translate(-0.127)" fill="#032631"/>
            <g id="sleep" transform="translate(5.873 -6.158)">
              <g id="Group_15722" data-name="Group 15722" transform="translate(0 12.158)">
                <g id="Group_15721" data-name="Group 15721" transform="translate(0 0)">
                  <path id="Path_9998" data-name="Path 9998"
                        d="M15.826,23a.358.358,0,0,0-.394-.082,7.607,7.607,0,0,
                        1-9.8-10.246.358.358,0,0,0-.462-.483A8.33,8.33,0,1,0,15.89,23.4.358.358,0,0,
                        0,15.826,23ZM8.337,27.511A7.618,7.618,0,0,1,4.63,13.239a8.211,8.211,0,0,
                        0-.43,2.632,8.334,8.334,0,0,0,10.615,8.015A7.646,7.646,0,0,1,8.337,27.511Z"
                        transform="translate(0 -12.158)" fill="#fff"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
        <span class="no-link">Color Scheme</span>
        <div class="switch">
          <ColorSchemeSwitch
            :value="newColorScheme === 'light'"
            @change="changeColorScheme($event)"
          />
        </div>
      </div>

      <div id="bottom-line"></div>

      <div
        @click="signOut"
        class="sign-out"
        data-header="sign-out"
      >
        <svg
          class="link-icon"
          id="Group_8906"
          data-name="Group 8906"
          xmlns="http://www.w3.org/2000/svg"
          width="28.3"
          height="28.3"
          viewBox="0 0 28.3 28.3"
        >
          <rect
            id="Rectangle_1401"
            data-name="Rectangle 1401"
            width="28.3"
            height="28.3"
            rx="14.15"
            fill="#F6F7F9"
            opacity="1"
          />
          <g id="noun_logout_1350619" transform="translate(7.589 9.026)">
            <g
              id="Group_8905"
              data-name="Group 8905"
              transform="translate(0 0)"
            >
              <g id="Group_8904" data-name="Group 8904">
                <path
                  id="Path_8307"
                  data-name="Path 8307"
                  d="M4.4,11.981a.29.29,0,0,0,.3-.281V1.257c0-.153-.093-.192-.208-.082L.506,
                  4.974c-.277.264-.691-.132-.415-.4L4.778.082a.3.3,0,0,1,.415,0l4.7,
                  4.5c.277.264-.138.659-.415.4l-3.983-3.8c-.116-.111-.208-.073-.208.082V11.
                  7a.288.288,0,0,0,.3.281H9.689a.28.28,0,1,1,0,.559H.294a.28.28,0,1,1,0-.559Z"
                  transform="translate(12.54) rotate(90)"
                  fill="#21455e"
                  stroke="#21455e"
                  stroke-width="0.3"
                  fill-rule="evenodd"
                />
              </g>
            </g>
          </g>
        </svg>
        <a href="">Sign Out</a>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Action } from 'vuex-class';
import { AccountInformation } from '@/types';
import { vInstance } from '@/includes/common/vue/initializeVueApp';
import ColorSchemeSwitch from '@/components/common/colorScheme/ColorSchemeSwitch.vue';

@Component({ components: { ColorSchemeSwitch } })
export default class TheHeaderProfileDropdown extends Vue {
    @State readonly accountInformation!: AccountInformation;

    newColorScheme = '';

    readonly blogURL = 'https://blog.bigcommand.com/';

    readonly signinURL = 'https://account.bigcommand.com/signin/';

    readonly accountInformationURL = 'https://account.bigcommand.com/settings/';

    readonly billingDashboardURL = 'https://account.bigcommand.com/settings/billing/';

    mounted() {
      this.newColorScheme = this.accountInformation.colorScheme;
    }

    async signOut() {
      await this.$store.dispatch('authentication/signOut');
      /* eslint no-restricted-globals: 0 */
      location.assign(this.signinURL);
    }

    changeColorScheme(isLight: string) {
      const color = isLight ? 'light' : 'dark';
      this.updateColorScheme(color);
      vInstance.prototype.$colorScheme = color;

      /* eslint @typescript-eslint/ban-ts-ignore:0 */
      // @ts-ignore
      (this as any).$showFeedback({
        type: 'success',
        title: 'Color scheme changed',
        description: `New scheme: ${isLight ? 'light' : 'dark'}`,
      });
    }

    @Action updateColorScheme!: (newColorScheme: 'light' | 'dark') => void;
}
</script>

<style scoped lang="scss">
  .menu-container {
    min-width: 264px;
    background: $common-ui-white;
    box-shadow: $common-ui-blue-spread-shadow;
    border-radius: $container-standard-border-radius;
    z-index: 4;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    transform-origin: 100% 0;

    &::before {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      right: 16px;
      top: -6px;
    }
  }

  #top-line {
    width: 100%;
    height: 0;
    margin-bottom: 8px;
    border-top: 1px solid #ebf9fa;
  }

  #bottom-line {
    @extend #top-line;
    margin: 8px 0;
  }

  #center-line {
    @extend #top-line;
    margin: 8px 0;
  }

  .account {
    align-self: center;

    button {
      @include medium-small-font;
      color: $common-ui-blue;
      cursor: pointer;
      padding: 8px 24px;
      margin: 24px 20px 20px;
      text-align: center;
      background: $common-ui-white;
      border: 1px solid $common-ui-blue;
      border-radius: 24px;
      transition: all 0.24s;

      &:hover {
        background: $common-ui-blue;
        color: $common-ui-white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .blog,
  .billing,
  .scheme,
  .sign-out {
    display: flex;
    align-items: center;
    margin: 6px 14px 3px;
    padding: 4px 18px 4px 4px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.24s;

    &:last-child {
      margin-bottom: 15px;
    }

    &:hover {
      background: $light-ui-hover;
    }

    a, .no-link {
      margin-left: 16px;
      text-decoration: none;
      color: $light-ui-dark;
    }

    svg {
      $size: 28px;
      width: $size;
      height: $size;
    }
  }

  .scheme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    width: 240px;

    &:hover {
      background: $common-ui-white;
    }

    .switch {
      margin-left: auto;
      margin-right: 16px;
    }
  }

  .zoom-slide-enter-active,
  .zoom-slide-leave-active {
    transition: all 0.1s;
  }

  .zoom-slide-enter,
  .zoom-slide-leave-to {
    opacity: 0;
    transform: translateY(-2px) scale(0.9);
  }

  .dark {
    .menu-container {
      background: $dark-ui-dark;
      box-shadow: $common-ui-dark-spread-shadow;

      &::before {
        background: $dark-ui-dark;
      }
    }

    #top-line {
      border-color: rgba($dark-ui-light, 0.1);
    }

    .blog,
    .billing,
    .scheme,
    .sign-out {

      &:hover {
        background: $dark-ui-hover;
      }

      a, .no-link {
        color: $common-ui-white;
      }
    }

    .link-icon {
      rect {
        fill: $dark-ui-hover;
      }

      path {
        fill: $common-ui-white;
      }
    }
  }
</style>
