<template>
  <div :class="['drawer-container', { 'dark': $colorScheme === 'dark' }]">
    <transition-group name="slide-fast" appear tag="div" class="menu-options">
      <BaseSingleApp
        v-for="app in bigCommandApps"
        :key="app.name"
        v-bind="app"
        @click.native="updateRecentApps(app.id)"
      />
    </transition-group>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { BigCommandApp } from '@/types';
import bigCommandApps from '@/includes/common/bigCommandApps';
import BigCommandAppService from '@/services/common/BigCommandAppService';

@Component
export default class TheHeaderAppDrawer extends Vue {
  readonly bigCommandApps: BigCommandApp[] = bigCommandApps;

  updateRecentApps(id: number) {
    BigCommandAppService.updateRecentApps(id);
  }
}
</script>

<style scoped lang="scss">
  .drawer-container {
    position: relative;
    width: 350px;
  }

  .menu-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(72px, 1fr));
    /* Fix grid display on IE*/
    grid-gap: 28px;
    background: $common-ui-white;
    box-shadow: $common-ui-blue-spread-shadow;
    border-radius: $container-standard-border-radius;
    padding: 30px;
    width: 100%;
    height: 350px;
    overflow-y: auto;
    margin-top: 20px;

    &::after {
      $size: 16px;
      content: "";
      height: $size;
      width: $size;
      background: $common-ui-white;
      border-top-left-radius: 4px;
      transform: rotate(45deg);
      position: absolute;
      left: 168px;
      top: 12px;
    }
  }

  @media (min-width: 600px) {
    .drawer-container {
      width: 500px;
    }

    .menu-options {
      height: unset;
    }
  }

  @media (min-width: 800px) {
    .drawer-container {
      width: 734px;
    }
  }

  .dark {
    .menu-options {
      background: $dark-ui-dark;
      box-shadow: $common-ui-dark-spread-shadow;

      &::after {
        background: $dark-ui-dark;
      }
    }
  }
</style>
