<template>
  <div :class="['panel-container', { 'dark': $colorScheme === 'dark' }]" v-click-outside>
    <div class="message-notify" data-header="message-notify">
      <div
        @click="showDropdownMenu('messages')"
        :class="['message', { opened: isMessagesShown }]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.457"
          height="18.227"
          viewBox="0 0 18.457 18.227"
        >
          <path
            id="icon"
            data-name="Subtraction 7"
            d="M17674.113-21375.916a9.123,9.123,0,0,0-9.113,9.113,9.123,9.123,0,0,0,9.113,
            9.113H17683a.453.453,0,0,0,.42-.279.454.454,0,0,0-.1-.494l-2.344-2.346a9.07,9.07,
            0,0,0,2.246-5.992A9.124,9.124,0,0,0,17674.113-21375.916Zm0,17.318a8.215,8.215,0,0,
            1-8.205-8.205,8.214,8.214,0,0,1,8.205-8.2,8.214,8.214,0,0,1,8.205,8.2,8.166,8.166,0,
            0,1-2.289,5.686h0l0,0,0,0c-.016.014-.02.033-.031.049a.478.478,0,0,
            0-.066.1c-.008.02-.006.041-.012.061a.426.426,0,0,0-.018.109.43.43,0,0,
            0,.014.072.541.541,0,0,0,.02.1.685.685,0,0,0,.053.078.515.515,0,0,0,
            .045.068l.006.006v0h0l1.871,1.869Z"
            transform="translate(-17665 21375.916)"
            fill="#21455e"
          />
        </svg>
        <div class="count">
          <span>{{ unreadMessageCount }}</span>
        </div>
        <div class="menu messages" v-if="isMessagesShown">
          <AppMessages/>
        </div>
      </div>
      <div
        @click="showDropdownMenu('notifications')"
        :class="['notify', { opened: isNotificationsShown }]"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18.987"
          height="22.783"
          viewBox="0 0 18.987 22.783"
        >
          <g id="Group_15568" data-name="Group 15568" transform="translate(0)">
            <path
              id="icon"
              data-name="Subtraction 6"
              d="M18.919,15.894l-1.631-2.717a8.076,8.076,0,0,1-1.15-4.152V6.645a6.645,6.645,0,
              1,0-13.29,0v2.38A8.076,8.076,0,0,1,1.7,13.177L.068,15.894a.474.474,0,0,0,
              .407.719H18.512a.474.474,0,0,0,.407-.719ZM1.313,15.664l1.2-2A9.017,9.017,0,0,
              0,3.8,9.025V6.645a5.7,5.7,0,1,1,11.392,0v2.38a9.025,9.025,0,0,0,1.284,4.64l1.2,2Z"
              transform="translate(0 3.323)"
              fill="#21455e"
            />
            <g id="notification" transform="translate(7.121)">
              <g
                id="Group_1404"
                data-name="Group 1404"
                transform="translate(0.475)"
              >
                <g
                  id="Group_1403"
                  data-name="Group 1403"
                  transform="translate(0)"
                >
                  <path
                    id="icon"
                    data-name="Path 2226"
                    d="M215.232,0a1.9,1.9,0,0,0-1.9,1.9V3.8a.475.475,0,0,0,.949,0V1.9a.949.949,
                    0,0,1,1.9,0V3.8a.475.475,0,0,0,.949,0V1.9A1.9,1.9,0,0,0,215.232,0Z"
                    transform="translate(-213.333)"
                    fill="#21455e"
                  />
                </g>
              </g>
              <g
                id="Group_1406"
                data-name="Group 1406"
                transform="translate(0 18.987)"
              >
                <g id="Group_1405" data-name="Group 1405">
                  <path
                    id="icon"
                    data-name="Path 2227"
                    d="M207.094,426.913a.475.475,0,1,0-.82.48,1.424,1.424,0,1,1-2.466,0,.475.475,
                    0,1,0-.82-.48,2.374,2.374,0,1,0,4.107,0Z"
                    transform="translate(-202.666 -426.68)"
                    fill="#21455e"
                  />
                </g>
              </g>
            </g>
          </g>
        </svg>
        <div class="count">
          <span>{{ unreadNotificationCount }}</span>
        </div>
        <div class="menu notifications" v-if="isNotificationsShown">
          <AppNotifications/>
        </div>
      </div>
    </div>

    <div
      @click="showDropdownMenu('profile')"
      class="name-avatar"
      id="profile-menu-dropdown"
    >
      <div class="name">
        <span :title="fullName" :aria-label="fullName" class="full-name">
          {{ fullName }}
        </span>
        <span :title="companyName" :aria-label="companyName" class="business-name">
          {{ companyName }}
        </span>
      </div>
      <div :class="['avatar', { open: isProfileMenuShown }]">
        <img :src="avatarURL" alt="User profile image" v-if="avatarURL"/>
        <div class="default-avatar" v-else>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="39.998"
            height="39.998"
            viewBox="0 0 39.998 39.998"
          >
            <g
              id="Group_12934"
              data-name="Group 12934"
              transform="translate(-1480 -67)"
            >
              <circle
                id="Ellipse_4183"
                data-name="Ellipse 4183"
                cx="17"
                cy="17"
                r="17"
                transform="translate(1483 69.909)"
                fill="#21455e"
              />
              <g id="noun_profile_1995071" transform="translate(1480 67)">
                <path
                  id="Path_9196"
                  data-name="Path 9196"
                  d="M22.5,2.5a20,20,0,1,0,20,20A20.017,20.017,0,0,0,22.5,2.5Zm0,11.452a6.273,
                  6.273,0,1,1-6.273,6.273A6.289,6.289,0,0,1,22.5,13.952ZM11.552,34.625V33.7a4.843,
                  4.843,0,0,1,4.842-4.842H28.6A4.843,4.843,0,0,1,33.446,33.7v.926a16.336,16.336,0,
                  0,1-21.894,0Z"
                  transform="translate(-2.5 -2.5)"
                  fill="#e8ecee"
                />
              </g>
            </g>
          </svg>
        </div>
      </div>

      <div class="menu profile" v-if="isProfileMenuShown">
        <TheHeaderProfileDropdown/>
    </div>
  </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter } from 'vuex-class';
import AppMessages from '@/components/common/appUtils/AppMessages.vue';
import AppNotifications from '@/components/common/appUtils/AppNotifications.vue';
import ClosableMenuObserver from '@/includes/common/observers/ClosableMenuObserver';
import { RootState } from '@/types/store';
import { AccountInformation, BusinessInformation } from '@/types';
import TheHeaderProfileDropdown from './TheHeaderProfileDropdown.vue';

@Component({ components: { AppNotifications, AppMessages, TheHeaderProfileDropdown } })
export default class TheHeaderProfilePanel extends Vue {
  mounted() {
    ClosableMenuObserver.subscribe([
      'isMessagesShown', 'isNotificationsShown',
      'isProfileMenuShown',
    ]);
  }

  destroyed() {
    ClosableMenuObserver.unsubscribe([
      'isMessagesShown', 'isNotificationsShown',
      'isProfileMenuShown',
    ]);
  }

  @State((state: RootState) => state.businessInformation.companyName)
  readonly companyName!: BusinessInformation['companyName'];

  @State((state: RootState) => state.accountInformation.avatarURL)
  readonly avatarURL!: AccountInformation['avatarURL'];

  @Getter readonly fullName!: string;

  readonly unreadMessageCount = 3;

  readonly unreadNotificationCount = 2;

  isMessagesShown = false;

  isNotificationsShown = false;

  isProfileMenuShown = false;

  readonly dropdownId = 'profile-menu-dropdown';

  showDropdownMenu(dropdown: string) {
    type Closable = keyof TheHeaderProfilePanel
      & ('isMessagesShown' | 'isNotificationsShown' | 'isProfileMenuShown');

    const menuMapping = [
      { name: 'messages', key: 'isMessagesShown' as Closable },
      { name: 'notifications', key: 'isNotificationsShown' as Closable },
      { name: 'profile', key: 'isProfileMenuShown' as Closable },
    ];
    /* eslint no-restricted-syntax: 0 */
    for (const menu of menuMapping) {
      if (menu.name === dropdown) this[menu.key] = !this[menu.key];
      else this[menu.key] = false;
    }
  }
}
</script>

<style scoped lang="scss">
.panel-container {
    position: relative;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
  }

  section {
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
  }

  .name-avatar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;

    div {
      margin-left: 12px;
    }
  }

  .name {
    span {
      @include truncate-ellipsis;
      display: block;
      margin: 0;
      font-family: $font-medium-weight;
      font-size: $font-very-small-size;
      text-align: right;
      max-width: 150px;
    }

    .full-name {
      font-family: $font-medium-weight;
    }

    .business-name {
      @extend .full-name;
      color: rgba($light-ui-dark, .7);
    }
  }

  .avatar {
    img,
    svg {
      $size: 42px;
      padding: 2px;
      border: 1px solid $light-ui-dark;
      border-radius: 50%;
      width: $size;
      height: $size;
      object-fit: cover;
    }
  }

  .open {
    img, svg {
      border: 1px solid $common-ui-blue;
    }
  }

  .message-notify {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px;

    .notify {
      margin-left: 16px;
    }
  }

  .message,
  .notify {
    $size: 42px;
    min-width: $size;
    min-height: $size;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.24s;

    &:hover {
      background: $light-ui-hover;
    }

    .count {
      $size: 14px;
      $position: 6px;
      width: $size;
      height: $size;
      position: absolute;
      top: $position;
      right: $position;
      border-radius: 50%;
      background: $common-ui-red;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.6rem;
      color: $common-ui-white;
      border: 1px solid $common-ui-white;
    }
  }

  .opened {
    background: $light-ui-hover;
  }

  .profile {
    position: absolute;
    top: 70px;
    right: 0;
  }

  .notifications {
    position: absolute;
    top: 70px;
    right: -174px;
  }

  .messages {
    position: absolute;
    top: 70px;
    left: -162px;
  }

  .dark {
    .name .business-name {
      color: $light-ui-light-gray;
    }

    .message-notify #icon {
      fill: $common-ui-white;
    }

    .message, .notify {
      &:hover {
        background: $dark-ui-hover;
      }

      .count {
        border-color: $dark-ui-dark;
      }
    }

    .opened {
      background: $dark-ui-hover;
    }
  }
</style>
