<template>
  <div></div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class FastSignDetail extends Vue {}

</script>

<style scoped lang="scss" >

</style>
