<template>
  <div :class="['input-container', { 'dark': $colorScheme === 'dark' }]">
    <label
        for="page-number"
        :class="['input-label', { 'label-error': !isValid }]"
    >Go to page</label>
    <input
        type="number"
        id="page-number"
        v-on="$listeners"
        v-bind="$attrs"
        :value="value"
        @change.prevent="checkInput"
        :class="['input-field', { 'input-error': !isValid }]"
        autocapitalize="off"
        tabindex="0"
        :dir="textDirection"
        inputmode="numeric"
        aria-required="true"
        :aria-invalid="!isValid.toString()"
    />
    <button
        @click="goToPage"
        onclick="this.blur()"
        class="goto"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="5.39" height="9.688"
           viewBox="0 0 5.39 9.688">
        <path d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,
0,1,0-.463.463l4.3,4.3a.32.32,0,0,0,.232.1.334.334,0,0,0,
.232-.1l4.307-4.307a.321.321,0,0,0,.011-.46Z"
              transform="translate(-33.173 15.87) rotate(-90)"
              fill="#21455e"
              stroke="#21455e" stroke-width="0.4"/>
      </svg>
    </button>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Paginator } from '@/types';

@Component
export default class GoToPage extends Vue {
  @Prop({ type: Number, required: true })
  readonly totalPages!: Paginator<any>['totalPages'];

  @Prop({ type: Number, required: true })
  readonly currentPage!: Paginator<any>['currentPage'];

  @Prop({ type: String, default: 'ltr' })
  readonly textDirection!: 'ltr' | 'rtl';

  isValid = true;

  value = '';

  checkInput(event: InputEvent) {
    /* eslint no-param-reassign: 0 */
    let val = '';
    if ((event.target as HTMLInputElement).value === '') {
      val = '';
    } else if (+(event.target as HTMLInputElement).value > this.totalPages) {
      (event.target as HTMLInputElement).value = this.totalPages.toString();
      val = this.totalPages.toString();
    } else if (+(event.target as HTMLInputElement).value <= 1) {
      (event.target as HTMLInputElement).value = '1';
      val = '1';
    } else val = (event.target as HTMLInputElement).value;
    this.value = val;
  }

  goToPage() {
    this.isValid = true;
    if (this.value === '') {
      this.isValid = false;
      (this as any).$showFeedback({
        type: 'failure',
        title: 'Cannot go to Page',
        description: 'Please enter a valid page number.',
      });
      return;
    }
    if (+this.value !== this.currentPage) {
      this.$emit('fetchPage', this.value);
    }
  }
}
</script>

<style scoped lang="scss">
  .input-container {
    position: relative;
  }

  input[type=number] {
      -moz-appearance:textfield;
  }

  .input-field {
    @include medium-small-font;
    -webkit-appearance: none;
    appearance: none;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $light-ui-background;
    border: 1px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 6px;
    width: 100%;
    min-width: 100px;
    max-width: 120px;
    border-radius: 5px;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .input-error {
    border-color: $common-ui-red;

    &:focus {
      border-color: $common-ui-red;
    }
  }

  .input-label {
    @include medium-small-font;
    font-size: $font-very-small-size;
    color: rgba($light-ui-dark, 0.86);
    background: $light-ui-background;
    padding: 0 4px;
    display: block;
    text-align: left;
    position: absolute;
    left: 7px;
    top: -10px;
  }

  .label-error {
    color: $common-ui-red;
  }

  .goto {
    @include focus-highlight;
    width: 28px;
    height: calc(100% - 2px);
    text-decoration: none;
    text-align: center;
    border-radius: 0 4px 4px 0;
    background: rgba($light-ui-dark, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1px;
    bottom: 1px;
    border: none;
    cursor: pointer;
    transition: all 0.24s;

    &:hover, &:active {
      background: rgba($common-ui-blue, 0.08);
    }

    &:hover svg path {
      stroke: $common-ui-blue;
    }
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-very-small-size;
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-background;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    .input-error {
      border-color: $common-ui-red;

      &:focus {
        border-color: $common-ui-red;
      }
    }

    .input-label {
      background: $dark-ui-background;
      color: $dark-ui-light;
    }

    .label-error {
      color: $common-ui-red;
    }

    .goto svg path {
      fill: $dark-ui-light;
      stroke: $dark-ui-light;
    }
  }
</style>
