<template>
  <div :class="['input-container', { dark: $colorScheme === 'dark' }]" v-click-outside>
    <label for="page-size" class="input-label">View</label>
      <input
        type="text"
        id="page-size"
        :value="pageSize"
        @click="isMenuShown = !isMenuShown"
        @keydown.enter="isMenuShown = !isMenuShown"
        :class="['input-field', { 'open': isMenuShown }]"
        tabindex="0"
        readonly
        autocomplete="off"
        aria-required="false"
        role="button"
        aria-haspopup="listbox"
        :aria-pressed="isMenuShown.toString()"
        aria-labelledby="expiry-date-label"
      />

      <transition name="slide-fast" appear>
        <div class="dropdown-menu" v-if="isMenuShown">
          <ul
            tabindex="-1"
            role="listbox"
            aria-labelledby="expiry-date-label"
            class="menu-options"
          >
            <li
              v-for="size in pageSizes"
              :key="size"
              @click="setSize(size)"
              @keydown.enter="setSize(size)"
              tabindex="0"
              role="option"
              :class="{ selected: pageSize === size }"
            >
              {{ size }}
            </li>
          </ul>
        </div>
      </transition>

      <svg
        @click="isMenuShown = !isMenuShown"
        class="dropdown"
        :class="{ 'rotate-dropdown': isMenuShown }"
        xmlns="http://www.w3.org/2000/svg"
        width="9.709"
        height="5.395"
        viewBox="0 0 9.709 5.395"
      >
        <path
          id="Path_2500"
          data-name="Path 2500"
          d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,0,1,
          0-.463.463L10.8,38.267a.32.32,0,0,0,.232.1.334.334,0,0,0,
          .232-.1l4.307-4.307A.321.321,0,0,0,15.582,33.5Z"
          transform="translate(-6.168 -33.168)"
          fill="#21455e"
          stroke="#21455e"
          stroke-width="0.4"
        />
      </svg>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Paginator } from '@/types';

@Component
export default class PageSizeSelector extends Vue {
  @Prop({ type: Number, required: true, default: 25 })
  readonly pageSize!: Paginator<any>['pageSize'];

  pageSizes: Paginator<any>['pageSize'][] = [10, 25, 50, 100];

  isMenuShown = false;

  setSize(size: Paginator<any>['pageSize']) {
    if (this.pageSize === size) return;
    this.$emit('setSize', size);
    this.isMenuShown = false;
  }
}
</script>

<style scoped lang="scss">
  .input-container {
    position: relative;
    margin: 4px;

    .dropdown {
      width: 9.8px;
      height: 5.4px;
      position: absolute;
      right: 12px;
      bottom: 13px;
    }

    .rotate-dropdown {
      transform: scaleY(-1);
    }
  }

  .input-field {
    @include medium-small-font;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $light-ui-background;
    border: 1px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 6px;
    width: 100%;
    min-width: 100px;
    max-width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .open {
    border-color: $common-ui-blue;
  }

  .input-label {
    @include medium-small-font;
    font-size: $font-very-small-size;
    color: rgba($light-ui-dark, 0.86);
    background: $light-ui-background;
    padding: 0 4px;
    display: block;
    text-align: left;
    position: absolute;
    left: 7px;
    top: -10px;
  }

.dropdown-menu {
  position: absolute;
  bottom: calc(100% - 4px);
  min-width: 100%;
  z-index: 1;
}

.menu-options {
  max-height: 400px;
  background: $common-ui-white;
  border-radius: 10px;
  padding: 12px 0;
  overflow-y: auto;
  list-style: none;
  margin-top: 0;
  box-shadow: 0 3px 6px 0 rgba($common-ui-blue, 0.06), 0 0 18px 0 rgba($common-ui-blue, 0.1);

  li {
    @include focus-highlight;
    padding: 8px 4px 8px 32px;
    border-left: 2px solid transparent;
    font-size: $font-medium-size;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background: rgba($common-ui-blue, 0.1);
      border-color: $common-ui-blue;
    }

    &:focus {
      margin: 0 2px;
      border-radius: 2px;
    }
  }

  .selected {
    font: {
      family: $font-medium-weight;
      weight: normal;
    }
    padding-left: 12px;

    &::before {
      content: url('../../../../assets/icons/common/selected_check.svg');
      padding-right: 4px;
    }
  }
}

.dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-background;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    .input-label {
      background: $dark-ui-background;
      color: $dark-ui-light;
    }

    .menu-options {
      box-shadow: $common-ui-dark-spread-shadow;
      background: $dark-ui-dark;

      li:hover {
        background: $dark-ui-hover;
      }
    }

    .dropdown path {
      fill: $dark-ui-light;
      stroke: $dark-ui-light;
    }
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-very-small-size;
    }
  }
</style>
