<template>
  <div :class="['child-container', { 'dark': $colorScheme === 'dark' }]">
    <nav role="navigation" aria-label="Pagination Navigation">
      <ul class="pages-wrapper">
      <li>
        <router-link to="#" aria-label="Goto Previous Page" tabindex="-1" class="page arrow end">
          <svg xmlns="http://www.w3.org/2000/svg" width="5.39" height="9.687"
               viewBox="0 0 5.39 9.687">
            <path d="M9.2,4.863a.328.328,0,0,1-.463,0L4.659.78.574,4.863A.328.328,0,1,
  1,.111,4.4L4.411.1A.32.32,0,0,1,4.643,0a.334.334,0,0,1,.232.1L9.181,
  4.407a.321.321,0,0,1,.011.46Z" transform="translate(0.2 9.484) rotate(-90)"
                  fill="currentColor" stroke="currentColor" stroke-width="0.4"/>
          </svg>
        </router-link>
      </li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">1</router-link></li>
      <li>
        <router-link to="#" aria-label="Current Page, Page 2" role="presentation" aria-current="true" class="page current">
          2
        </router-link>
      </li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">3</router-link></li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">4</router-link></li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">5</router-link></li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">6</router-link></li>
      <li>
        <div class="page dots">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="2"
               viewBox="0 0 12 2">
            <g transform="translate(-460 -747)">
              <circle cx="1" cy="1" r="1" transform="translate(460 747)"
                      fill="currentColor"/>
              <circle cx="1" cy="1" r="1" transform="translate(465 747)"
                      fill="currentColor"/>
              <circle cx="1" cy="1" r="1" transform="translate(470 747)"
                      fill="currentColor"/>
            </g>
          </svg>
        </div>
      </li>
      <li><router-link to="#" :aria-label="`Goto Page ${1}`" class="page">759</router-link></li>
      <li>
        <router-link to="#" aria-label="Goto Next Page" class="page arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="5.39" height="9.688"
               viewBox="0 0 5.39 9.688">
            <path d="M15.582,33.5a.328.328,0,0,0-.463,0l-4.075,4.083L6.959,33.5a.328.328,
  0,1,0-.463.463l4.3,4.3a.32.32,0,0,0,.232.1.334.334,0,0,0,
  .232-.1l4.307-4.307a.321.321,0,0,0,.011-.46Z"
                  transform="translate(-33.173 15.87) rotate(-90)"
                  fill="currentColor"
                  stroke="currentColor" stroke-width="0.4"/>
          </svg>
        </router-link>
      </li>
    </ul>
    </nav>

    <GoToPage
        :total-pages="totalPages"
        :current-page="currentPage"
    />

    <PageSizeSelector :page-size="pageSize" class="size-selector"/>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import GoToPage from '@/components/common/composition/pagination/GoToPage.vue';
import PageSizeSelector
  from '@/components/common/composition/pagination/PageSizeSelector.vue';
import { Paginator as ContentPaginator } from '@/types';

/* eslint max-len: 0 */
// Aria Reference: https://www.a11ymatters.com/pattern/pagination/

@Component({
  components: { PageSizeSelector, GoToPage },
})
export default class Paginator extends Vue {
  @Prop({ type: Number, required: true })
  readonly totalPages!: ContentPaginator<any>['pageSize'];

  @Prop({ type: Number, required: true })
  readonly currentPage!: ContentPaginator<any>['currentPage'];

  @Prop({ type: Number, required: true })
  readonly pageSize!: ContentPaginator<any>['pageSize'];

  get hasNext() {
    return this.currentPage < this.totalPages;
  }

  get hasPrevious() {
    return this.currentPage > 1;
  }
}
</script>

<style scoped lang="scss">
  .child-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 40px;
    margin-top: 40px;
  }

  .pages-wrapper {
    list-style: none;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    margin: 0;
    min-width: 200px;

    li {
      margin: 4px;
      width: fit-content;
      border-radius: 32px;
    }
  }

  .page {
    @include medium-small-font;
    @include focus-highlight;
    padding: 7px 13.5px;
    min-height: 32px;
    min-width: 32px;
    text-decoration: none;
    text-align: center;
    border-radius: 32px;
    color: $light-ui-dark;
    background: $common-ui-white;
    display: table-cell;
    vertical-align: middle;
    transition: all 0.24s;

    &:hover:not(.dots), &:active {
      color: $common-ui-blue;
      background: rgba($common-ui-blue, 0.08);
    }
  }

  .current {
    pointer-events: none;
    border: 2px solid $common-ui-blue;
    background: $common-ui-white;
  }

  .dots {
    padding: 16px 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;

    &:hover {
      background: $common-ui-white;
    }
  }

  .arrow {
    svg {
      width: 8px;
      height: 10px;
    }

    &:hover {
      color: $common-ui-blue;
    }
  }

  .end.arrow {
    cursor: not-allowed;

    &:hover {
      background: $common-ui-white;
      color: $light-ui-dark;
    }
  }

  .size-selector {
    margin-left: auto;
  }

  .dark {
    .page, .current {
      color: $common-ui-white;
      background: $dark-ui-dark;
    }
  }
</style>
