<template>
  <div class="main-preloader-wrapper">
    <div
      v-if="!isLoading"
      :key="refreshHashAllApp"
      id="app"
      :class="{ 'dark': $colorScheme === 'dark' }"
    >
      <AppHeader v-if="!isPublic"/>
      <router-view name="sidebar"/>
      <router-view name="main"/>

      <PermissionDeniedModal
        v-if="global.feedback.isPermissionDeniedModalVisible"
      />

      <TimeZoneChangeModal
        v-if="isTimezoneChangeModalVisible"
        :current-timezone="currentTimezone"
        @close="isTimezoneChangeModalVisible = false"
      />

      <ColorSchemeChangeModal
        v-if="isColorSchemeChangeModalVisible"
        :device-color-scheme="deviceColorScheme"
        @close="isColorSchemeChangeModalVisible = false"
      />

      <OfflineModeModal
        v-if="isOfflineModalVisible"
      />

      <BaseFeedbackWidget
        v-if="feedback.isFeedbackWidgetVisible"
        @close="closeFeedbackWidget"
        :type="feedback.type"
        :feedback-title="feedback.title"
        :feedback-description="feedback.description"
      />

      <BaseVideoGuidePlayer
        v-if="videoGuide.isVideoGuideWidgetVisible"
        :videoURL="videoGuide.videoURL"
        :guideTitle="videoGuide.guideTitle"
        :guideDescription="videoGuide.guideDescription"
        @close="closeVideoGuide"
      />

      <IEWarning v-if="isIE" :app-name="appName"/>
    </div>
    <BasePreloaderCircular v-else class="preloader"/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Mutation, Action, State } from 'vuex-class';
import IEWarning from '@/components/common/composition/IEWarning.vue';
import { userAgent } from '@/includes/common/devicesAndUserAgents';
import bigCommandApps from '@/includes/common/bigCommandApps';
import { AccountInformation, UserFeedback, BigCommandApp } from '@/types';
import AppHeader from '@/components/common/composition/header/AppHeader.vue';
import TokenService from '@/services/authentication/TokenService';
import { vInstance } from '@/includes/common/vue/initializeVueApp';
import { RootState } from '@/types/store';

const TimeZoneChangeModal = () => import('./components/common/timezone/TimeZoneChangeModal.vue');
const ColorSchemeChangeModal = () => import('./components/common/colorScheme/ColorSchemeChangeModal.vue');
const OfflineModeModal = () => import('./components/common/offline/OfflineModeModal.vue');
const PermissionDeniedModal = () => import('./components/common/compliance/PermissionDeniedModal.vue');

@Component({
  components: {
    AppHeader,
    ColorSchemeChangeModal,
    TimeZoneChangeModal,
    OfflineModeModal,
    PermissionDeniedModal,
    IEWarning,
  },
})
export default class App extends Vue {
  async created() {
    // TODO: Fetch only if the user is signed in
    // if (TokenService.getToken()) await this.fetchAccountInformation();
    await Promise.all([
      this.fetchAccountData(),
      this.fetchBusinessInformation(),
      this.fetchAccountRole(),
    ]);

    this.isLoading = false;

    this.setProfileColorScheme();

    // Retrieve current device color scheme.
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      this.deviceColorScheme = 'dark';
    } else {
      this.deviceColorScheme = 'light';
    }
    this.initializeColorSchemeChange();

    // Add event listener for future color scheme changes.
    window.matchMedia('(prefers-color-scheme: dark)')
      .addEventListener('change', (event) => {
        this.deviceColorScheme = event.matches ? 'dark' : 'light';
        this.initializeColorSchemeChange();
      });

    // Add event listener for offline
    window.addEventListener('offline', () => {
      this.isOfflineModalVisible = true;
    });

    // Add event listener for online
    window.addEventListener('online', () => {
      this.isOfflineModalVisible = false;
    });

    // Check for timezone changes.
    if (this.accountInformation.accountTimezone
      && this.accountInformation.accountTimezone !== this.currentTimezone
      && this.accountInformation.lastRejectedTimezone !== this.currentTimezone) {
      this.isTimezoneChangeModalVisible = true;
    }
  }

  @State((state: RootState) => state) readonly global!: RootState;

  @State readonly accountInformation!: AccountInformation;

  @State readonly feedback!: UserFeedback;

  @State readonly videoGuide!: UserFeedback;

  deviceColorScheme = '';

  isLoading = true;

  isOfflineModalVisible = false;

  isColorSchemeChangeModalVisible = false;

  isTimezoneChangeModalVisible = false;

  get refreshHashAllApp() {
    return `${this.accountInformation.colorScheme}${this.accountInformation.accountTimezone}`;
  }

  get isPublic() {
    return this.$route.meta.isPublic;
  }

  get currentTimezone() {
    return Intl.DateTimeFormat()
      .resolvedOptions().timeZone;
  }

  get isIE() {
    return userAgent() === 'IE' || userAgent() === 'IE9';
  }

  get appName(): BigCommandApp['name'] {
    return bigCommandApps.find((app) => app.id === 3)?.name as string;
  }

  initializeColorSchemeChange() {
    if (this.accountInformation.colorScheme
      && this.accountInformation.colorScheme !== this.deviceColorScheme
      && this.accountInformation.lastRejectedColorScheme !== this.deviceColorScheme) {
      this.isColorSchemeChangeModalVisible = true;
    }
  }

  setProfileColorScheme() {
    const isAuthenticated = !!TokenService.getToken();
    if (isAuthenticated) {
      vInstance.prototype.$colorScheme = this.accountInformation.colorScheme;
      document.body.style.background = this.accountInformation.colorScheme === 'dark' ? '#000E12' : '#F9FBFB';
    }
  }

  @Mutation closeFeedbackWidget!: () => void;

  @Mutation closeVideoGuide!: () => void;

  @Action('fetchAccountData')
  fetchAccountData!: () => Promise<void>;

  @Action('fetchBusinessInformation')
  fetchBusinessInformation!: () => Promise<void>;

  @Action('fetchAccountRole')
  fetchAccountRole!: () => Promise<void>;
}
</script>

<style lang="scss">
@import 'assets/styles/abstract/typography';
@import 'assets/styles/abstract/resets';
@import 'assets/styles/modules/appearance_transition_slide_fast_module';
</style>
