<template>
  <base-simple-modal
    @close="$emit('close')"
    :cancel-text="cancelText"
    :cancel-action="cancelAction"
    :execute-text="executeText"
    :execute-action="executeAction"
  >
    <template #title>Are you sure?</template>
    <template #body>
      <p>
        You've made some changes. Are you sure you want to discard them?
      </p>
    </template>
  </base-simple-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class DiscardChangesConfirmModal extends Vue {
    @Prop({ type: String, default: 'Cancel' })
    readonly cancelText!: string;

    @Prop({ type: Function, required: true })
    readonly cancelAction!: () => void;

    @Prop({ type: String, default: 'Discard changes' })
    readonly executeText!: string;

    @Prop({ type: Function, required: true })
    readonly executeAction!: () => void;
}
</script>

<style scoped>

</style>
