<template>
  <base-simple-modal
      @close="$emit('close')"
      :cancel-text="cancelText"
      :cancel-action="cancelAction"
      :execute-text="executeText"
      :execute-action="executeAction"
    >
      <template #title>Save your changes</template>
      <template #body>
        <p>
          Note: Any unsaved changes will be lost. Are you sure you want to
          leave this page?
        </p>
      </template>
    </base-simple-modal>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component
export default class SaveDiscardNavigateModal extends Vue {
  @Prop({ type: String, default: 'Discard' })
  readonly cancelText!: string;

  @Prop({ type: Function, required: true })
  readonly cancelAction!: () => void;

  @Prop({ type: String, default: 'Save & Continue' })
  readonly executeText!: string;

  @Prop({ type: Function, required: true })
  readonly executeAction!: () => void;
}
</script>

<style scoped>

</style>
