<template>
  <div class="__generic_center">
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class GenericCentered extends Vue {

}
</script>

<style scoped lang="scss">
  .__generic_center {
    display: flex;
    justify-content: center;
    margin: 100px 0 32px 0;
    padding: 0 24px;
  }

   @media (min-width: 900px) {
    .__generic_center {
      padding: 0 48px;
    }
  }
</style>
