<template>
  <div class="__generic_centered_with_sidebar">
    <router-view/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class GenericCenteredWithSidebar extends Vue {
}
</script>

<style scoped lang="scss">
  .__generic_centered_with_sidebar {
    margin: 100px 24px 32px 24px;
    display: flex;
    justify-content: center;
  }

  @media (min-width: 900px) {
    .__generic_centered_with_sidebar {
      margin: 100px 0 24px 340px;
      padding: 0 24px;
    }
  }

  @media (min-width: 1200px) {
    .__generic_centered_with_sidebar {
      margin: 100px 0 32px 380px;
      padding: 0 48px;
    }
  }
</style>
