* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: $light-ui-dark;
  font-family: $font-regular-weight;
  background: $light-ui-background;
}

h1 {
  margin: 8px 0;
  font: {
    family: $font-bold-weight;
    weight: normal;
    size: calc(1.1rem + (24 - 18) * (100vw - 400px) / (1300 - 400));
  }
}

h2 {
  margin: 0;
  font: {
    family: $font-medium-weight;
    size: 1.25rem;
    weight: normal;
  }
}

p {
  font-size: $font-small-size;
  line-height: 1.8;
}

.strong {
  @include medium-small-font;
}

.preloader {
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
}

.dark {
  color: $common-ui-white;
}