$font-path: '~@/assets/fonts/';

@font-face {
  font-family: "HelveticaNeueRegular";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Regular"), local("Helvetica Neue"),
    local("HelveticaNeue-Regular"),
    url($font-path + "regular/HelveticaNeueRegular.woff2") format("woff2"),
    url($font-path + "regular/HelveticaNeueRegular.woff") format("woff"),
    url($font-path + "regular/HelveticaNeueRegular.ttf") format("truetype"),
    url($font-path + "regular/HelveticaNeueRegular.eot")
      format("embedded-opentype");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Medium"), local("HelveticaNeue-Medium"),
    url($font-path + "medium/HelveticaNeueMedium.woff2") format("woff2"),
    url($font-path + "medium/HelveticaNeueMedium.woff") format("woff"),
    url($font-path + "medium/HelveticaNeueMedium.ttf") format("truetype"),
    url($font-path + "medium/HelveticaNeueMedium.eot")
      format("embedded-opentype");
}

@font-face {
  font-family: "HelveticaNeueBold";
  font-style: normal;
  font-weight: normal;
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"),
    url($font-path + "bold/HelveticaNeueBold.woff2") format("woff2"),
    url($font-path + "bold/HelveticaNeueBold.woff") format("woff"),
    url($font-path + "bold/HelveticaNeueBold.ttf") format("truetype"),
    url($font-path + "bold/HelveticaNeueBold.eot")
      format("embedded-opentype");
}
