/*************************/
/* Light UI color scheme */
/*************************/
// Primary
$light-ui-hover: #f6f7f9;
$light-ui-background: #f9fbfb;

// Neutral
$light-ui-dark: #21455e;
$light-ui-very-dark: #011A22;
$light-ui-light-gray: #637c8e;
$light-ui-very-light-gray: #a3bac6;

/************************/
/* Dark UI color scheme */
/************************/
// Primary
$dark-ui-dark: #011A22;
$dark-ui-hover: #032631;
$dark-ui-background: #000F14;

// Neutral
$dark-ui-light: #C6C6C6;

/***********************/
/* Common color scheme */
/***********************/
// Primary
$common-ui-white: #ffffff;

// Accent
$common-ui-dark-blue: #09a4cf;
$common-ui-blue: #0dabd8;
$common-ui-light-blue: #e2e5ed;
$common-ui-very-light-blue: #fafeff;

// Semantic
$common-ui-red: #d65049;
$common-ui-dark-red: #d04c45;
$common-ui-green: #0ad688;
$common-ui-yellow: #F27500;
$common-ui-dark-yellow: #e37102;

// Neutral
$common-ui-modal-mask: rgba(1, 26, 34, 0.7);
$common-horizontal-line: #e8e8ea;

// Box shadow
$common-ui-blue-shadow: 0 3px 6px rgba($common-ui-blue, 0.06);
$common-ui-blue-spread-shadow: 0 2px 4px 0 rgba($common-ui-blue, 0.06),
0 -4px 8px 4px rgba($common-ui-blue, 0.08);
$common-ui-dark-spread-shadow: 0 2px 4px 0 rgba($light-ui-dark, 0.06),
0 -4px 8px 4px rgba($light-ui-dark, 0.08);
$common-ui-dark-shadow: 0 6px 20px rgba($light-ui-dark, 0.1);

/**********/
/* Border */
/**********/
$standard-border: 1px solid $common-horizontal-line;

/**************/
/* Font sizes */
/*************/
$font-root-element-size: 16px;
$font-medium-size: #{15px / $font-root-element-size}rem;
$font-small-size: #{14px / $font-root-element-size}rem;
$font-very-small-size: #{13px / $font-root-element-size}rem;

/*****************/
/* Modal windows */
/*****************/
$modal-standard-width: 464px;
$modal-wide-width: 520px;

/**********************/
/* Content containers */
/**********************/
$container-standard-padding: 32px 48px, 48px;
$container-gutter-margin: 30px;
$container-in-content-margin: 20px;
$container-standard-border-radius: 12px;

/***************/
/* Font styles */
/***************/
$font-regular-weight: HelveticaNeueRegular, Helvetica, Arial, sans-serif;
$font-medium-weight: HelveticaNeueMedium, Helvetica, Arial, sans-serif;
$font-bold-weight: HelveticaNeueBold, Helvetica, Arial, sans-serif;
