<template>
  <div class="input-container">
    <label :for="fieldId" class="input-label">{{ fieldLabel }}</label>
    <span v-if="description" class="description">{{ description }}</span>
    <div class="input-wrapper">
      <input
        type="text"
        :id="fieldId"
        v-on="$listeners"
        :value="formattedDate"
        @click="$emit('showCalendar')"
        :class="['input-field', { 'input-error': inputHasError }]"
        placeholder="Select date"
        tabindex="0"
        readonly
      />
      <div v-if="inputHasError" class="error-message">
        <div class="error-icon">
          <svg
            class="exclamation"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <g
              id="Group_8570"
              data-name="Group 8570"
              transform="translate(-628 -479)"
            >
              <circle
                id="Ellipse_4260"
                data-name="Ellipse 4260"
                cx="9.044"
                cy="9.044"
                r="9.044"
                transform="translate(628 479)"
                fill="#ee5951"
              />
              <g
                id="Group_8569"
                data-name="Group 8569"
                transform="translate(638.103 492.812) rotate(180)"
              >
                <circle
                  id="Ellipse_4259"
                  data-name="Ellipse 4259"
                  cx="0.994"
                  cy="0.994"
                  r="0.994"
                  transform="translate(0)"
                  fill="#fff"
                />
                <path
                  id="Path_8229"
                  data-name="Path 8229"
                  d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,.595,0Z"
                  transform="translate(0.435 3.61)"
                  fill="#fff"
                />
              </g>
            </g>
          </svg>
        </div>
        <p>{{ errorMessage }}</p>
      </div>
      <svg @click="$emit('showCalendar')"
           class="calendar" xmlns="http://www.w3.org/2000/svg" width="14.4" height="16"
           viewBox="0 0 14.4 16">
        <path id="Icon"
              d="M298.8-303.4H298V-305h-1.6v1.6H290V-305h-1.6v1.6h-.8a1.593,1.593,0,0,0-1.592,
              1.6L286-290.6a1.6,1.6,0,0,0,1.6,1.6h11.2a1.6,1.6,0,0,0,1.6-1.6v-11.2a1.6,1.6,0,0,
              0-1.6-1.6Zm0,12.99H287.267v-10.3h11.864v10.3Zm-9.6-7.39h4v4h-4Z"
              transform="translate(-286 305)" fill="#21455e" fill-rule="evenodd"/>
      </svg>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import moment from 'moment';

@Component
export default class DateInput extends Vue {
    @Prop({ type: Date, required: true })
    readonly value!: Date;

    @Prop({ type: String, default: 'Field label' })
    readonly fieldLabel!: string;

    @Prop({ type: String, default: 'Please correct this input' })
    readonly errorMessage!: string;

    @Prop({ type: Boolean, default: false })
    readonly inputHasError!: boolean;

    @Prop({ type: String, required: true })
    readonly fieldId!: string;

    @Prop({ type: String, default: '' })
    readonly description!: string;

    get formattedDate() {
      return moment(this.value)
        .format('L');
    }
}
</script>

<style scoped lang="scss">
  .input-wrapper {
    position: relative;
    width: fit-content;
  }

  input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .input-field {
    @include medium-small-font;
    font-size: $font-root-element-size;
    display: block;
    outline: none;
    background: $common-ui-white;
    border: 2px solid $common-ui-light-blue;
    color: $light-ui-dark;
    padding: 10px 30px 10px 14px;
    max-width: 152px;
    border-radius: 6px;
    -moz-appearance: textfield;
    transition: all 0.24s;

    &:focus {
      border-color: $common-ui-blue;
    }

    &::placeholder {
      color: $light-ui-very-light-gray;
      font-size: $font-root-element-size;
      font-family: $font-regular-weight;
    }
  }

  .input-label {
    @include medium-small-font;
    display: block;
    text-align: left;
    margin: 0 0 5px;
  }

  .error-message {
    display: flex;
    align-items: flex-start;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      margin-top: -4px;
      font-size: $font-very-small-size;
    }

    .error-icon {
      $size: 18px;
      width: $size;
      height: $size;

      svg {
        width: $size;
        height: auto;
      }
    }
  }

  .calendar {
    position: absolute;
    right: 12px;
    top: 14px;
    width: 16px;
    height: 16px;
  }

  .description {
    display: block;
    margin-bottom: 5px;
    font-size: $font-small-size;
  }

  @media (min-width: 600px) {
    .input-field {
      font-size: $font-small-size;

      &::placeholder {
        font-size: $font-small-size;
      }
    }
  }

  .dark {
    .input-field {
      color: $common-ui-white;
      background: $dark-ui-dark;
      border-color: $light-ui-light-gray;

      &:focus {
        border-color: $common-ui-blue;
      }
    }

    .calendar path {
      fill: $dark-ui-light;
    }
  }
</style>
