<template>
  <div :class="['selector-container', { 'dark': $colorScheme === 'dark' }]">
    <section class="selectors-wrapper">
      <div class="arrows left">
        <div
          @click="updateYear('down')"
          @mouseenter="showPreviousYearTip = true"
          @mouseleave="showPreviousYearTip = false"
          @mousedown="(e) => e.preventDefault()"
          aria-describedby="tooltip"
          class="double tooltip"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="10.354" height="9.871"
               viewBox="0 0 10.354 9.871">
            <g id="Group_11951" data-name="Group 11951" transform="translate(-15.705 -52.76)">
              <g id="Group_11950" data-name="Group 11950" transform="translate(-575.437 -0.584)">
                <path id="Path_9349" data-name="Path 9349"
                      d="M597.2,58.28l4.168,4.167a.45.45,0,0,1-.637.637L596.3,58.652a.527.527,0,0,1,
                      0-.745l4.431-4.431a.45.45,0,0,1,.637.636Zm-5,0,4.168,4.167a.45.45,0,0,
                      1-.637.637L591.3,58.652a.527.527,0,0,1,0-.745l4.431-4.431a.45.45,0,
                      0,1,.637.636Z"
                      fill="#21455e" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <BaseToolTipSmall
            v-if="showPreviousYearTip"
            :is-tooltip-visible="showPreviousYearTip"
            tip="Previous year"
            class="tip"
          />
        </div>
        <div
          @click="updateMonth('down')" class="single tooltip"
          @mouseenter="showPreviousMonthTip = true"
          @mouseleave="showPreviousMonthTip = false"
          @mousedown="(e) => e.preventDefault()"
          aria-describedby="tooltip"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="5.354" height="9.871"
               viewBox="0 0 5.354 9.871">
            <g id="Group_11947" data-name="Group 11947" transform="translate(-7.913 -53.129)">
              <g id="Group_11946" data-name="Group 11946" transform="translate(-575.437 -0.584)">
                <path id="Path_9347" data-name="Path 9347"
                      d="M584.4,58.648l4.168,4.168a.45.45,0,1,1-.637.636L583.5,59.021a.528.528,0,
                      0,1,0-.745l4.432-4.432a.45.45,0,0,1,.637.637Z"
                      fill="#21455e" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <BaseToolTipSmall v-if="showPreviousMonthTip" tip="Previous month" class="tip"/>
        </div>
        <div
          @click="$emit('resetDate')" class="reset tooltip"
          @mouseenter="showPreviousResetTip = true"
          @mouseleave="showPreviousResetTip = false"
          @mousedown="(e) => e.preventDefault()"
          aria-describedby="tooltip"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="9.4" height="10.055"
               viewBox="0 0 9.4 10.055">
            <g id="refresh" transform="translate(-610.328 -63.739)">
              <g id="Group_11955" data-name="Group 11955" transform="translate(575.259)">
                <g id="Group_11954" data-name="Group 11954" transform="translate(-575.234 0.689)">
                  <path id="Path_9351" data-name="Path 9351"
                        d="M611.2,64.443a5.027,5.027,0,1,1,3.473,8.662.45.45,0,1,1,0-.9,4.128,4.128,
                        0,1,0-3.023-6.937h1.2a.45.45,0,1,1,0,.9H610.3V63.613a.45.45,0,1,1,.9,0Z"
                        fill="#21455e" fill-rule="evenodd"/>
                </g>
              </g>
            </g>
          </svg>
          <BaseToolTipSmall
            v-if="showPreviousResetTip"
            :is-tooltip-visible="showPreviousResetTip"
            tip="Reset date"
            class="tip"
          />
        </div>
      </div>
      <span class="month-year">{{ currentMonthName }} {{ selectedYear }}</span>
      <div class="arrows right">
        <div
          @click="updateMonth('up')" class="single tooltip"
          @mouseenter="showNextMonthTip = true"
          @mouseleave="showNextMonthTip = false"
          @mousedown="(e) => e.preventDefault()"
          aria-describedby="tooltip"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="5.354" height="9.871"
               viewBox="0 0 5.354 9.871">
            <g id="Group_11949" data-name="Group 11949" transform="translate(-45.651 -53.129)">
              <g id="Group_11948" data-name="Group 11948"
                 transform="translate(634.355 -0.584) rotate(180)">
                <path id="Path_9348" data-name="Path 9348"
                      d="M584.4-58.648l4.168-4.168a.451.451,0,0,0,0-.636.45.45,0,0,0-.637,
                      0L583.5-59.021a.528.528,0,0,0,0,.745l4.432,4.432a.452.452,0,0,0,.637,0,
                      .452.452,0,0,0,0-.637Z"
                      fill="#21455e" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <BaseToolTipSmall
            v-if="showNextMonthTip"
            :is-tooltip-visible="showNextMonthTip"
            tip="Next month"
            class="tip"
          />
        </div>
        <div
          @click="updateYear('up')" class="double tooltip"
          @mouseenter="showNextYearTip = true"
          @mouseleave="showNextYearTip = false"
          @mousedown="(e) => e.preventDefault()"
          aria-describedby="tooltip"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="10.354" height="9.871"
               viewBox="0 0 10.354 9.871">
            <g id="Group_11953" data-name="Group 11953" transform="translate(-32.153 -52.76)">
              <g id="Group_11952" data-name="Group 11952"
                 transform="translate(633.648 -0.584) rotate(180)">
                <path id="Path_9350" data-name="Path 9350"
                      d="M597.2-58.28l4.168-4.167a.452.452,0,0,0,0-.637.452.452,0,0,0-.637,
                    0L596.3-58.652a.527.527,0,0,0,0,.745l4.431,4.431a.45.45,0,0,0,.637,0,.451.451,0,
                    0,0,0-.636Zm-5,0,4.168-4.167a.452.452,0,0,0,0-.637.452.452,0,0,0-.637,
                    0L591.3-58.652a.527.527,0,0,0,0,.745l4.431,4.431a.45.45,0,0,0,.637,0,.451.451,0,
                    0,0,0-.636Z"
                      fill="#21455e" fill-rule="evenodd"/>
              </g>
            </g>
          </svg>
          <BaseToolTipSmall
            v-if="showNextYearTip"
            :is-tooltip-visible="showNextYearTip"
            tip="Next year"
            class="tip"
          />
        </div>
      </div>
    </section>
    <section class="days-wrapper">
      <span v-for="day in dayNames" :key="day" class="day"> {{ day }} </span>
    </section>
    <section class="date-wrapper">
      <div v-for="day in firstDayOfCurrentMonth" :key="`day${day}`"></div>
      <div
        v-for="date in numberOfDaysInCurrentMonth"
        :key="date"
        @click="updateDate(date)"
        :class="[
          'date',
          { 'today': isToday(date) },
          { 'past':  isPast(date) },
          { 'selected':  isSelected(date) },
          ]"
      >
        {{ date }}
      </div>
    </section>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import BaseToolTipSmall from '@/components/common/ui/base/BaseToolTipSmall.vue';
import mapNumericEnumToArray from '@/includes/common/dataTypeUtils';
import { Months, Days } from '@/types';

  type Direction = 'up' | 'down';

  @Component({ components: { BaseToolTipSmall } })
export default class DatePickerDropdown extends Vue {
    @Prop({ type: Date, required: true })
    readonly value!: Date;

    showPreviousYearTip = false;

    showPreviousMonthTip = false;

    showPreviousResetTip = false;

    showNextMonthTip = false;

    showNextYearTip = false;

    get monthNames() {
      return mapNumericEnumToArray(Months);
    }

    get dayNames() {
      return mapNumericEnumToArray(Days).map((day) => day.slice(0, 2));
    }

    get selectedDate() {
      return this.value.getDate();
    }

    get selectedMonth() {
      return this.value.getMonth();
    }

    get selectedYear() {
      return this.value.getFullYear();
    }

    get currentMonthName() {
      return this.monthNames[this.selectedMonth];
    }

    get numberOfDaysInCurrentMonth() {
      return new Date(this.selectedYear, this.selectedMonth + 1, 0).getDate();
    }

    get firstDayOfCurrentMonth() {
      return new Date(this.selectedYear, this.selectedMonth, 1).getDay();
    }

    updateYear(direction: Direction) {
      let newYear = this.selectedYear;
      if (direction === 'up') {
        newYear++;
      } else if (direction === 'down' && newYear >= 1970) newYear--;
      this.$emit('update', new Date(newYear, this.selectedMonth, this.selectedDate));
    }

    updateMonth(direction: Direction) {
      /* eslint no-plusplus: 0 */
      let newMonth = this.selectedMonth;
      let newYear = this.selectedYear;
      if (direction === 'up') {
        if (newMonth === 11) {
          newMonth = 0;
          newYear++;
        } else {
          newMonth++;
        }
      } else if (direction === 'down') {
        if (newMonth === 0) {
          newMonth = 11;
          newYear--;
        } else {
          newMonth--;
        }
      }
      this.$emit('update', new Date(newYear, newMonth, this.selectedDate));
    }

    updateDate(date: number) {
      this.$emit('update', new Date(this.selectedYear, this.selectedMonth, date));
      this.$emit('close');
    }

    isToday(date: number): boolean {
      const today = new Date();
      const selectedDay = new Date(this.selectedYear, this.selectedMonth, date);
      return new Date(
        today.getFullYear(),
        today.getMonth(),
        today.getDate(),
      ).getTime() === selectedDay.getTime();
    }

    isPast(date: number): boolean {
      const today = new Date();
      const selectedDay = new Date(this.selectedYear, this.selectedMonth, date);
      return new Date(today.getFullYear(), today.getMonth(), today.getDate()) > selectedDay;
    }

    isSelected(date: number): boolean {
      const currentDate = this.value.getTime();
      const selectedDate = new Date(this.selectedYear, this.selectedMonth, date).getTime();
      return currentDate === selectedDate;
    }
}
</script>

<style scoped lang="scss">
  .selector-container {
    padding: 20px;
    background: $common-ui-white;
    box-shadow: $common-ui-blue-shadow,
    0 0 18px 0 rgba($common-ui-blue, 0.1);
    border-radius: 10px;
    width: 360px;
    z-index: 4;
  }

  .selectors-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .month-year {
      @include medium-small-font;
      display: block;
      white-space: nowrap;
    }

    .arrows {
      display: flex;
      cursor: pointer;
    }

    .single, .double, .reset {
      $size: 28px;
      padding: 8px;
      height: $size;
      width: $size;
      border-radius: $size / 2;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.24s;

      &:hover {
        background: $light-ui-hover;
      }
    }

    .single svg {
      width: 8px;
      height: 10px;
    }

    .double svg {
      width: 12px;
      height: 10px;
    }

    .reset svg {
      width: 11px;
      height: 11px;
    }

    .right .single {
      margin-right: 10px;
    }

    .left .single {
      margin-left: 4px;
    }
  }

  .days-wrapper {
    padding: 10px 0;
    margin: 10px auto;
    border-bottom: 1px solid $common-horizontal-line;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    justify-items: center;

    .day {
      @include medium-small-font;
      font-size: 0.8rem;
    }
  }

  .date-wrapper {
    @extend .days-wrapper;
    border: none;
    grid-gap: 14px;
    margin: 0;
    padding: 0;
    font-size: $font-very-small-size;

    .date {
      $size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      border-radius: 50%;
      cursor: pointer;
      transition: all .24s;

      &:hover {
        background: $light-ui-hover;
      }
    }

    .today {
      @include medium-small-font;
      font-family: $font-bold-weight;
    }

    .past {
      color: rgba($light-ui-dark, .5);
    }

    .selected {
      background: $light-ui-dark;
      color: $common-ui-white;
      font-family: $font-regular-weight;

      &:hover {
        background: $light-ui-dark;
      }
    }
  }

  .tooltip {
    position: relative;
  }

  .tip {
    position: absolute;
    top: -36px;
  }

  .dark {
    background: $dark-ui-dark;

    .single, .double, .reset {
      svg path {
        fill: $common-ui-white;
      }

      &:hover {
        background: $dark-ui-hover;
      }
    }

    .days-wrapper {
      border-color: rgba($dark-ui-light, 0.1);
    }

    .date-wrapper .date:hover {
      background: $dark-ui-hover;
    }

    .past {
      color: rgba($common-ui-white, .3);
    }

    .selected {
      background: $common-ui-white;
      color: $light-ui-dark;

      &:hover {
        background: $common-ui-white;
      }
    }
  }
</style>
