<template>
  <transition name="fade" appear>
     <div :class="['schedule-container', { 'dark': $colorScheme === 'dark' }]" v-click-outside>
       <div class="picker-wrapper">
      <div class="start-wrapper">
        <DateInput
          :value="convertToDateObject(startDate)"
          @update="$emit('updateStartDate', $event)"
          @showCalendar="
            () => {
              showStartDateCalendar = !showStartDateCalendar;
              showEndDateCalendar = false;
            }
          "
          :field-label="periodLabel"
          field-id="start-date"
          :description="description"
        />
        <transition name="slide-fast" appear>
          <DatePickerDropdown
            :value="convertToDateObject(startDate)"
            @update="$emit('updateStartDate', $event)"
            @resetDate="$emit('resetStartDate')"
            @close="showStartDateCalendar = false"
            v-if="showStartDateCalendar"
            class="picker-left"
          />
        </transition>
      </div>
      <div class="separator">
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="1" viewBox="0 0 9 1">
          <line
            id="Line_356"
            data-name="Line 356"
            x2="8"
            transform="translate(0.5 0.5)"
            fill="none"
            stroke="#21455e"
            stroke-linecap="round"
            stroke-width="1"
          />
        </svg>
      </div>
      <div class="end-wrapper">
        <DateInput
          :value="convertToDateObject(endDate)"
          @update="$emit('updateEndDate', $event)"
          @showCalendar="
            () => {
              showEndDateCalendar = !showEndDateCalendar;
              showStartDateCalendar = false;
            }
          "
          field-label=""
          field-id="end-date"
        />
        <transition name="slide-fast" appear>
          <DatePickerDropdown
            :value="convertToDateObject(endDate)"
            @update="$emit('updateEndDate', $event)"
            @resetDate="$emit('resetEndDate')"
            @close="showEndDateCalendar = false"
            v-if="showEndDateCalendar"
            class="picker-right"
          />
        </transition>
      </div>
     </div>
       <div v-if="!periodValidity.isValid" class="error-message">
        <div class="error-icon">
          <svg
            class="exclamation"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <g
              id="Group_8570"
              data-name="Group 8570"
              transform="translate(-628 -479)"
            >
              <circle
                id="Ellipse_4260"
                data-name="Ellipse 4260"
                cx="9.044"
                cy="9.044"
                r="9.044"
                transform="translate(628 479)"
                fill="#ee5951"
              />
              <g
                id="Group_8569"
                data-name="Group 8569"
                transform="translate(638.103 492.812) rotate(180)"
              >
                <circle
                  id="Ellipse_4259"
                  data-name="Ellipse 4259"
                  cx="0.994"
                  cy="0.994"
                  r="0.994"
                  transform="translate(0)"
                  fill="#fff"
                />
                <path
                  id="Path_8229"
                  data-name="Path 8229"
                  d="M.595,0A.6.6,0,0,0,0,.595V5.648a.595.595,0,1,0,1.189,0V.595A.6.6,0,0,0,.595,0Z"
                  transform="translate(0.435 3.61)"
                  fill="#fff"
                />
              </g>
            </g>
          </svg>
        </div>
        <p>{{ periodValidity.errorMessage }}</p>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ClosableMenuObserver from '@/includes/common/observers/ClosableMenuObserver';
import { ValueError } from '@/exceptions';
import { InputValidityObject } from '@/types';
import DateInput from './DateInput.vue';
import DatePickerDropdown from './DatePickerDropdown.vue';

@Component({ components: { DatePickerDropdown, DateInput } })
export default class PeriodDatePicker extends Vue {
  mounted() {
    ClosableMenuObserver.subscribe(['showStartDateCalendar', 'showEndDateCalendar']);
  }

  destroyed() {
    ClosableMenuObserver.unsubscribe(['showStartDateCalendar', 'showEndDateCalendar']);
  }

  @Prop({ type: [Date, String] })
  readonly startDate!: Date | string;

  @Prop({ type: [Date, String] })
  readonly endDate!: Date | string;

  @Prop({ type: String, default: 'Period' })
  readonly periodLabel!: string

  @Prop({ type: String, default: '' })
  readonly description!: string;

  @Prop({ type: Array })
  readonly validators!: 'NoEmpty' | 'NoPast' | 'NoReverse'[];

  showStartDateCalendar = false;

  showEndDateCalendar = false;

  periodValidity: InputValidityObject = { isValid: true, errorMessage: '' };

  convertToDateObject(value: Date | string): Date {
    if (value instanceof Date) return value;
    try {
      return new Date(Date.parse(value));
    } catch (e) {
      throw new ValueError('Invalidate date string.');
    }
  }

  validateDates(): boolean | never {
    (this as any).$resetFieldError('periodValidity');
    const today = new Date();
    const todaysDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
    const startDateObject = this.convertToDateObject(this.startDate);
    const endDateObject = this.convertToDateObject(this.endDate);
    // eslint-disable-next-line no-restricted-syntax
    for (const validator of this.validators) {
      switch (validator) {
        case 'NoEmpty':
          if (!startDateObject || !endDateObject) {
            this.periodValidity.isValid = false;
            this.periodValidity.errorMessage = 'Start and End dates are required.';
            return false;
          }
          break;
        case 'NoPast':
          if (startDateObject < todaysDate || (endDateObject && endDateObject < todaysDate)) {
            this.periodValidity.isValid = false;
            this.periodValidity.errorMessage = 'Dates cannot be in the past.';
            return false;
          }
          break;
        case 'NoReverse':
          if (!endDateObject || !startDateObject || endDateObject < startDateObject) {
            this.periodValidity.isValid = false;
            this.periodValidity.errorMessage = 'Start date should be earlier than End date.';
            return false;
          }
          break;
        default:
          throw new ValueError('Unknown Validation Param');
      }
    }
    return true;
  }
}
</script>

<style scoped lang="scss">
  .picker-wrapper {
    display: flex;
    align-items: flex-end;
  }

  .start-wrapper,
  .end-wrapper {
    position: relative;
    max-width: 152px;
  }

  .start-wrapper ::v-deep {
    .input-field {
      border-radius: 6px 0 0 6px;
    }

    .description {
      width: 318px;
    }
  }

  .end-wrapper ::v-deep .input-field {
    border-radius: 0 6px 6px 0;
  }

  .picker-left {
    position: absolute;
    left: -15px;
  }

  .picker-right {
    position: absolute;
    right: -15px;
  }

  .separator {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: $light-ui-hover;
    height: 41px;
  }

  .error-message {
    display: flex;
    align-items: flex-start;
    color: $common-ui-red;
    height: 18px;
    margin-top: 10px;

    p {
      margin-left: 10px;
      margin-top: -4px;
      font-size: $font-very-small-size;
    }

    .error-icon {
      $size: 18px;
      width: $size;
      height: $size;

      svg {
        width: $size;
        height: auto;
      }
    }
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.2s;
  }

  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }

  @media (min-width: 900px) {
    .picker-left, .picker-right {
      left: -104px;
    }

    .picker-right {
      left: -104px;
      right: unset;
    }
  }

  .dark {
    .separator {
      background: $dark-ui-hover;

      svg line {
        stroke: $dark-ui-light;
      }
    }
  }
</style>
