<template>
  <transition name="fade" appear>
    <div :class="['schedule-container', { 'dark': $colorScheme === 'dark' }]" v-click-outside>
      <div class="start-wrapper">
        <DateInput
          :value="convertToDateObject(date)"
          @update="$emit('updateStartDate', $event)"
          @showCalendar="() => { isMenuShown = !isMenuShown; }"
          :field-label="dateLabel"
          :field-id="dateLabel"
          :error-message="dateValidity.errorMessage"
          :input-has-error="!dateValidity.isValid"
        />
        <transition name="slide-fast" appear>
          <DatePickerDropdown
            :value="date"
            @update="$emit('updateDate', $event)"
            @resetDate="$emit('resetDate')"
            @close="isMenuShown = false"
            v-if="isMenuShown"
            class="picker"
          />
        </transition>
      </div>
    </div>
  </transition>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { ValueError } from '@/exceptions';
import { InputValidityObject } from '@/types';
import DateInput from './DateInput.vue';
import DatePickerDropdown from './DatePickerDropdown.vue';

@Component({ components: { DatePickerDropdown, DateInput } })
export default class SingleDatePicker extends Vue {
  @Prop({ type: [Date, String] })
  readonly date!: Date | string;

  @Prop({ type: String, default: 'Date' })
  readonly dateLabel!: string

  @Prop({ type: Array })
  readonly validators!: 'NoEmpty' | 'NoPast' [];

  isMenuShown = false;

  dateValidity: InputValidityObject = { isValid: true, errorMessage: '' };

  convertToDateObject(value: Date | string): Date {
    if (value instanceof Date) return value;
    try {
      return new Date(Date.parse(value));
    } catch (e) {
      throw new ValueError('Invalidate date string.');
    }
  }

  validateDates(): boolean | never {
    (this as any).$resetFieldError('dateValidity');
    const today = new Date();
    const todaysDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
    // eslint-disable-next-line no-restricted-syntax
    for (const validator of this.validators) {
      switch (validator) {
        case 'NoEmpty':
          if (!this.date) {
            this.dateValidity.isValid = false;
            this.dateValidity.errorMessage = `${this.dateLabel} is required.`;
            return false;
          }
          break;
        case 'NoPast':
          if (this.date < todaysDate) {
            this.dateValidity.isValid = false;
            this.dateValidity.errorMessage = `${this.dateLabel} cannot be in the past.`;
            return false;
          }
          break;
        default:
          throw new ValueError('Unknown Validation Param');
      }
    }
    return true;
  }
}
</script>

<style scoped lang="scss">
.schedule-container {
  display: flex;
  justify-content: space-between;
  max-width: 336px;
}

.start-wrapper, .end-wrapper {
  position: relative;
  max-width: 152px;
}

.picker {
  position: absolute;
  left: -15px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@media (min-width: 900px) {
  .picker {
    left: -104px;
  }
}
</style>
